<form [formGroup]="editTitle">
    <h1 mat-dialog-title>Edit Licence</h1>

  <div class="row">
    <div class="col-6">
      <!-- <mat-form-field
        appearance="legacy"
        class="example-full-width"
        style="width: 1200px"
      >
        <input
          matInput
          formControlName="title"
          style="text-transform: capitalize !important"
        />
      </mat-form-field> -->
      <input
      type="text"
      formControlName="title"
      class="form-control sign"
      id="title"
      placeholder="Licence Name"
    />
    </div>
    <div class="col-6">
      <select
        class="form-select form-control"
        aria-label="Default select example"
        formControlName="tradeCategoryId"
      >
     
        <option *ngFor="let item of categories" [value]="item._id">{{item.title}}</option>
    
      </select>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-2 offset-8">
      <button mat-raised-button (click)="closeDialog()">Close</button>
    </div>
    <div class="col-sm-2">
      <button
        mat-raised-button
        [disabled]="!editTitle.valid"
        (click)="onFormSubmit()"
      >
        Update
      </button>
    </div>
  </div>
</form>
