<div
	class="btn btn-outline-primary"
	*ngIf="!dialogData?.isDialog"
	[routerLink]="['/admin/registration/employeeRegistration']"
>
	<i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>

<div [ngClass]="{'container card px-4 py-4':dialogData === null}">
	<form [formGroup]="empDetails">
		<h1 class="text-center mt-3 pt-3">
			<p class="title">Employee Information</p>
		</h1>
		<mat-tab-group>
			<mat-tab label="Profile" (click)="profileshow()">
				<div class="row">
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Title</label
						>
						<select
							class="form-select form-control"
							aria-label="Default select example"
							formControlName="profTitie"
							[class.is-invalid]="(registerFormControl.profTitie.touched || submitted) && registerFormControl.profTitie.errors?.required "
						>
							<option selected hidden>Select</option>
							<option [value]="">Mr.</option>
							<option [value]="">Mrs.</option>
							<option [value]="">Miss</option>
							<option [value]="">Ms.</option>
						</select>
						<span
							class="text-danger"
							*ngIf="(registerFormControl.profTitie.touched || submitted) && registerFormControl.profTitie.errors?.required"
						>
							Title is required
						</span>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>First Name</label
						>
						<input
							appTitleCase
							type="text"
							formControlName="profFirst"
							class="form-control inputData"
							[ngClass]="formData"
							[class.is-invalid]="(registerFormControl.profFirst.touched || submitted) && registerFormControl.profFirst.errors?.required "
						/>

						<span
							class="text-danger"
							*ngIf="(registerFormControl.profFirst.touched || submitted) && registerFormControl.profFirst.errors?.required"
						>
							First Name is required
						</span>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Last Name</label
						>
						<input
							appTitleCase
							type="text"
							formControlName="porfListName"
							class="form-control inputData"
							[class.is-invalid]="(registerFormControl.porfListName.touched || submitted) && registerFormControl.porfListName.errors?.required "
						/>
						<span
							class="text-danger"
							*ngIf="(registerFormControl.porfListName.touched || submitted) && registerFormControl.porfListName.errors?.required"
						>
							Last Name is required
						</span>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Email</label
						>
						<input
							type="text"
							formControlName="porfEmail"
							class="form-control"
							[class.is-invalid]="(registerFormControl.porfEmail.touched || submitted) && registerFormControl.porfEmail.errors?.required "
						/>
						<div
							class="text-danger"
							*ngIf="(registerFormControl.porfEmail.touched || submitted) && registerFormControl.porfEmail.errors?.required"
						>
							Email is required
						</div>
						<div
							class="text-danger"
							*ngIf="(registerFormControl.porfEmail.touched || submitted) && registerFormControl.porfEmail.errors?.email"
						>
							Enter Valid Email.
						</div>
					</div>
				</div>

				<div class="row">
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Position</label
						>
						<input
							type="text"
							formControlName="porfPosition"
							class="form-control"
							id="siteName"
							[class.is-invalid]="(registerFormControl.porfPosition.touched || submitted) && registerFormControl.porfPosition.errors?.required "
						/>
						<span
							class="text-danger"
							*ngIf="(registerFormControl.porfPosition.touched || submitted) && registerFormControl.porfPosition.errors?.required"
						>
							Position is required
						</span>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Department</label
						>
						<input
							type="text"
							formControlName="porfDepartment"
							class="form-control"
							[class.is-invalid]="(registerFormControl.porfDepartment.touched || submitted) && registerFormControl.porfDepartment.errors?.required "
						/>
						<span
							class="text-danger"
							*ngIf="(registerFormControl.porfDepartment.touched || submitted) && registerFormControl.porfDepartment.errors?.required"
						>
							Department is required
						</span>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Phone</label
						>
						<input
							type="text"
							formControlName="porfPhone"
							class="form-control"
							[class.is-invalid]="(registerFormControl.porfPhone.touched || submitted) && registerFormControl.porfPhone.errors?.required "
						/>
						<div
							class="text-danger"
							*ngIf="(registerFormControl.porfPhone.touched || submitted) && registerFormControl.porfPhone.errors?.required"
						>
							Phone Number is required
						</div>
						<div
							class="text-danger"
							*ngIf="(registerFormControl.porfPhone.touched || submitted) && registerFormControl.porfPhone.errors?.wrongNumber"
						>
							Enter Valid Phone Number
						</div>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Mobile</label
						>
						<input
							type="text"
							formControlName="porfMobile"
							class="form-control"
							[class.is-invalid]="(registerFormControl.porfMobile.touched || submitted) && registerFormControl.porfMobile.errors?.required "
						/>
						<div
							class="text-danger"
							*ngIf="(registerFormControl.porfMobile.touched || submitted) && registerFormControl.porfMobile.errors?.required"
						>
							Mobile Number is required
						</div>
						<div
							class="text-danger"
							*ngIf="(registerFormControl.porfMobile.touched || submitted) && registerFormControl.porfMobile.errors?.wrongNumber"
						>
							Enete Valid Mobile Number
						</div>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label class="form-label mb-3"
							>Administration Right</label
						>
						<select
							class="form-select form-control"
							aria-label="Default select example"
							formControlName="roleId"
							[class.is-invalid]="(registerFormControl.porfPhone.touched || submitted) && registerFormControl.porfPhone.errors?.required "
						>
							<option selected hidden>Select</option>
							<option
								*ngFor="let item of roleData"
								[value]="item._id"
							>
								{{item.role}}
							</option>
						</select>
						<span
							*ngIf="(registerFormControl.porfPhone.touched || submitted) && registerFormControl.porfPhone.errors?.required  "
							class="invalid-feedback"
						>
							Administration Right is Required</span
						>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label class="form-label mb-3">Reporting To</label>
						<select
							class="form-select form-control"
							aria-label="Default select example"
							formControlName="reportingTo"
							[class.is-invalid]="(registerFormControl.reportingTo.touched || submitted) && registerFormControl.reportingTo.errors?.required "
						>
							<option selected hidden>Select</option>
							<option
								*ngFor="let x of reportingData"
								[value]="x._id"
							>
								{{x.firstName}} {{x.lastName}}
							</option>
						</select>
						<span
							*ngIf="(registerFormControl.reportingTo.touched || submitted) && registerFormControl.reportingTo.errors?.required  "
							class="invalid-feedback"
						>
							Reporting To is Required</span
						>
					</div>
				</div>

				<div class="row">
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Street Address</label
						>
						<textarea
							autosize
							type="text"
							formControlName="porfStreetAddress"
							class="form-control"
							id="name"
							[class.is-invalid]="(registerFormControl.porfStreetAddress.touched || submitted) && registerFormControl.porfStreetAddress.errors?.required "
						></textarea>
						<span
							class="text-danger"
							*ngIf="(registerFormControl.porfStreetAddress.touched || submitted) && registerFormControl.porfStreetAddress.errors?.required"
						>
							Street Address is required
						</span>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Suburb</label
						>
						<textarea
							autosize
							type="text"
							formControlName="porfSuburb"
							class="form-control"
							[class.is-invalid]="(registerFormControl.porfSuburb.touched || submitted) && registerFormControl.porfSuburb.errors?.required "
						></textarea>
						<span
							class="text-danger"
							*ngIf="(registerFormControl.porfSuburb.touched || submitted) && registerFormControl.porfSuburb.errors?.required"
						>
							Suburb is required
						</span>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>State</label
						>
						<select
							class="form-select form-control col"
							aria-label="Default select example"
							formControlName="porfState"
							[value]="registerFormControl.porfState.value"
							[class.is-invalid]="(registerFormControl.porfState.touched || submitted) && registerFormControl.porfState.errors?.required "
						>
							<option selected hidden>Select</option>
							<option
								[value]="state._id"
								*ngFor="let state of StatesData"
							>
								{{state.title}}
							</option>
						</select>
						<span
							class="text-danger"
							*ngIf="(registerFormControl.porfState.touched || submitted) && registerFormControl.porfState.errors?.required"
						>
							State is required
						</span>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Postal Code</label
						>
						<input
							type="text"
							numbersOnly
							formControlName="porfPostalCode"
							class="form-control"
							[class.is-invalid]="(registerFormControl.porfPostalCode.touched || submitted) && registerFormControl.porfPostalCode.errors?.required "
						/>
						<span
							class="text-danger"
							*ngIf="(registerFormControl.porfPostalCode.touched || submitted) && registerFormControl.porfPostalCode.errors?.required"
						>
							Postal Code is required
						</span>
					</div>
				</div>
				<div class="row py-3">
					<div class="offset-1 col-3 mt-2">
						<img
							[src]="file1"
							onerror=" this.src='../../../assets/img/uploadImg.png' "
							alt=""
							width="130"
							height="130"
						/>
					</div>
					<div class="col-5 ml-4">
						<div class="my-3">
							<label for="formFile" class="form-label"
								>Upload Image</label
							>
							<input
								class="form-control"
								type="file"
								(change)="browser1($event)"
							/>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-12">
						<p class="emergrncy_1">Emergency Contact Information</p>
					</div>
				</div>

				<div class="row">
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>First Name</label
						>
						<input
							appTitleCase
							type="text"
							formControlName="EmpFirst"
							class="form-control"
							id="siteName"
							[class.is-invalid]="(registerFormControl.EmpFirst.touched || submitted) && registerFormControl.EmpFirst.errors?.required "
						/>
						<span
							class="text-danger"
							*ngIf="(registerFormControl.EmpFirst.touched || submitted) && registerFormControl.EmpFirst.errors?.required"
						>
							First Name is required
						</span>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Last Name</label
						>
						<input
							appTitleCase
							type="text"
							formControlName="empLastName"
							class="form-control"
							[class.is-invalid]="(registerFormControl.empLastName.touched || submitted) && registerFormControl.empLastName.errors?.required "
						/>
						<span
							class="text-danger"
							*ngIf="(registerFormControl.empLastName.touched || submitted) && registerFormControl.empLastName.errors?.required"
						>
							Last Name is required
						</span>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Relationship</label
						>
						<input
							type="text"
							formControlName="empRelationship"
							class="form-control"
							[class.is-invalid]="(registerFormControl.empRelationship.touched || submitted) && registerFormControl.empRelationship.errors?.required "
						/>
						<span
							class="text-danger"
							*ngIf="(registerFormControl.empRelationship.touched || submitted) && registerFormControl.empRelationship.errors?.required"
						>
							Relationship is required
						</span>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Email
						</label>
						<input
							type="text"
							formControlName="empEmail"
							class="form-control"
							[class.is-invalid]="(registerFormControl.empEmail.touched || submitted) && registerFormControl.empEmail.errors?.required "
						/>
						<div
							class="text-danger"
							*ngIf="(registerFormControl.empEmail.touched || submitted) && registerFormControl.empEmail.errors?.required"
						>
							Email is required
						</div>
						<div
							class="text-danger"
							*ngIf="(registerFormControl.empEmail.touched || submitted) && registerFormControl.empEmail.errors?.email"
						>
							Enter Valid Email
						</div>
					</div>
				</div>

				<div class="row">
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Phone</label
						>
						<input
							type="text"
							formControlName="empPhone"
							class="form-control"
							id="siteName"
							[class.is-invalid]="(registerFormControl.empPhone.touched || submitted) && registerFormControl.empPhone.errors?.required "
						/>
						<div
							class="text-danger"
							*ngIf="(registerFormControl.empPhone.touched || submitted) && registerFormControl.empPhone.errors?.required"
						>
							Phone Number is required
						</div>
						<div
							class="text-danger"
							*ngIf="(registerFormControl.empPhone.touched || submitted) && registerFormControl.empPhone.errors?.wrongNumber"
						>
							Enter Valid Phone Number
						</div>
					</div>
					<div class="mb-3 mt-3 col-3">
						<label for="exampleFormControlInput1" class="form-label"
							>Mobile</label
						>
						<input
							type="text"
							formControlName="empMobile"
							class="form-control"
							[class.is-invalid]="(registerFormControl.empMobile.touched || submitted) && registerFormControl.empMobile.errors?.required "
						/>
						<div
							class="text-danger"
							*ngIf="(registerFormControl.empMobile.touched || submitted) && registerFormControl.empMobile.errors?.required"
						>
							Mobile Number is required
						</div>
						<div
							class="text-danger"
							*ngIf="(registerFormControl.empMobile.touched || submitted) && registerFormControl.empMobile.errors?.wrongNumber"
						>
							Enter Valid Mobile Number
						</div>
					</div>
				</div>
				<button
					type="submit"
					class="btn btn-outline-primary btn_1"
					*ngIf="!dataEmp"
					[disabled]="!empDetails.valid"
					(click)="onFormSubmit()"
				>
					Submit
				</button>
				<button
					type="submit"
					class="btn btn-outline-primary btn_1"
					*ngIf="dataEmp"
					[disabled]="!empDetails.valid"
					(click)="onFormUpdate($event)"
				>
					Update
				</button>
			</mat-tab>
			<mat-tab
				label="Licence And Qualifications"
				(click)="LicenceInfoshow()"
			>
				<div formArrayName="UploadLicenceArr">
					<div
						*ngFor="let row of addLicence().controls; let filed = index"
					>
						<div [formGroupName]="filed">
							<div class="row">
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Licence Name</label
									>
									<input
										type="text"
										formControlName="LicenceName"
										[matAutocomplete]="employee1"
										class="form-control"
										id="siteName"
									/>
									<mat-autocomplete
										#employee1="matAutocomplete"
									>
										<mat-option
											*ngFor="let option of licenceValueChanges[filed] | async ; let i = index "
											[value]="option.title"
										>
											{{option.title}}
										</mat-option>
									</mat-autocomplete>
								</div>
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Licence Number</label
									>
									<input
										type="text"
										formControlName="LicenceNumber"
										class="form-control"
									/>
								</div>
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Training Organisation</label
									>
									<input
										type="text"
										formControlName="TrainingQrginisation"
										class="form-control"
									/>
								</div>
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Expiry Date
									</label>
									<input
										type="date"
										formControlName="ExpiryDate"
										class="form-control"
									/>
								</div>
							</div>

							<div class="row">
								<div class="col-10">
									<div class="my-3">
										<label
											for="formFile1"
											class="form-label"
											>Upload Licence</label
										>
										<input
											class="form-control"
											type="file"
											(change)="browser($event,filed)"
										/>
									</div>
								</div>

								<div class="col-1 mt-4">
									<div class="my-4">
										<span
											class="material-icons"
											(click)="addFiled()"
											>add_circle_outline
										</span>
									</div>
								</div>
								<div class="col-1 mt-4">
									<div class="my-4">
										<span
											class="material-icons"
											(click)="removeFiled(filed)"
										>
											remove_circle_outline
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button
					type="submit"
					class="btn btn-outline-primary btn_1"
					*ngIf="!dataEmp"
					[disabled]="!empDetails.valid"
					(click)="onFormSubmit()"
				>
					Submit
				</button>
				<button
					type="submit"
					class="btn btn-outline-primary btn_1"
					*ngIf="dataEmp"
					[disabled]="!empDetails.valid"
					(click)="onFormUpdate($event)"
				>
					Update
				</button>
			</mat-tab>
			<mat-tab label="PPE Register" (click)="PPERegisteshow()">
				<div formArrayName="PPEArr">
					<div
						*ngFor="let row of addPPE().controls; let filed1 = index"
					>
						<div [formGroupName]="filed1">
							<div class="row">
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>PPE Supplied</label
									>
									<input
										type="text"
										formControlName="PPESupplied"
										[matAutocomplete]="employee2"
										class="form-control"
										id="siteName"
									/>
									<mat-autocomplete
										#employee2="matAutocomplete"
									>
										<mat-option
											*ngFor="let option of PPEValueChanges[filed1] | async ; let i = index "
											[value]="option.title"
										>
											{{option.title}}
										</mat-option>
									</mat-autocomplete>
								</div>
								<div class="mb-3 mt-3 col-2">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Brand or Type</label
									>
									<input
										type="text"
										formControlName="BrandOrType"
										class="form-control"
									/>
								</div>
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Issue Date</label
									>
									<input
										type="date"
										formControlName="IssueDate"
										class="form-control"
									/>
								</div>
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Replacement Date
									</label>
									<input
										type="date"
										formControlName="ReplacementDate"
										class="form-control"
									/>
								</div>
								<div class="col-1 mt-4 d-flex">
									<div class="my-4">
										<span
											class="material-icons"
											(click)="addFiled2()"
											>add_circle_outline
										</span>
									</div>
									<div class="my-4 ml-2">
										<span
											class="material-icons"
											(click)="removeFiled1(filed1)"
										>
											remove_circle_outline
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="mb-3 mt-3 col-12">
						<label>Signature</label>
						<div class="sign">
							<signature-pad
								#signature1
								[options]="signaturePadOptions"
								(onBeginEvent)="drawStart()"
								(onEndEvent)="drawComplete()"
							></signature-pad>
						</div>
					</div>
					<button
						class="btn btn-outline-primary btn_1"
						(click)="clear()"
					>
						Clear
					</button>
					<button
						type="submit"
						class="btn btn-outline-primary btn_1"
						*ngIf="!dataEmp"
						[disabled]="!empDetails.valid"
						(click)="onFormSubmit()"
					>
						Submit
					</button>
					<button
						type="submit"
						class="btn btn-outline-primary btn_1"
						*ngIf="dataEmp"
						[disabled]="!empDetails.valid"
						(click)="onFormUpdate($event)"
					>
						Update
					</button>
				</div>
			</mat-tab>
			<mat-tab label="Plant/Equipment Register" (click)="addPlantshow()">
				<div formArrayName="plantArr">
					<div
						*ngFor="let row of addEquip().controls; let filed2 = index"
					>
						<div [formGroupName]="filed2">
							<div class="row">
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Plant Type
									</label>
									<input
										type="text"
										formControlName="plantType"
										class="form-control"
									/>
								</div>
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Model Number</label
									>
									<input
										type="text"
										formControlName="modelNumber"
										class="form-control"
									/>
								</div>

								<div class="mb-3 mt-3 col-2">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Serial Number</label
									>
									<input
										type="text"
										formControlName="serialNumber"
										class="form-control"
									/>
								</div>

								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Service/Replacement Date</label
									>
									<input
										type="date"
										formControlName="serviceRenewDate"
										class="form-control"
									/>
								</div>

								<div
									class="col-1 mt-4 d-flex justify-content-end"
								>
									<div class="my-4">
										<span
											class="material-icons"
											(click)="addEquipFiled2()"
											>add_circle_outline
										</span>
									</div>
									<div class="my-4 ml-2">
										<span
											class="material-icons"
											(click)="removeEquipFiled1(filed2)"
										>
											remove_circle_outline
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="mb-3 mt-3 col-12">
						<label>Signature</label>
						<div class="sign">
							<signature-pad
								#signature2
								[options]="signaturePadOptions"
								(onBeginEvent)="drawStart()"
								(onEndEvent)="drawComplete2()"
							></signature-pad>
						</div>
					</div>
					<button
						class="btn btn-outline-primary btn_1"
						(click)="clear2()"
					>
						Clear
					</button>
					<button
						type="submit"
						class="btn btn-outline-primary btn_1"
						*ngIf="!dataEmp"
						[disabled]="!empDetails.valid"
						(click)="onFormSubmit()"
					>
						Submit
					</button>
					<button
						type="submit"
						class="btn btn-outline-primary btn_1"
						*ngIf="dataEmp"
						[disabled]="!empDetails.valid"
						(click)="onFormUpdate($event)"
					>
						Update
					</button>
				</div>
			</mat-tab>
		</mat-tab-group>
	</form>
</div>
