
    
<div class=" col ml-2 pt-3">
  <h2> Header Info </h2>
  </div>
  <div class=" ">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element,let i = index">{{i+1}}</td>
      </ng-container>
  
      <!-- Name Column -->
     
  <!-- Name Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let element"><img src ="{{ element.fileUrl }}" height="120px" width="120px"> </td>
  </ng-container>
  <ng-container matColumnDef="heading">
    <th mat-header-cell *matHeaderCellDef>Heading </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
 
  
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"  (click)="openDialogEdit(element)"> <i class="fas fa-pencil-alt mr-2 " ></i>
    </td>
  </ng-container>

  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
   
  </div>
  
<!-- 
  <section class="content" [formGroup]="serviceDetail">
    <div class="container-fluid">
    
      <div class="row">
        <div class="col pt-3">
          <h2>Header Format</h2>
        </div>
      
      </div>
      <div class="row">
        <div class="col-12">
   
          <div class="card">

            <div class="card-body p-0">
              <table class="table table-hover text-wrap" >
                <thead>
                  <tr>
                    <th style="width: 20%">Images</th>
                    <th style="width: 20%">Heading</th>
                    <th style="width: 40%"> Description</th>
                 
                  
                    <th style="width: 10%">Action</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src ="{{ infoData?.fileUrl }}" height="120px" width="120px"></td>
                    
                    <td>{{ infoData?.title }}</td>
                    <td>{{ infoData?.description }}</td>
                  
                  
                    <td>
                      <button
                        class="btn editBtn "
                        (click)="openDialogEdit(serviceDetail)"
                      >
                        <i class="fas fa-pencil-alt " title="Edit"></i>
                      </button>
  
                   
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </section>
  -->