<form [formGroup]="editTitle">
	<h2 *ngIf="!dataRec">Add Safety Legislation</h2>
	<h2 *ngIf="dataRec">Edit Safety Legislation</h2>
	<mat-form-field
		appearance="legacy"
		class="example-full-width"
		style="width: 498px"
	>
		<!-- <mat-label >Add Regulator</mat-label> -->
		<!-- <mat-label >Edit Regulator</mat-label> -->
		<input matInput placeholder="Act" formControlName="act" />
	</mat-form-field>
	<mat-form-field
		appearance="legacy"
		class="example-full-width"
		style="width: 498px"
	>
		<!-- <mat-label >Add Regulator</mat-label> -->
		<!-- <mat-label >Edit Regulator</mat-label> -->
		<input matInput placeholder="Regulation" formControlName="regulation" />
	</mat-form-field>
	<div class="row">
		<div class="col-sm-2 offset-8">
			<button mat-raised-button (click)="closeDialog()">Close</button>
		</div>
		<div class="col-sm-2">
			<button
				mat-raised-button
				*ngIf="dataRec"
				[disabled]="!editTitle.valid"
				(click)="onFormSubmit()"
			>
				Update
			</button>
			<button
				mat-raised-button
				*ngIf="!dataRec"
				[disabled]="!editTitle.valid"
				(click)="addForm()"
			>
				Add
			</button>
		</div>
	</div>
</form>
