<div
	class="btn btn-outline-primary"
	*ngIf="!isHistory"
	[routerLink]="['/admin/forms/fillConfigForm/'+0]"
>
	<i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>
<div
	class="btn btn-outline-primary"
	*ngIf="isHistory"
	[routerLink]="['/admin/forms/hazardTable']"
>
	<i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>
<div class="col ml-2 pt-3">
	<h1 *ngIf="!isHistory">Hazard Form List</h1>
	<h1 *ngIf="isHistory">Hazard Form History List</h1>
</div>
<div class=" ">
	<table
		mat-table
		[dataSource]="dataSource"
		matSort
		(matSortChange)="sortData($event)"
	>
		<!-- Position Column -->
		<ng-container matColumnDef="version">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
			<td mat-cell *matCellDef="let element">{{element.version}}</td>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="formId">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Form Id</th>
			<td mat-cell *matCellDef="let element;let i=index">
				{{element.formId}}
			</td>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
			<td mat-cell *matCellDef="let element;let i=index">
				{{element.fullName}}
			</td>
		</ng-container>
		<ng-container matColumnDef="phone">
			<th mat-header-cell *matHeaderCellDef>Phone</th>
			<td mat-cell *matCellDef="let element">{{element.phone}}</td>
		</ng-container>
		<ng-container matColumnDef="email">
			<th mat-header-cell *matHeaderCellDef>Email</th>
			<td mat-cell *matCellDef="let element">{{element.email}}</td>
		</ng-container>
		<ng-container matColumnDef="site">
			<th mat-header-cell *matHeaderCellDef>Position</th>
			<td mat-cell *matCellDef="let element">{{element.position}}</td>
		</ng-container>
		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef>Created Date</th>
			<td mat-cell *matCellDef="let element">
				{{element.createdAt | date:'medium'}}
			</td>
		</ng-container>
		<ng-container matColumnDef="updatedAt">
			<th mat-header-cell *matHeaderCellDef>Updated Date</th>
			<td mat-cell *matCellDef="let element">
				{{element.updatedAt | date:'medium'}}
			</td>
		</ng-container>
		<ng-container matColumnDef="createdTime">
			<th mat-header-cell *matHeaderCellDef>Created Date</th>
			<td mat-cell *matCellDef="let element">
				{{element.createdTime | date:'medium'}}
			</td>
		</ng-container>
		<ng-container matColumnDef="updatedTime">
			<th mat-header-cell *matHeaderCellDef>Updated Date</th>
			<td mat-cell *matCellDef="let element">
				{{element.updatedTime | date:'medium'}}
			</td>
		</ng-container>
		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef>Action</th>
			<td mat-cell *matCellDef="let element">
				<div
					style="display: flex; justify-content: space-around"
					*ngIf="!isHistory"
				>
					<span
						class="material-icons"
						matTooltip="Edit"
						(click)="edit(element._id)"
					>
						edit
					</span>
					<span
						class="material-icons"
						matTooltip="print"
						(click)="printPage(element._id)"
					>
						print
					</span>
					<span
						class="material-icons"
						matTooltip="Delete"
						(click)="delete(element._id)"
					>
						delete
					</span>
					<span
						class="material-icons"
						matTooltip="History"
						[routerLink]="['/admin/forms/hazardTable/history/'+element._id]"
						routerLinkActive="router-link-active"
					>
						history
					</span>
				</div>
				<div
					*ngIf="isHistory"
					style="display: flex; justify-content: space-around"
				>
					<span
						class="material-icons"
						matTooltip="View Form"
						(click)="view(element._id)"
					>
						visibility
					</span>
				</div>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">Data Not Found</td>
		</tr>
	</table>

	<mat-paginator
		[pageSizeOptions]="[20]"
		showFirstLastButtons
		aria-label="Select page of periodic elements"
	>
	</mat-paginator>
</div>
