
input[type="radio"]{
    display:inline-block;
    height: 17px;
    width:17px;
    border:1px solid rgb(97, 7, 214);
    border-color: blue;
    position:relative;
    border-radius: 3px;
    color: blue;
    padding: 0 6px;
   margin: 10px 0 0;
   top: 2px;
   
}

  input[type="radio"] {
    color: #666;
    font-weight: normal;
  }

input[type="radio"]:hover::before {
    content: " ";
    display: inline-block;
    position: relative;
    top: -2px;
    right:2px ;
    bottom: 1px;
    
   
    //margin: 0 100px 10px 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 3px solid #2e69ff40;
    background-color: transparent;
  }
  
  input[type="radio"]+p:checked::after {
    border-radius: 11px;
    width: 20px;
    height: 20px;
    position: absolute;
    border: 2px solid #2e69ff40;
   // top: 9px;
   // left: 10px;
    content: " ";
    display: block;
    background: #2e69ff40;
  }


.outline:hover{
	border: 1px solid;
	border-color: #2e69ff40;
    box-shadow: 0 0 0 3px rgb(46,105, 255 ,0.25);
  }
  
  .outline:focus{
	border: 1px solid;
	border-color: #2e69ff40;
    box-shadow: 0 0 0 3px rgb(46,105, 255 ,0.25);
  } 
//   .form-line-active{
//       background-color: rgba(42, 243, 42, 0.89);
//   }
  .form-Label{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    word-break: break-word;
    font-family: Inter,sans-serif;
    width: 100%;
    margin-left: 2px;
    margin-bottom: 14px;
  }

//   body{
// 	font-family: Inter,sans-serif
//   }
  .subtitel{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    word-break: break-word; 
    font-family: Inter,sans-serif
  }

  
  .nav-tabs .nav-link.active{
      border: 3px solid;
    color: #495057;
    background-color: #fff;
    border-color: #2e69ff40  #2e69ff40 #fff;
    border-radius: 1px;
    font-family: Inter,sans-serif
  }
 .title{
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    word-break: break-word; 
    font-family: Inter,sans-serif
 }
 button {
    // background-color: transparent;
    // background-repeat: no-repeat;
    // cursor: pointer;
    // overflow: hidden;
     background-color: #eeeeee;
     border: none;
     outline: none;
     height: 40px;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-dropdown {
  padding: 0 1.875em 0 .625em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z'/%3E%3C/svg%3E");
  background-position: right 10px bottom 50%;
  background-size: 0.925em;
  background-repeat: no-repeat;
}