

<h2>
  Customer List
  <button (click)="openDialog('abcd')" _ngcontent-hqi-c400="" type="button" class="btn btn-outline-primary mt-1 mr-2 float-right"><i _ngcontent-hqi-c400="" class="fas fa-plus"></i> Add </button>

</h2>
<!-- <div class="col ml-2 mb-2">
  
  <div class="col-sm-9" style="display: flex; justify-content: flex-end">
    <button _ngcontent-tdm-c400="" (click)="openDialog('id')" type="button" class="btn btn-outline-primary mt-1 mr-2 float-right"><i _ngcontent-tdm-c400="" class="fas fa-plus"></i> Add Job Number </button>
</div>
</div> -->
<div class="mat-elevation-z8 ml-2">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i = index">{{i+1}}</td>
    </ng-container>

    <!-- Name Column -->
   
<!-- Name Column -->
<ng-container matColumnDef="jobNumber">
  <th mat-header-cell *matHeaderCellDef> Job Number </th>
  <td mat-cell *matCellDef="let element"> {{element.jobNumber}} </td>
</ng-container>

<ng-container matColumnDef="siteName">
  <th mat-header-cell *matHeaderCellDef> Site Name </th>
  <td mat-cell *matCellDef="let element"> {{element.siteName}} </td>
</ng-container>

<ng-container matColumnDef="streetNumber">
  <th mat-header-cell *matHeaderCellDef> Street Number </th>
  <td mat-cell *matCellDef="let element"> {{element.streetNumber}} </td>
</ng-container>

<ng-container matColumnDef="streetAddress">
  <th mat-header-cell *matHeaderCellDef> Street Address </th>
  <td mat-cell *matCellDef="let element"> {{element.streetAddress}} </td>
</ng-container>

<!-- <ng-container matColumnDef="Suburb">
  <th mat-header-cell *matHeaderCellDef> Suburb </th>
  <td mat-cell *matCellDef="let element"> {{element.Suburb}} </td>
</ng-container> -->

<ng-container matColumnDef="state">
  <th mat-header-cell *matHeaderCellDef> State </th>
  <td mat-cell *matCellDef="let element"> {{element.state}} </td>
</ng-container>

<ng-container matColumnDef="customerName">
  <th mat-header-cell *matHeaderCellDef> Customer Name </th>
  <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
</ng-container>

<ng-container matColumnDef="customerContact">
  <th mat-header-cell *matHeaderCellDef> Customer Contact </th>
  <td mat-cell *matCellDef="let element"> {{element.customerContact}} </td>
</ng-container>

<ng-container matColumnDef="customerContactPhone">
  <th mat-header-cell *matHeaderCellDef> Customer Contact Phone </th>
  <td mat-cell *matCellDef="let element"> {{element.customerContactPhone}} </td>
</ng-container>

<ng-container matColumnDef="customerEmail">
  <th mat-header-cell *matHeaderCellDef> Customer Email </th>
  <td mat-cell *matCellDef="let element"> {{element.customerEmail}} </td>
</ng-container>



<ng-container matColumnDef="edit">
  <th mat-header-cell *matHeaderCellDef> Edit </th>
  <td mat-cell *matCellDef="let element"(click)="edit(element)"> <i class="fas fa-pencil-alt "></i> 
  </td>
</ng-container>
<ng-container matColumnDef="delete">
  <th mat-header-cell *matHeaderCellDef> Delete </th>
  <td mat-cell *matCellDef="let element"(click)="delete(element)"> <i class="fas fa-trash "></i> 
  </td>
</ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
