<section class="content" [formGroup]="ContactUsDetail">
  <div class="container-fluid">
    <!-- <div class="row">
                  <div class="col text-center">
                    <h1>Header Format</h1>
                  </div>
                </div> -->
    <div class="row">
      <div class="col pt-3">
        <h1>Contact Us Format</h1>
      </div>
      <!-- <div class="col pt-2">
        <button
          type="button"
          class="btn btn-outline-primary mt-1 mr-2 float-right"
          (click)="openDialog($event)"
        >
          Add Form
        </button>
      </div> -->
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table class="table table-hover text-wrap">
              <thead>
                <tr>
                  <th style="width: 20%">Full Name</th>
                  <th style="width: 25%">Phone Number</th>
                  <th style="width: 25%">Email</th>
                  <th style="width: 25%">Query</th>
                  <th style="width: 30%">Action</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataContact; let i = index">
                  <td>{{ data?.fullName }}</td>
                  <td>{{ data?.phone }}</td>
                  <td>{{ data?.email }}</td>
                  <td>{{ data?.query }}</td>
                  <td>
                    <button
                      class="btn btn-info btn-sm mr-2"
                      (click)="openView(ContactUsDetail)"
                    >
                      views
                    </button>

                    <!-- <button
                                  class="btn btn-primary btn-sm mr-2"
                                 
                                >
                                  <i class="fas fa-folder mr-2"></i>View
                                </button>
                                <button
                                  class="btn btn-danger btn-sm mr-2"
                                 
                                >
                                  <i class="fas fa-trash mr-2"></i>Delete
                                </button> -->
                  </td>
                  <td>
                    <button
                      class="btn btn-danger btn-sm mr-2"
                      (click)="deleteopen(deletemodal, data._id)"
                    >
                      <i class="fas fa-trash mr-2"></i>Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->

          <!-- <div class="card-footer clearfix">
                        <div class="row"> -->
          <!-- <div class="col-6">
                            <div class="form-group">
                              <select
                                class="form-control custom-select"
                                style="width: auto"
                                [(ngModel)]="pageSize"
                                (ngModelChange)="refreshList()"
                              >
                                <option *ngFor="let size of [10, 20, 30]" [ngValue]="size">
                                  {{ size }} Items
                                </option>
                              </select>
                            </div>
                          </div> -->
          <!-- <div class="col-6">
                            <ngb-pagination
                              [(page)]="page"
                              [pageSize]="pageSize"
                              [collectionSize]="collectionSize"
                              (pageChange)="refreshList()"
                              class="pagination"
                              [maxSize]="5"
                            ></ngb-pagination>
                          </div> -->
          <!-- </div>
                      </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #deletemodal let-modal>
  <div class="modal-header titel">
    <h2 class="modal-title titel" id="modal-basic-title">Are you sure?</h2>
  </div>
  <div class="modal-body deletebody">
    <p></p>
    <p>Do you want to delete this Module</p>
  </div>
  <div class="modal-footer footer">
    <button
      type="button"
      class="btn mr-3"
      style="background-color: #eeeeee"
      (click)="modal.dismiss('Save click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger ml-3"
      aria-label="Close"
      (click)="modal.close('Cross click')"
    >
      Delete
    </button>
  </div>
</ng-template>
