<div class=" col ml-2 pt-2">
  <h2> Our Safety Modules </h2>
</div>
<div class=" ">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="heading">
      <th mat-header-cell *matHeaderCellDef> Heading </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editForm(element._id, false)"
          aria-label="Example icon button with a delete icon">
          <mat-icon matTooltip="Edit">edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="row">
  <div class="col ml-2 mb-2">
    <button (click)="addForm('')" class="btn btn-outline-primary mt-1 mr-2 float-right">
      <i class="fas fa-plus mr-2"></i>Add Modules
    </button>
  </div>
</div>
<div class=" ">
  <table mat-table [dataSource]="dataSources" matSort>
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.index}} </td>
    </ng-container>
    <ng-container matColumnDef="images">
      <th mat-header-cell *matHeaderCellDef> Images </th>
      <td mat-cell *matCellDef="let element"> <img src="{{element.fileUrl}} " height="100px" width="100px" /> </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action </th>
      <td mat-cell *matCellDef="let element let i=index">
        <button mat-icon-button (click)="editForm(element._id, true,i)" class="mr-2"
          aria-label="Example icon button with a delete icon">
          <mat-icon matTooltip="Edit Module">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(element)" aria-label="Example icon button with a delete icon">
          <mat-icon matTooltip="Delete Module">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnss"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnss;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Data Not Found </td>
    </tr>
  </table>
</div>




<!-- 
<section class="content">
 
  <div class="container-fluid">
    <div class="col pt-2">
      <h2>Our Safety Modules</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table table-hover text-wrap">
              <thead>
                <tr>
            
                  <th style="width: 30%">Heading</th>
                  <th style="width: 40%">Description</th>
                  <th style="width: 30%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td>{{ safetyData.title }}</td>
                  <td>{{ safetyData.description }}</td>
                  <td>
                    <button
                      class="btn editBtn mr-2"
                      (click)="editForm(safetyData._id, false)"
                    >
                      <i class="fas fa-pencil-alt mr-2" aria-hidden="true" title="Edit"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="row">
  <div class="col ml-2 mb-2">
    <button
      (click)="addForm('')"
      class="btn btn-outline-primary mt-1 mr-2 float-right"
    >
      <i class="fas fa-plus mr-2"></i>Add Modules
    </button>
  </div>
</div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table table-hover text-wrap">
              <thead>
                <tr>
                  <th style="width:10%">Index</th>
                  <th style="width: 25%">Images</th>
                  <th style="width: 25%">Title</th>

                  <th style="width: 25%">Action</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of safetyData.subModules; let i = index">
                  <td>{{i+1}}</td>
                  <td>
                    <img
                      src="{{ data.fileUrl }}"
                      height="100px"
                      width="100px"
                    />
                  </td>
                  <td>{{ data.title }}</td>

                  <td>
                    <button
                      (click)="editForm(data._id, true, i)"
                      class="btn editBtn mr-2"
                    >
                      <i class="fas fa-pencil-alt mr-2"  aria-hidden="true" title="Edit"></i>
                    </button>
                    <span
                     
                    (click)="deleteopen(deletemodal, data._id)"
                  >
                    <i class="fas fa-trash "  aria-hidden="true" title="Delete"></i>
                    
                </span>
                  </td>
                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #deletemodal let-modal>
  <div class="modal-header titel">
    <h2 class="modal-title titel" id="modal-basic-title">Are you sure?</h2>
  </div>
  <div class="modal-body deletebody">
    <p></p>
    <p>Do you want to delete this Module</p>
  </div>
  <div class="modal-footer footer">
    <button
      type="button"
      class="btn mr-3"
      style="background-color: #eeeeee"
      (click)="modal.dismiss('Save click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger ml-3"
      aria-label="Close"
      (click)="modal.close('Cross click')"
    >
      Delete
    </button>
  </div>
</ng-template> -->