<div
	class="btn btn-outline-primary"
	[routerLink]="['/admin/stateRel/setState']"
>
	<i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>
<div class="ml-2">
	<h2>States Relation :&nbsp;{{ states?.title }}</h2>
</div>

<!-- <ng-template matStepLabel>Jurisdiction</ng-template> -->
<!-- <h3 class="text-center mt-3">Jurisdiction</h3> -->
<!-- <div class="row "  [formGroup]="SetState"> -->
<!-- <div class="col-1 my-auto"> 
              <button class="btn" matStepperPrevious><i class="fas fa-arrow-left"></i></button>
          </div> -->
<!-- <div class="col-4">
              <mat-form-field class="container" appearance="fill">
                  <mat-label class="text-center ">Jurisdiction</mat-label>
                  <mat-select formControlName="jurisdiction">
                    <mat-select-trigger>
                      <span
                        *ngIf="!SetState.get('jurisdiction').value?.length"
                        class="example-additional-selection"
                      >
                      </span>
                     
                    </mat-select-trigger>
                    <mat-option
                      *ngFor="let parameter of JurisdictionData"
                      [value]="parameter._id"
                    >
                      {{ parameter.title }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
          </div> -->
<!-- <div class="col-4">
            <mat-form-field class="container" appearance="fill">
              <mat-label>Safety Legislation</mat-label>
              <mat-select formControlName="safe">
                <mat-select-trigger>
                  <span
                    *ngIf="!SetState.get('safe').value?.length"
                    class="example-additional-selection"
                  >
                  </span>
                 
                </mat-select-trigger>
                <mat-option
                  *ngFor="let parameter of safety"
                  [value]="parameter._id"
                  >{{ parameter.act }}{{ parameter.regulation }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
<!-- <div class="col-3">
            <mat-form-field class="container" appearance="fill">
                <mat-label>Code Of Practice</mat-label>
                
                <mat-select formControlName="COP">
                  <mat-select-trigger>
                    <span
                      *ngIf="!SetState.get('COP').value?.length"
                      class="example-additional-selection"
                    >
                    </span>
                    <span
                      *ngIf="SetState.get('COP').value?.length == 1"
                      class="example-additional-selection"
                    >
                      One Item selected
                    </span>
                    <span
                      *ngIf="SetState.get('COP').value?.length > 1"
                      class="example-additional-selection"
                    >
                      More than one selected
                    </span>
                  </mat-select-trigger>
                  <mat-option
                    *ngFor="let parameter of codeData"
                    [value]="parameter._id"
                    >{{ parameter.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div> -->
<!-- <div class="col-4">
          <mat-form-field class="container" appearance="fill">
              <mat-label>Regulator</mat-label>
              <mat-select formControlName="regulator">
                <mat-select-trigger>
                  <span
                    *ngIf="!SetState.get('regulator').value?.length"
                    class="example-additional-selection"
                  >
                  </span>
                 
                </mat-select-trigger>
                <mat-option *ngFor="let parameter of regulatorData" [value]="parameter._id"
                  >{{ parameter.title }}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div> -->
<!-- <div class="ml-3 mt-3">
        <button *ngIf="!states?.set" class="btn btn-primary">Set</button>
        <button *ngIf="states?.set" class="btn btn-primary">Update</button>
      </div> -->
<!-- <div class="col-1 my-auto">
              <button class="btn" matStepperNext><i class="fas fa-arrow-right"></i></button>
          </div> -->
<!-- </div> -->

<div class="row" [formGroup]="SetState">
	<div class="col-4">
		<select
			class="form-select form-control"
			aria-label="Default select example"
			formControlName="jurisdictionId"
		>
			<option value="" selected hidden>Select Jurisdiction</option>
			<option
				*ngFor="let parameter of JurisdictionData"
				[value]="parameter._id"
			>
				{{ parameter.title }}
			</option>
		</select>
	</div>
	<div class="col-4">
		<select
			class="form-select form-control"
			aria-label="Default select example"
			formControlName="safetyLegislationId"
		>
			<option value="" selected hidden>Select Safety Legislation</option>
			<option *ngFor="let parameter of safety" [value]="parameter._id">
				{{ parameter.act }}{{ parameter.regulation }}
			</option>
		</select>
	</div>
	<div class="col-4">
		<select
			class="form-select form-control"
			aria-label="Default select example"
			formControlName="regulatorId"
		>
			<option value="" selected hidden>Select Regulator</option>
			<option
				*ngFor="let parameter of regulatorData"
				[value]="parameter._id"
			>
				{{ parameter.title }}
			</option>
		</select>
	</div>
	<div class="ml-3 mt-3">
		<button
			*ngIf="!states?.set"
			class="btn btn-primary"
			(click)="setRelation()"
		>
			Set
		</button>
		<button
			*ngIf="states?.set"
			class="btn btn-primary"
			(click)=" setRelation() "
		>
			Update
		</button>
	</div>
</div>
