table {
	width: 100%;
}
.mat-column-description {
	width: 32px;
	padding-right: 24px;
	text-align: center;
}

.mat-column-title {
	width: 32px;
	padding-right: 24px;
	text-align: center;
}

.mat-column-action {
	width: 32px;
	padding-right: 24px;
	text-align: center;
}
.mat-column-index {
	width: 16px;
	padding-right: 24px;
	text-align: center;
}
