<div class="login-box">
	<div class="login-logo">
		<a style="color: #c61437"><b>AdminWHS</b></a>
	</div>
	<!-- /.login-logo -->
	<div class="card">
		<div class="card-body login-card-body">
			<p class="login-box-msg">Enter OTP And Reset Your Password</p>

			<form [formGroup]="resetForm">
				<div class="input-group mb-3">
					<input
						formControlName="oldPassword"
						type="password"
						class="form-control"
						placeholder="Enter OTP Here"
						[class.is-invalid]="
                resetForm.get('oldPassword').hasError('required') &&
                resetForm.get('oldPassword').touched
              "
					/>
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
				</div>
				<div>
					<label
						class="text-danger"
						*ngIf=" resetForm.get('oldPassword').hasError('required') &&
          resetForm.get('oldPassword').touched"
					>
						<i class="material-icons">cancel</i> Please Enter OTP
					</label>
				</div>
				<!-- <div class="input-group">
					<input
						formControlName="newPassword"
						type="password"
						class="form-control"
						placeholder="Enter New Password"
						[class.is-invalid]="
                resetForm.get('newPassword').hasError('required') &&
                resetForm.get('newPassword').touched
              "
					/>
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
				</div>
				<div class="mb-3">
          <div class="text-danger" ></div>
					<span
						class="text-danger"
						*ngIf="
            resetForm.get('newPassword').hasError('required') &&
            resetForm.get('newPassword').touched
              "
						>New Password is Required</span
					>
				</div>
				<div class="input-group">
					<input
						formControlName="confirm_password"
						type="password"
						class="form-control"
						placeholder="Enter Confirm Password"
						[class.is-invalid]="
                resetForm.get('confirm_password').hasError('required') &&
                resetForm.get('confirm_password').touched
              "
					/>
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
				</div>
				<div class="mb-3">
					<div *ngIf="resetForm.errors" class="text-danger">
						<div
							*ngIf="resetForm.errors.passwordNotMatch &&  (resetForm.get('confirm_password').dirty || resetForm.get('confirm_password').touched)"
						>
							New Password and Confirm Password must be match.
						</div>
					</div>
				</div> -->

				<div class="input-group mb-3">
					<input
						id="newPassword"
						formControlName="newPassword"
						placeholder="Enter New Password"
						type="password"
						class="form-control"
						[ngClass]="resetForm.controls['newPassword'].invalid ? 'is-invalid' : ''"
					/>
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
					<!-- <label class="text-danger col" *ngIf="resetForm.controls['newPassword'].hasError('required')">
            newPassword is Required!
          </label> -->
				</div>
				<div *ngIf="resetForm.get('newPassword').errors">
					<label
						class="col"
						[ngClass]="resetForm.controls['newPassword'].hasError('required') || resetForm.controls['newPassword'].hasError('minlength')  ? 'text-danger' : 'text-success'"
					>
						<i class="material-icons"
							>{{
							resetForm.controls['newPassword'].hasError('required')
							||
							resetForm.controls['newPassword'].hasError('minlength')
							? 'cancel' : 'check_circle' }}</i
						>
						Must be at least 8 characters!
					</label>
					<label
						class="col"
						[ngClass]="resetForm.controls['newPassword'].hasError('required') || resetForm.controls['newPassword'].hasError('hasNumber')  ? 'text-danger' : 'text-success'"
					>
						<i class="material-icons"
							>{{
							resetForm.controls['newPassword'].hasError('required')
							||
							resetForm.controls['newPassword'].hasError('hasNumber')
							? 'cancel' : 'check_circle' }}</i
						>
						Must contain at least 1 number!
					</label>
					<label
						class="col"
						[ngClass]="resetForm.controls['newPassword'].hasError('required') || resetForm.controls['newPassword'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'"
					>
						<i class="material-icons"
							>{{
							resetForm.controls['newPassword'].hasError('required')
							||
							resetForm.controls['newPassword'].hasError('hasCapitalCase')
							? 'cancel' : 'check_circle' }}</i
						>
						Must contain at least 1 in Capital Case!
					</label>
					<label
						class="col"
						[ngClass]="resetForm.controls['newPassword'].hasError('required') || resetForm.controls['newPassword'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'"
					>
						<i class="material-icons"
							>{{
							resetForm.controls['newPassword'].hasError('required')
							||
							resetForm.controls['newPassword'].hasError('hasSmallCase')
							? 'cancel' : 'check_circle' }}</i
						>
						Must contain at least 1 Letter in Small Case!
					</label>
					<label
						class="col"
						[ngClass]="resetForm.controls['newPassword'].hasError('required') || resetForm.controls['newPassword'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'"
					>
						<i class="material-icons"
							>{{
							resetForm.controls['newPassword'].hasError('required')
							||
							resetForm.controls['newPassword'].hasError('hasSpecialCharacters')
							? 'cancel' : 'check_circle' }}</i
						>
						Must contain at least 1 Special Character!
					</label>
				</div>
				<div class="input-group mb-3">
					<input
						id="confirm_password"
						formControlName="confirm_password"
						placeholder="Enter Confirm Password"
						type="password"
						class="form-control"
						[ngClass]="resetForm.controls['confirm_password'].invalid ? 'is-invalid' : ''"
					/>
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
				</div>
				<div>
					<label
						class="text-danger"
						*ngIf="resetForm.controls['confirm_password'].hasError('required')"
					>
						<i class="material-icons">cancel</i>Confirm Password is
						Required!
					</label>
					<label
						class="text-danger"
						*ngIf="resetForm.controls['confirm_password'].hasError('NoPassswordMatch')"
					>
						<i class="material-icons">cancel</i>Passwords do not
						match
					</label>
				</div>

				<div>
					<!-- /.col -->
					<div class="col-12">
						<button
							*ngIf="!buttonData"
							class="btn btn-primary col-12"
							(click)="changePassword()"
						>
							Change Password
						</button>
						<button
							*ngIf="buttonData"
							class="btn btn-primary col-12"
							(click)="changePassword()"
						>
							Reset Password
						</button>
					</div>
					<!-- /.col -->
				</div>
			</form>

			<div class="social-auth-links text-center mb-3"></div>
		</div>
		<!-- /.login-card-body -->
	</div>
</div>
