<form class="container px-4 py-4 card" [formGroup]="companyDetail">
	<div mat-dialog-title class="dialog-title">
		<h2 class="text-center pt-2">
			<p>Edit About-Us Info</p>
		</h2>
		<button
			type="button"
			class="close"
			style="font-size: 40px"
			(click)="close()"
			aria-label="Close"
		>
			<span aria-hidden="true">×</span>
		</button>
	</div>
	<hr />

	<div>
		<div class="row" *ngIf="module">
			<!-- <div class="my-3 col-3">
        <img
          [src]="Image1"
          onerror="this.src='../../../assets/img/uploadImg.png'"
          class="imgStyle"
          alt=""
          width="150"
          height="100"
        />
        <input
          type="file"
          #contactImage
          class="custom-file-input img1 form-control"
          (change)="uploadImage($event)"
          id="inputGroupFile01"
          name="avatar"
          style="display: none"
        />
        <span
          class="material-icons material-file"
          (click)="contactImage.click()"
          class="btn border bg-white z-index mb-1"
          style="
            position: absolute;
            top: 90px;
            left: 0;
            font-size: 1rem !important;
          "
        >
          <i class="fa fa-upload" aria-hidden="true" style="margin: 0px"></i>
        </span>
      </div> -->

			<div class="col-sm-12">
				<p for="exampleFormControlInput1" class="form-Label">
					Top Description
				</p>
				<textarea
					rows="5"
					type="text"
					formControlName="description"
					class="form-control sign"
				></textarea>
			</div>
		</div>

		<br />

		<div class="row" *ngIf="module">
			<div class="my-3 mt-2 col-3">
				<p for="exampleFormControlInput1" class="form-Label">
					Upload Image
				</p>

				<img
					[src]="Image"
					onerror="this.src='../../../assets/img/uploadImg.png'"
					class="imgStyle"
					alt=""
					width="150"
					height="100"
				/>
				<input
					type="file"
					#file
					class="custom-file-input img1 form-control"
					(change)="image($event)"
					id="file"
					name="avatar"
					style="display: none"
				/>
				<span
					class="material-icons material-file"
					(click)="file.click()"
					class="btn border bg-white z-index mb-1"
					style="
						position: absolute;
						top: 90px;
						left: 0;
						font-size: 1rem !important;
					"
				>
					<i
						class="fa fa-upload"
						aria-hidden="true"
						style="margin: 0px"
					></i>
				</span>
			</div>

			<div class="my-3 mx-4 col-sm-6">
				<p for="exampleFormControlInput1" class="form-Label">Heading</p>
				<input
					type="text"
					formControlName="title"
					class="form-control sign"
					id="title"
				/>
			</div>
		</div>
		<br />
		<div class="row" *ngIf="module">
			<div class="col-sm-12">
				<p for="exampleFormControlInput1" class="form-Label">
					Description
				</p>
				<textarea
					rows="4"
					type="text"
					formControlName="desc"
					class="form-control sign"
				></textarea>
			</div>
		</div>
		<br />

		<div class="row" *ngIf="module">
			<div class="col-6">
				<p for="exampleFormControlInput1" class="form-Label">Title</p>
				<input
					type="text"
					formControlName="subTitle"
					class="form-control sign"
					id="heading"
				/>
			</div>
		</div>
		<div *ngIf="subModule">
			<ng-container formArrayName="arrObj">
				<ng-container
					*ngFor="let control of add().controls; let i = index"
					[formGroupName]="i"
				>
					<div>
						<div class="row">
							<div class="my-3 col-3">
								<p
									for="exampleFormControlInput1"
									class="form-Label"
								>
									Upload Image
								</p>
								<img
									[src]="selectedImage"
									onerror="this.src='../../../assets/img/uploadImg.png'"
									alt=""
									width="150"
									height="100"
									class="imgStyle"
								/>
								<input
									type="file"
									class="d-none"
									#file
									id="file"
									class="custom-file-input img1 form-control"
									name="avatar"
									(change)="browser($event, i)"
								/>
								<span
									class="material-icons material-file"
									(click)="file.click()"
									class="btn border bg-white z-index mb-1"
									style="
										position: absolute;
										top: 120px;
										left: 0;
										font-size: 1rem !important;
									"
								>
									<i
										class="fa fa-upload"
										aria-hidden="true"
										style="margin: 0px"
									></i>
								</span>
							</div>
							<div class="my-3 col-4" style="height: 50px">
								<p
									for="exampleFormControlInput1"
									class="form-Label"
								>
									Name
								</p>
								<input
									type="text"
									formControlName="title"
									style="width: 250px"
									class="form-control sign"
									id="name"
								/>
							</div>
							<!-- <div class="col-1 mt-5">
              <span class="material-icons" (click)="addAction()"
                >add_circle_outline
              </span>
            </div> -->
							<!-- <div class="col-1 mt-5">
              <span class="material-icons" (click)="removeSafetyModule(i)">
                remove_circle_outline
              </span>
            </div> -->
						</div>
					</div>
					<hr />
				</ng-container>
			</ng-container>
		</div>
		<br />

		<div class="col-md-2">
			<button
				type="submit"
				class="btn btn-primary btn-block"
				*ngIf="module"
				(click)="editModule()"
			>
				Update
			</button>
			<button
				type="submit"
				class="btn btn-primary btn-block"
				*ngIf="subModule"
				(click)="editSubModule()"
			>
				Update
			</button>
		</div>
	</div>
</form>
