<section class="container topbar">
  <div class="fixed-top header-scrolled">
    <nav class="navbar fixed-top header-scrolled navbar-expand-lg">
      <a class="navbar-brand" href="#" class="logo mr-auto logoimg"
        ><img src="assets/img/logo.png" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"
          ><i class="icofont-navigation-menu"></i
        ></span>
      </button>
      <div class="collapse navbar-collapse navhead" id="navbarNavDropdown">
        <ul class="navbar-nav nav_style">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="headbutton1">
        <a href="">login</a>
      </div>
    </nav>
  </div>
</section>
<!--Header End-->

<div class="clearfix"></div>
<section class="container qukhead m-b-30 twoBlk">
  <div class="sectionTabList row">
    <h4 class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 sectBigTtl">
      Customer Portal: Guide for Customers
    </h4>
    <div class="col-lg-3 col-xl-3 col-md-3 col-sm-4 col-xs-12 padd-15">
      <div class="portalBoxListing">
        <ul class="nav nav-tabs portalListLinks">
          <li class="active">
            <span data-toggle="tab" href="#customerPortal"
              >Customer Portal</span
            >
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </li>
          <li>
            <span data-toggle="tab" href="#customerPortalGuide"
              >Customer Portal: Guide for Customers</span
            >
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </li>
          <li>
            <span data-toggle="tab" href="#employeePortal"
              >Employee Portal</span
            >
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </li>
          <li>
            <span data-toggle="tab" href="#employeePortalGuide"
              >Employee Portal: Guide for Customers</span
            >
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </li>
          <li>
            <span data-toggle="tab" href="#contractorPortal"
              >Contractor Portal</span
            >
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </li>
          <li>
            <span data-toggle="tab" href="#contractorPortalGuide"
              >Contractor Portal: Guide for Customers</span
            >
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="col-lg-9 col-xl-9 col-md-9 col-sm-8 col-xs-12 portalInfoBox padd-15"
    >
      <div class="tab-content">
        <div id="customerPortal" class="tab-pane fade in active">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse1"
                >
                  <h4 class="panel-title">
                    Why use the customer portal?
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse2"
                >
                  <h4 class="panel-title">
                    Setup Username and Password
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse3"
                >
                  <h4 class="panel-title">
                    Login into the portal
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="customerPortalGuide" class="tab-pane fade">
          <div class="panel-group" id="accordion6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion6"
                  href="#collapse4"
                >
                  <h4 class="panel-title">
                    Why use the customer portal?
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse4" class="panel-collapse collapse in">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion6"
                  href="#collapse5"
                >
                  <h4 class="panel-title">
                    Setup Username and Password
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion6"
                  href="#collapse6"
                >
                  <h4 class="panel-title">
                    Login into the portal
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="employeePortal" class="tab-pane fade">
          <div class="panel-group" id="accordion5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion5"
                  href="#collapse7"
                >
                  <h4 class="panel-title">
                    Why use the Employee portal?
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse7" class="panel-collapse collapse in">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion5"
                  href="#collapse8"
                >
                  <h4 class="panel-title">
                    Setup Username and Password
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion5"
                  href="#collapse9"
                >
                  <h4 class="panel-title">
                    Login into the portal
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="employeePortalGuide" class="tab-pane fade">
          <div class="panel-group" id="accordion4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion4"
                  href="#collapse11"
                >
                  <h4 class="panel-title">
                    Why use the Employee portal?
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse11" class="panel-collapse collapse in">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion4"
                  href="#collapse12"
                >
                  <h4 class="panel-title">
                    Setup Username and Password
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion4"
                  href="#collapse13"
                >
                  <h4 class="panel-title">
                    Login into the portal
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse13" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="contractorPortal" class="tab-pane fade">
          <div class="panel-group" id="accordion3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion3"
                  href="#collapse14"
                >
                  <h4 class="panel-title">
                    Why use the Contractor portal?
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse14" class="panel-collapse collapse in">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion3"
                  href="#collapse15"
                >
                  <h4 class="panel-title">
                    Setup Username and Password
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse15" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion3"
                  href="#collapse16"
                >
                  <h4 class="panel-title">
                    Login into the portal
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse16" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="contractorPortalGuide" class="tab-pane fade">
          <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion2"
                  href="#collapse17"
                >
                  <h4 class="panel-title">
                    Why use the Contractor portal?
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse17" class="panel-collapse collapse in">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion2"
                  href="#collapse18"
                >
                  <h4 class="panel-title">
                    Setup Username and Password
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse18" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion2"
                  href="#collapse19"
                >
                  <h4 class="panel-title">
                    Login into the portal
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h4>
                </a>
              </div>
              <div id="collapse19" class="panel-collapse collapse">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact page section End-->

<!-- footer section Start-->
<div class="clearfix"></div>
<h4
  class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 sectBigTtl text-center"
>
  Still have a questions?
</h4>
<section class="container-fluid qukhead footbg m-b-30 m-t-30">
  <div class="row container">
    <div class="col-lg-6 foottext">
      <p>Send Your</p>
      <p>Query</p>
    </div>
    <div class="col-lg-6">
      <form action="" method="post btnfootr">
        <input
          class="btnfoot"
          type="email"
          name="email"
          placeholder="Type your email"
        />
        <input class="inrbtnfoot" type="submit" value="Contact Us >" />
      </form>
    </div>
  </div>
</section>

<!-- footer section---------------------end -->
<div class="clearfix"></div>
<section class="container-fluid qukhead ourClient m-b-30 m-t-30">
  <div class="heading text-left row">
    <h1 class="mb-1 txt-small-header text-left">
      Our Happy client <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    </h1>
  </div>
  <div id="cliens" class="cliens section-bg">
    <div class="row" data-aos="zoom-in">
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/Microsoft.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/intuit.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/salesforce.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/veeam.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/clients/client-5.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/clients/client-6.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- last footer  ----------------------------->
<div class="clearfix"></div>
<section class="container-fluid qukhead footerContainer m-t-30 bg-light">
  <div class="row">
    <div class="col-lg-2 offset-1 footimg">
      <img src="assets/img/logo.png" />
      <p>Follow Us</p>
      <div class="social">
        <i class="fa fa-facebook facebk" aria-hidden="true"></i>
        <i class="fa fa-twitter twtr" aria-hidden="true"></i>
        <i class="fa fa-youtube-play youtb" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-lg-3 txtfoot">
      <p class="txt-blue-head text-left">
        On the Other hand. we denounce with righteous indigation and dislike
        men.
      </p>
      <h6 class="txt-blue-head text-left">Intrested To work with us</h6>
      <form action="" method="post btnfootr">
        <input
          class="btnfootr"
          type="email"
          name="email"
          placeholder="Enter your email address"
        /><input class="inrbtn" type="submit" value="send" />
      </form>
    </div>
    <div class="col-lg-2 footerLinks text-left">
      <h6>Company</h6>
      <p><a href="">About Us </a></p>
      <p><a href="">Portfolio</a></p>
      <p><a href="">Page</a></p>
      <p><a href="">FAQ</a></p>
      <p><a href="">Reviews</a></p>
    </div>
    <div class="col-lg-2 footerLinks text-left">
      <h6>Support</h6>
      <p><a href="">contact Us</a></p>
      <p><a href="">Privacy policy</a></p>
      <p><a href="">term of use</a></p>
      <p><a href="">buy & sell</a></p>
      <p><a href="">Reviews</a></p>
    </div>
    <div class="col-lg-2 footerLinks text-left">
      <h6>Contact</h6>
      <p>madani Ave. usa 1212</p>
      <p><a href="">+8802-555662000</a></p>
      <p>Email <a href="">www.lixu12@.com</a></p>
      <p><a href="">Buy and cell</a></p>
      <p><a href="">Reviews</a></p>
    </div>
  </div>
  <div class="footline"></div>
  <div class="copyright">
    © <span class="currentYear">2021</span>. All Rights Reserved.
  </div>
</section>
<!-- last footer------------------------------------------------- -->
<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
