<div class="btn btn-outline-primary" [routerLink]="['/admin/forms/fillConfigForm/'+1]"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
<div class="col ml-2 pt-3">
    <h1> Saved Dynamic Form Table</h1>
    </div>
    <div class=" ">
      <table mat-table [dataSource]="tempArray" matSort (matSortChange)="sortData($event)">
    
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element;let i=index">{{element.index+1}}</td>
        </ng-container>
    
        <!-- Name Column -->
       
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Form Name </th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>
    <ng-container matColumnDef="frequency">
      <th mat-header-cell *matHeaderCellDef> Form Frequency</th>
      <td mat-cell *matCellDef="let element">{{element.frequency}}</td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created Date</th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt |date:'mediumDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef>Updated Date</th>
        <td mat-cell *matCellDef="let element"> {{element.updatedAt |date:'mediumDate'}} </td>
      </ng-container>
     <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" > 
        <!-- <i class="fa fa-eye "aria-hidden="true" title="view"></i> -->
        <!-- <button [routerLink]="element.link" mat-icon-button aria-label="Example icon button with a delete icon">
          <mat-icon>visibility</mat-icon>
        </button>
        <a (click)="goTo(element.title)">
          <span style="cursor: pointer !important;">
              <mat-icon >launch</mat-icon>
          </span>
      </a> -->
      <div style="display: flex; justify-content: space-around;">
        <!-- <span class="material-icons" matTooltip="Edit The Form" (click)="edit(element._id)" >
            <svg-icon name="Edit_form"></svg-icon>
        </span> -->
        <button  matTooltip="Edit The Form" mat-icon-button aria-label="Example icon button with a delete icon"  (click)="edit(element._id)">
            <svg-icon name="Edit_form"></svg-icon> 
         </button>

        <span class="material-icons  mt-2"  matTooltip="Delete" (click)="delete(element)" >
            delete
        </span>
        </div>
      </td>
    </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Data Not  Found  </td>
          </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[20]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    
