<div class="container">
    <div class="row" formGroup="rateAndCoupon">
        <div class="col">
            <h1>Monthly And Yearly Rate Per Employee</h1>
            <label for="">Monthly:${{this.dataPlan.monthly}}</label>&nbsp;
            <label  for="">Yearly: ${{this.dataPlan.yearly}}</label><br>
            
            <i class="fas fa-pencil-alt mr-2" (click)="editPlan()"></i><br>

        </div>
      
    </div>
    <div class="row" *ngIf="isValid">
        <div class="col" >
            <label for="">Monthly</label>&nbsp;
            <input type="text" formControlName="monthly" [value]="this.dataPlan.monthly"><br>
            <label  for="">Yearly</label>
            <input type="text" formControlName="yearly" [value]="this.dataPlan.yearly"><br>
            <button (click)="editPlanInfo($event)">Submit</button>
        </div>
    </div>
</div>
