<section [formGroup]="couponDetails">
  <div >
    <div mat-dialog-title class="dialog-title">
    <h3 *ngIf="!dataRec">Add Coupon Details</h3>
    <h3 *ngIf="dataRec">Edit Coupon Details </h3>
    <button type="button" class="close" 
    style="font-size: 25px;"
      (click)="close()" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  </div>
  <hr>
    <div class="row">
      <div class="my-3 col">
        <p for="exampleFormControlInput1" class="form-Label">Coupon Name</p>
        <input type="text" class="form-control" id="couponName" formControlName="couponName" />
      </div>
      <div class="my-3 col">
        <p for="exampleFormControlInput1" class="form-Label">Discount % </p>
        <input type="text" class="form-control" id="discount" formControlName="discount" />
      </div>
    </div>

    <hr>
    <div>
      <button class="btn btn-primary" *ngIf="dataRec"    (click)="onSubmit()">
        Update
      </button>
      <button class="btn btn-primary" *ngIf="!dataRec" [disabled]="couponDetails.invalid " (click)="addForm()">
        Add
      </button>
    </div>

  </div>
</section>