<div class="d-flex justify-content-end">
	<div
		class="col-4 card p-3 mr-4"
		style="font-size: 24px; text-align: center"
	>
		Subscription Purchased For {{userData.employeePurchased||0}} Employees
	</div>
</div>
<mat-horizontal-stepper #stepper>
	<mat-step>
		<ng-template matStepLabel>Enter Company Details</ng-template>
		<div>
			<app-add-and-edit-company-info
				(isInvalid)="companyInfoValid = $event"
				(updatedSuccessFull)="updatedSuccessFull = $event"
			></app-add-and-edit-company-info>
		</div>
		<div class="buttonDiv">
			<button
				(click)="updateFirstLogin('step1')"
				matTooltip="Please Update Company Details"
				mat-raised-button
				[disabled]="!updatedSuccessFull"
				matStepperNext
			>
				Next
			</button>
		</div>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Add Roles</ng-template>
		<div>
			<app-role-management
				(isRoleInvaid)="isRoleInvaid = $event"
			></app-role-management>
		</div>
		<div class="buttonDiv">
			<!-- <button  mat-raised-button matStepperPrevious>Back</button> -->
			<button
				(click)="updateFirstLogin('step2')"
				mat-raised-button
				matStepperNext
			>
				Next
			</button>
		</div>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Employee Details</ng-template>
		<div class="shadow">
			<app-employee-registration
				(isEmpRegInvalid)="isEmpRegInvalid = $event"
			></app-employee-registration>
		</div>
		<div class="buttonDiv">
			<!-- <button mat-raised-button matStepperPrevious>Back</button> -->
			<button
				(click)="updateFirstLogin('step3')"
				mat-raised-button
				matStepperNext
			>
				Next
			</button>
		</div>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Add Sub Contractor</ng-template>
		<div class="shadow">
			<app-subcontract></app-subcontract>
		</div>
		<div class="buttonDiv">
			<button
				(click)="updateFirstLogin('step4');"
				mat-raised-button
				matStepperNext
			>
				Goto DashBoard
			</button>
		</div>
	</mat-step>
</mat-horizontal-stepper>
