<button mat-raised-button (click)="isEditable = !isEditable">
	{{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>

<mat-horizontal-stepper linear #stepper>
	<mat-step>
		<ng-template matStepLabel>Eneter Company Details</ng-template>
		<div>
			<app-add-and-edit-company-info></app-add-and-edit-company-info>
		</div>
		<div>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Add Roles</ng-template>
		<div>
			<app-role-management></app-role-management>
		</div>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Employee Details</ng-template>
		<div class="shadow">
			<app-employee-registration></app-employee-registration>
		</div>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Add SubContractor</ng-template>
		<div class="shadow">
			<app-subcontract></app-subcontract>
		</div>
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</div>
	</mat-step>

	<mat-step>
		<ng-template matStepLabel>Done</ng-template>
		<div>
			<!-- <app-employee-registration></app-employee-registration> -->
		</div>
		<div>
			<!-- <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button> -->
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button (click)="stepper.reset()">Reset</button>
		</div>
	</mat-step>
</mat-horizontal-stepper>
