<div class="page-header" style="text-align: center">
	I'm The Header
	<br />
</div>

<table style="display: table">
	<thead>
		<tr>
			<td>
				<div class="page-header-space"></div>
				<!-- <div class="header" >COOL HEADER</div> -->
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<router-outlet></router-outlet>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>
				<div class="page-footer-space"></div>
				<!-- <div class="footer" >AWESOME FOOTER</div> -->
			</td>
		</tr>
	</tfoot>
</table>

<div class="page-footer">I'm The Footer</div>

<!-- <router-outlet></router-outlet> -->
