<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="text-center mt-2 mb-4">
          <h1>
            Forms List
            <button
              type="button"
              class="btn btn-outline-primary mt-1 mr-2 float-right"
              (click)="addFormopen(addFormModal)"
            >
            <i class="fas fa-plus"></i> Add Form
            </button>
          </h1>
        </div>
        
        <!-- Default box -->
        <div class="cards">
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table class="table table-hover text-wrap">
              <thead>
                <tr>
                  <th style="width: 10%">No.</th>
                  <th style="width: 20%">Form Name</th>
                  <th style="width: 30%">Form Frquency</th>
                  <th style="width: 10%">Disable/Enable</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let form of allForms; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ form.title }}</td>
                  <td> 
                    <select class="form-select form-control w-set" aria-label="Default select example" [value]="form.frequency"(change)="frequencyChange($event,form)">
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="quaterly">Quaterly</option>
                    <option value="halfYearly">Half yearly</option>
                    <option value="yearly">Yearly</option>
                    <option value="onceOff">Once Off</option>
                  </select>
                </td>
                  <td>                 
                  <mat-slide-toggle color="primary" [checked]="form.enable" (change)="slideChanged($event,form)"></mat-slide-toggle>
                </td>
                  <td>
                    <button
                      class="btn editBtn btnSet mr-2"
                      (click)="editForm(form)"
                    >
                      <i class="fas fa-pencil-alt mr-2" title="Edit"></i>
                    </button>

                    <button
                      class="btn viewBtn btnSet mr-2"
                      (click)="viewForm(form)"
                    >
                      <i class="fas fa-folder mr-2" title="View"></i>
                    </button>
                    <button
                      class="btn deleteBtn btnSet mr-2"
                      (click)="deleteopen(deletemodal, form)"
                    >
                      <i class="fas fa-trash mr-2" title="Delete"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->

          <div class="card-footer clearfix">
            <div class="row">
              <div class="col-6 text-left">
                <div class="form-group">
                  <select
                    class="form-control custom-select"
                    style="width: auto"
                    [(ngModel)]="pageSize"
                    (ngModelChange)="refreshList()"
                  >
                    <option *ngFor="let size of [10, 20, 30]" [ngValue]="size">
                      {{ size }} Items
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-6 paginationSet">
                <ngb-pagination
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="collectionSize"
                  (pageChange)="refreshList()"
                  class="pagination"
                  [maxSize]="5"
                ></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Boostrap Modal-->

<ng-template #deletemodal let-modal>
  <div class="modal-header titel">
    <h2 class="modal-title titel" id="modal-basic-title">Are you sure?</h2>
  </div>
  <div class="modal-body deletebody">
    <p></p>
    <p>Do you want to delete {{ form }}</p>
  </div>
  <div class="modal-footer footer">
    <button
      type="button"
      class="btn mr-3"
      style="background-color: #eeeeee"
      (click)="modal.dismiss('Save click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger ml-3"
      aria-label="Close"
      (click)="modal.close('Cross click')"
    >
      Delete
    </button>
  </div>
</ng-template>

<ng-template #addFormModal let-modal>
  <ng-container [formGroup]="addForm">
    <div class="modal-header modalheader">
      <h2 class="modal-title" id="modal-basic-title">Add Form</h2>
    </div>
    <div class="modal-body">
      <label for="exampleInputProjectNumber" class="form-label ml-3"
        >Form Name</label
      >
      <input
        type="text"
        class="form-control inputalign"
        placeholder=""
        aria-label=""
        aria-describedby="basic-addon1"
        formControlName="formName"
      />
      <label for="exampleInputProjectNumber" class="form-label mt-1 ml-3"
      >Set Frequency</label
    >
      <select class="custom-select custom-select-lg form-control inputalign mb-3" formControlName="frequency">
        <option selected hidden>Frequency</option>
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="quaterly">Quaterly</option>
        <option value="halfYearly">Half yearly</option>
        <option value="yearly">Yearly</option>
        <option value="onceOff">Once Off</option>
      </select>
    </div>
    <div class="modal-footer footer">
      <button
        type="button"
        class="btn mr-3"
        style="background-color: #eeeeee"
        (click)="modal.dismiss('Save click')"
      >
        Close
      </button>

      <button
        type="button"
        class="btn btn-primary ml-3"
        aria-label="Close"
        (click)="modal.close(addForm.value)"
        [disabled]="!addForm.get('formName').value"
      >
        Add
      </button>
    </div>
  </ng-container>
</ng-template>
