<div class="row">
  <div class="col">
    <button type="button" class="btn btn-outline-primary mt-1 mr-2 float-right" (click)="addFormopen(addFormModal)">Add
      Form</button>
  </div>
</div>
<!-- <div class="mat-elevation-z8  mt-4">
    <table mat-table [dataSource]="dataSource">
  
      ######### Position Column ###########
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
  
    ######### Name Column #########
      <ng-container matColumnDef="formName">
        <th mat-header-cell *matHeaderCellDef> Form Name </th>
        <td mat-cell *matCellDef="let element"> {{element.formName}} </td>
      </ng-container>
      <ng-container matColumnDef="categories">
        <th mat-header-cell *matHeaderCellDef> Category Name </th>
        <td mat-cell *matCellDef="let element"> {{element.categories}} </td>
      </ng-container>
  
    
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> 
            <span
                class="material-icons mr-2"
                style="cursor: pointer"  
                [routerLink]="['/admin/dynamicForm']"   
              >
                create
              </span>
              <span
              class="material-icons mr-2"
              style="cursor: pointer"
            >
            visibility

            </span>
              <span
              class="material-icons"
              style="cursor: pointer"
              (click)="delete(element.formName)"
            >
              delete
            </span>

        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div> -->



<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body p-0">

            <table class="table table-hover text-wrap">
              <thead>
                <tr>
                  <th style="width: 10%">No.</th>
                  <th style="width: 30%">Form Name</th>
                  <th style="width: 30%"> Category Name</th>
                  <th> Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tutorial of tutorials">
                  <td>{{ tutorial.position }}</td>
                  <td>{{ tutorial.formName }}</td>
                  <td>{{ tutorial.categories }}</td>
                  <td>
                    <button class="btn btn-info btn-sm mr-2" [routerLink]="['/admin/dynamicForm']"><i
                        class="fas fa-pencil-alt mr-2"></i>Edit</button>

                    <button class="btn btn-primary btn-sm mr-2"><i class="fas fa-folder mr-2 "></i>View</button>
                    <button class="btn btn-danger btn-sm mr-2" (click)="deleteopen(deletemodal,tutorial.categories )"><i
                        class="fas fa-trash mr-2"></i>Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->

          <div class="card-footer clearfix">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <select class="form-control custom-select" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="refreshList()">
                    <option *ngFor="let size of [10, 20, 30]" [ngValue]="size">
                      {{ size }} Items
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize"
                  (pageChange)="refreshList()" class="pagination" [maxSize]="5"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--Boostrap Modal-->

<ng-template #deletemodal let-modal>
  
  <div class="modal-header titel">
    <h2 class="modal-title titel" id="modal-basic-title">Are you sure?</h2>

  </div>
  <div class="modal-body deletebody">
    <p></p>
    <p>Do you want to delete {{categorie}}</p>
  </div>
  <div class="modal-footer footer">
    <button type="button" class="btn  mr-3" style="background-color: #eeeeee" (click)="modal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-danger ml-3" aria-label="Close"
      (click)="modal.dismiss('Cross click')">Delete</button>
  </div>

</ng-template>


<ng-template #addFormModal let-modal>
  <div class="modal-header modalheader">
    <h2 class="modal-title " id="modal-basic-title">Add Form</h2>
  </div>
  <div class="modal-body">
    <label for="exampleInputProjectNumber" class="form-label ml-3">Form Name</label>
    <input type="text" class="form-control inputalign" placeholder="" aria-label="" aria-describedby="basic-addon1">
    <label for="exampleInputProjectNumber" class="form-label ml-3">Category Name</label>

    <select class="custom-select inputalign ">
      <option selected hidden>Select category</option>
      <option value="1">category1</option>
      <option value="2">category2</option>
      <option value="3">category3</option>
      <option value="3">category4</option>
    </select>
  </div>
  <div class="modal-footer footer ">
    <button type="button" class="btn mr-3 " style="background-color: #eeeeee" (click)="modal.close('Save click')">Close</button>

    <button type="button" class="btn btn-primary ml-3" aria-label="Close"
      (click)="modal.dismiss('Cross click')">Submit</button>
  </div>
</ng-template>