<section class="content">
<div class="container px-4 py-4 bg-white">
  
    <form [formGroup]="riskDetails" (ngSubmit)=" onFormSubmit()">
      <h1 class="">Add High Risk Construction Technique</h1>
      <ng-container formArrayName="arrObj">
          <ng-container
            *ngFor="let control of add().controls; let i = index"
            [formGroupName]="i"
          >
            <div>
              <div class="row">
               
                <div class="col-8">
                  <!-- <p for="exampleFormControlInput1" class="form-Label">Job Task Type</p> -->
                  <input
                    type="text"
                    formControlName="title"
                  
                    class="form-control sign"
                    id="name"
                  />
                </div>
                <div class="col-1 mt-2">
                <span class="material-icons" (click)="addAction()"
                  >add_circle_outline
                </span>
              </div> 
                 <div class="col-1 mt-2">
                <span class="material-icons" (click)="removeSafetyModule(i)">
                  remove_circle_outline
                </span>
              </div> 
              </div>
            </div>
            <hr />
          </ng-container>
        </ng-container>
        <br>
      
        <div class="col-md-2"> 
          <button type="submit" class="btn btn-primary "> Submit</button>
        </div>
        </form>
      </div>
    </section>
  
