<div class="row">
  <div class="col mt-2 mb-2">
    <button (click)="openDialog('')" _ngcontent-hqi-c400="" type="button"
      class="btn btn-outline-primary mt-1 mr-2 float-right"><i _ngcontent-hqi-c400="" class="fas fa-plus"></i> Add Role
    </button>
  </div>
</div>
<app-checkbox></app-checkbox>
<!-- <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Content-1"><app-checkbox></app-checkbox></mat-tab>
    <mat-tab label="Content-2">Content-2</mat-tab>
    <mat-tab label="Content-3">Content-3</mat-tab>
    <mat-tab label="Content-4">Content-4</mat-tab>
  </mat-tab-group> -->