<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Admin">Admin</mat-tab>
    <mat-tab label="SuperAdmin">SuperAdmin</mat-tab>
    <mat-tab label="CEO">CEO</mat-tab>
    <mat-tab label="Employee">Employee</mat-tab>
  </mat-tab-group>
  
<div class="row">
<div class="col mt-2 mb-2">
    <button (click)="openDialog('')" _ngcontent-hqi-c400="" type="button"
        class="btn btn-outline-primary mt-1 mr-2 float-right"><i _ngcontent-hqi-c400="" class="fas fa-plus"></i> Add Role
      </button>
    </div> 
</div>
<app-checkbox></app-checkbox>
