<div class="text-center">
  <h1 class="card"> Our Happy Client  List</h1>
</div>
<!-- <div class="row">
  <div class="col ml-2 mb-2">
    <button type="button" class="btn btn-outline-primary mt-1 mr-2 float-left" (click)="addForm('')">
      Add Client
    </button>
  </div>
</div> -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table table-hover text-wrap">
              <thead>
                <tr>
                
                  <th style="width: 70%"> Heading</th>
                  <th style="width: 30%">Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr  >
                  <td>{{ happyClientData.title }}</td>

                  <td><button class="btn btn-info btn-sm mr-2" (click)="editForm(happyClientData._id,false)">
                      <i class="fas fa-pencil-alt mr-2"></i> Edit
                    </button></td>
                </tr>
              </tbody>
             </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <div class="card">
          <div class="card-body p-0">
            <table class="table table-hover text-wrap">
              <thead>
                <tr>
                  <th style="width: 80%">Images</th>
                  
                  <th>Action</th>
                

                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of happyClientData.subModules; let i=index">
                  <td><img src="{{ data.fileUrl }}" height="150px" width="150px"></td>
 
                  <td><button (click)="editForm(data._id,true,i)" class="btn btn-info btn-sm mr-2">
                      <i class="fas fa-pencil-alt mr-2"></i>Edit
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
         </div>
      </div>
    </div>
  </div>
</section>