<div class="btn btn-outline-primary" [routerLink]="['/admin/forms']"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>

<div class="container px-4 py-4 card" [formGroup]="toolBox">
  <h1 class="text-center pt-3">
    <p>Toolbox Talk Preview</p>
  </h1>
  <hr />
  <div>
    <p class="title">Site Information</p>
    <div>
      <div class="row">
        <div class="my-3 col">
          <p for="exampleFormControlInput1" class="form-Label">Site Name</p>
          <input type="text" class="form-control" id="siteName"  formControlName="siteName" />
        </div>
        <div class="my-3 col">
          <p for="exampleFormControlInput1" class="form-Label">Customer Name</p>
          <input type="text" class="form-control"  formControlName="customerName" />
        </div>
      </div>
      <div class="row">
        <div class="my-3 col">
          <p for="exampleFormControlInput1" class="form-Label">Site Address</p>
          <input type="text" class="form-control"  formControlName="streetAddr" />
        </div>
        <div class="my-3 col">
          <p for="exampleFormControlInput1" class="form-Label">
            Customer Contact
          </p>
          <input type="text" class="form-control"  formControlName="custConct" />
        </div>
      </div>

      <div class="row">
        <div class="my-3 col">
          <p for="exampleFormControlInput1" class="form-Label">
            Customer Contact Phone
          </p>
          <input type="text" class="form-control"  formControlName="custConctPh" />
        </div>
        <div class="my-3 col">
          <p for="exampleFormControlInput1" class="form-Label">
            Customer Contact Email
          </p>
          <input type="text" class="form-control"  formControlName="custEmail"/>
        </div>
      </div>
      <div class="row">
        <div class="my-3 col">
          <p for="exampleFormControlInput1" class="form-Label">Job Number</p>

          <select
            class="form-select form-control col form-dropdown"
            aria-label="Default select example"
            formControlName="jobNumber"
            (change)="jobNoSel()"
          >
            <option selected hidden>Select</option>
            <option [value]="jobNo._id" *ngFor="let jobNo of allJobNumbers">{{jobNo.jobNumber}}</option>
            <!-- <option value="1">1000</option>
            <option value="2">1001</option>
            <option value="3">1002</option> -->
          </select>
        </div>

        <div class="my-3 col">
          <p for="exampleFormControlInput1" class="form-Label">Date</p>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="my-3 col">
          <p for="exampleFormControlInput1" class="form-Label">
            Meeting Conducted By
          </p>
          <select
            class="form-select form-control col form-dropdown"
            aria-label="Default select example"
          >
            <option selected hidden>Select</option>
            <option value="1">John</option>
            <option value="2">Akash</option>
            <option value="3">Rahul</option>
          </select>
        </div>
        <div class="my-3 col">
          <p for="exampleFormControlInput1" class="form-Label">Signature*</p>
          <div class="sign" style="border: 1px solid rgb(149 162 173)">
            <signature-pad
              [options]="signaturePadOptions1"
              (onBeginEvent)="drawStart1()"
              (onEndEvent)="drawComplete1()"
              #Signature1
            ></signature-pad>
          </div>
          <button class="btn btn-outline-primary mt-1" (click)="clear1()">
            Clear
          </button>
        </div>
      </div>
    </div>
    <div>
      <p class="title">Issues/Topics to be covered:</p>
    </div>
    <ng-container formArrayName="issues">
      <ng-container
        *ngFor="let control of issues().controls; let i = index"
        [formGroupName]="i"
      >
        <div>
          <div class="row">
            <div class="my-3 col-2">
              <p for="exampleFormControlInput1" class="form-Label">Issue</p>
              <input type="text" class="form-control" formControlName="index" />
            </div>
            <div class="my-3 col-6">
              <p for="exampleFormControlInput1" class="form-Label">
                Topic of discussion
              </p>
              <input
                type="text"
                class="form-control"
                formControlName="topicDisc"
              />
            </div>
            <div class="my-3 col-2">
              <p for="exampleFormControlInput1" class="form-Label">
                Topic Resolution
              </p>
              <select
                class="form-select form-control col form-dropdown"
                aria-label="Default select example"
                formControlName="topicRes"
              >
                <option selected hidden>Select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="my-3 col-1 my-auto">
              <span
                class="material-icons"
                style="margin-top: 35%"
                (click)="addIssues()"
                >add_circle_outline
              </span>
            </div>
            <div class="my-3 col-1 my-auto">
              <span
                class="material-icons"
                style="margin-top: 35%"
                (click)="removeIssues(i)"
              >
                remove_circle_outline
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <p class="title">Corrective Action</p>
    <div formArrayName="corrAction">
      <ng-container
        *ngFor="let control of correctAct().controls; let i = index"
        [formGroupName]="i"
      >
        <div class="row">
          <div class="my-3 col-6">
            <p for="exampleFormControlInput1" class="form-Label">Action</p>
            <select
              class="form-select form-control col form-dropdown"
              aria-label="Default select example"
              formControlName="action"
            >
              <option selected hidden>Select</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="my-3 col-2">
            <p for="exampleFormControlInput1" class="form-Label">
              Person Responsible
            </p>
            <select
              class="form-select form-control col form-dropdown"
              aria-label="Default select example"
              formControlName="personRes"
            >
              <option selected hidden>Select</option>
              <option value="John">John</option>
              <option value="Micheal">Micheal</option>
            </select>
          </div>
          <div class="my-3 col-2">
            <p for="exampleFormControlInput1" class="form-Label">Complete</p>
            <select
              class="form-select form-control col form-dropdown"
              aria-label="Default select example"
              formControlName="complete"
            >
              <option selected hidden>Select</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="my-3 col-1 my-auto">
            <span
              class="material-icons"
              style="margin-top: 35%"
              (click)="addCorrectAct()"
              >add_circle_outline
            </span>
          </div>
          <div class="my-3 col-1 my-auto">
            <span
              class="material-icons"
              style="margin-top: 35%"
              (click)="removeCorrectAct(i)"
            >
              remove_circle_outline
            </span>
          </div>
        </div>
      </ng-container>
    </div>
    <p class="title">Attendee (Print and Sign)</p>
    <div formArrayName="attendees">
      <ng-container
        *ngFor="let control of attendee().controls; let i = index"
        [formGroupName]="i"
      >
        <div class="row">
          <div class="my-3 col-5">
            <p for="exampleFormControlInput1" class="form-Label">
              Employee {{ i + 1 }}
            </p>
            <input
              type="text"
              class="form-control"
              formControlName="employee"
            />
          </div>
          <div class="my-3 col-5">
            <p for="exampleFormControlInput1" class="form-Label">Signature</p>

            <div class="sign" style="border: 1px solid rgb(149 162 173)">
              <signature-pad
                [options]="signaturePadOptions2"
                (onBeginEvent)="drawStart2()"
                (onEndEvent)="drawComplete2()"
                #Signature2
              ></signature-pad>
            </div>
            <button class="btn btn-outline-primary mt-1" (click)="clear2()">
              Clear
            </button>
          </div>

          <div class="my-3 col-1 my-auto">
            <span class="material-icons" (click)="addAttendee()"
              >add_circle_outline
            </span>
          </div>
          <div class="my-3 col-1 my-auto">
            <span class="material-icons" (click)="removeAttendee(i)">
              remove_circle_outline
            </span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
