<section class="content" style="height: 60%">
  <div [formGroup]="siteInspectionCategoryEdit" class="container px-4 py-4 bg-white">
    <h2>Update Site Inspection Category</h2>
    <hr />
    <div class="row">
      <div class="my-3 col">
        <p for="exampleFormControlInput1" class="form-Label">Category</p>
        <input type="text" class="form-control" id="customerName" formControlName="category" />
      </div>
    </div>
    <div>
      <button (click)="onSubmit()" class="btn btn-primary" [disabled]="
          siteInspectionCategoryEdit.invalid &&
          siteInspectionCategoryEdit.get('category').invalid
        ">
        Update
      </button>
    </div>
  </div>
</section>