.report_1{
    background-color: #d7e2e2;
    border-left: 4px solid blue;
}

div.like_1{
    transform: rotate(-90deg);
    margin-top: 92px;
    margin-left: -37px;
    margin-right: -35px;
}
.M_1{
    background-color:yellow;
}
.H_1{
    background-color:orangered;
}
.L_1{
    background-color:rgb(95, 223, 95);
}
div.space_1{
    margin: 0px 37px 0px 37px;
}
div.like_2{
    margin: 22px 0 0 0;
}
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
}

// label {
//     margin-bottom: 4%;
//     margin-top: 2%;
// }