
<form [formGroup]="editTitle">
    <h1 mat-dialog-title>Edit Q&A</h1>
 <hr>
  <div class="row">
    <div class="col-8">
      <select
        class="form-select form-control"
        aria-label="Default select example"
        formControlName="portalId"
      >
        <option *ngFor="let portal of portalData" [value]="portal._id">{{portal.title}}</option>
    
      </select>
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col-8">
      <p for="exampleFormControlInput1" class="form-Label">Question</p>
      <input
      type="text"
      formControlName="question"
      class="form-control sign"
      id="question"
      placeholder="Add Question"
    />
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col-8">
      <p for="exampleFormControlInput1" class="form-Label">Answer</p>
        <input
        type="text"
        formControlName="answer"
        class="form-control sign"
        id="answer"
        placeholder="Add Answer"
      />
      </div>
   
  </div>
<br>
<hr>
  <div class="row mt-4">
    <div class="col-sm-2 offset-8">
      <button mat-raised-button (click)="closeDialog()">Close</button>
    </div>
    <div class="col-sm-2">
      <button
        mat-raised-button
      
        (click)="onFormSubmit()"
      >
        Update
      </button>
    </div>
  </div>
</form>
