<div class="row">
	<div class="col ml-2 pt-3">
		<h1>Role Management List</h1>
	</div>
</div>

<section class="">
	<div class="">
		<div class="row">
			<div class="col-md-3">
				<div
					class="nav flex-column nav-pills nav-pills-custom"
					id="v-pills-tab"
					role="tablist"
					aria-orientation="vertical"
				>
					<ng-container *ngIf="roleArr?.length > 0;else elseBlock">
						<p
							*ngFor="let item of roleArr; let i = index"
							(click)="handleClick(i)"
							class="nav-link mb-3 p-3 shadow"
							[class.active]="roleArr[i].i"
							id="v-pills-home-tab"
							data-toggle="pill"
							role="tab"
							aria-controls="v-pills-home"
							aria-selected="true"
						>
							<i class="fa fa-user-circle-o mr-2"></i>
							<span class="font-weight-bold small text-uppercase"
								>{{ (roleArr[i].roleId| changeType).role
								}}</span
							>
							<span
								class="material-icons float-right"
								style="color: rgba(236, 65, 65, 0.842)"
								(click)=" deleteRole(roleArr[i].roleId)"
								matTooltip="Delete"
							>
								delete
							</span>
						</p>
					</ng-container>
				</div>
			</div>

			<div class="col-md-9">
				<div class="tab-content" id="v-pills-tabContent">
					<div
						*ngFor="let item of roleArr; let i = index"
						class="tab-pane fade shadow rounded bg-white"
						[class.active]="roleArr[i].i"
						[class.show]="roleArr[i].i"
						id="v-pills-home"
						role="tabpanel"
						aria-labelledby="v-pills-home-tab"
						[formGroup]="rolemanagment"
					>
						<mat-tab-group *ngIf="formArr">
							<mat-tab
								*ngFor="let tab of formNameArr2; let x=index "
							>
								<ng-template mat-tab-label>
									<p
										[class.textCapitaliza]="tab=='dashboard' || tab=='dynamicForm'"
									>
										{{tab}}
									</p>
								</ng-template>
								<div
									class="example-large-box mat-elevation-z4 p-2 mt-4"
									style="align-items: center"
								>
									<div
										class="row d-flex justify-content-center"
									>
										<span
											class="font-weight-bold small text-capitalize float-right col-4"
											style="
												font-size: large;
												display: flex;
												justify-content: flex-end;
											"
											>{{ (roleArr[i].roleId |
											changeType).role }}</span
										><span
											class="material-icons ml-2 col-1"
											style="font-size: 20px"
											matTooltip="Edit"
											(click)="openDialog(roleArr[i])"
										>
											edit
										</span>
									</div>
									<div
										class="row d-flex justify-content-center"
									>
										<label
											class="font-weight-bold small text-capitalize mt-2 mb-1"
											style="font-size: revert"
											>{{tab}}</label
										>
									</div>
									<div
										class="row ml-2 mt-5 d-flex justify-content-around"
									>
										<div class="col-3 mt-1">
											<input
												type="checkbox"
												[value]="true"
												[id]="formNameArr[x]+accessName.access+roleArr[i]?.role"
												formControlName="{{formNameArr[x]+accessName.access+roleArr[i]?.role}}"
											/>
											<label
												class="txtdefault fs-16 text-center label_2"
												style="font-weight: 400"
												[for]="formNameArr[x]+accessName.access+roleArr[i]?.role"
												>{{accessLabel.access}}</label
											>
										</div>
										<div class="col-3 mt-1">
											<input
												type="checkbox"
												[value]="true"
												[id]="formNameArr[x]+accessName.view+roleArr[i]?.role"
												formControlName="{{formNameArr[x]+accessName.view+roleArr[i]?.role}}"
											/>
											<label
												class="txtdefault fs-16 text-center label_2"
												style="font-weight: 400"
												[for]="formNameArr[x]+accessName.view+roleArr[i]?.role"
												>{{accessLabel.view}}</label
											>
										</div>
										<div
											class="col-3 mt-1"
											*ngIf="formNameArr[x]!=='dashboard'"
										>
											<input
												type="checkbox"
												[value]="true"
												[id]="formNameArr[x]+accessName.add+roleArr[i]?.role"
												formControlName="{{formNameArr[x]+accessName.add+roleArr[i]?.role}}"
											/>
											<label
												class="txtdefault fs-16 text-center label_2"
												style="font-weight: 400"
												[for]="formNameArr[x]+accessName.add+roleArr[i]?.role"
												>{{accessLabel.add}}</label
											>
										</div>
										<div
											class="col-3 mt-1"
											*ngIf="formNameArr[x]!=='dashboard'"
										>
											<input
												type="checkbox"
												[value]="true"
												[id]="formNameArr[x]+accessName.edit+roleArr[i]?.role"
												formControlName="{{formNameArr[x]+accessName.edit+roleArr[i]?.role}}"
											/>
											<label
												class="txtdefault fs-16 text-center label_2"
												style="font-weight: 400"
												[for]="formNameArr[x]+accessName.edit+roleArr[i]?.role"
												>{{accessLabel.edit}}</label
											>
										</div>

										<div
											class="col-3 mt-1"
											*ngIf="formNameArr[x]!=='dashboard'"
										>
											<input
												type="checkbox"
												[value]="true"
												[id]="formNameArr[x]+accessName.delete+roleArr[i]?.role"
												formControlName="{{formNameArr[x]+accessName.delete+roleArr[i]?.role}}"
											/>
											<label
												class="txtdefault fs-16 text-center label_2"
												style="font-weight: 400"
												[for]="formNameArr[x]+accessName.delete+roleArr[i]?.role"
												>{{accessLabel.delete}}</label
											>
										</div>
									</div>
								</div>
							</mat-tab>
						</mat-tab-group>
						<div class="col mt-2 mb-2">
							<button
								_ngcontent-hqi-c400=""
								type="button"
								class="btn btn-primary mt-1 mr-5 float-md-right"
								(click)="onSubmit()"
							>
								Submit
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ng-template #elseBlock>
		<div style="display: flex; justify-content: center; padding: 2%">
			<h1 class="text-danger">No Role Available.</h1>
		</div>
	</ng-template>
</section>
