

.viewBtn i {
    color: #007bff;
    font-size: 21px !important;
}
::ng-deep .mat-sort-header-container {
  margin-left: 47% !important;
}
table {
    width: 100%;
  }
.select{
    width:100%!important;
}
  .pt-3 {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    word-break: break-word;
    font-family: Inter, sans-serif;
  }
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {

    border: solid 2px #eaeaea
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(122, 122, 122); 
}
.roleZIndex{
z-index: 200 !important;
}
button.link { background:none; border:none;
 
  }
button.link:hover { color: #007bff;
}