<section [formGroup]="editSitesForm" class="content">
    <div class="container px-4 py-4 bg-white">
      <h1>Update Site Information</h1>
    
      <div class="row">
      <div class="my-3 col-6">
          <p for="exampleFormControlInput1" class="form-Label">Site Name</p>
          <input
            type="text"
            class="form-control"
            formControlName="siteName"
            id="siteName"
          />
        </div>
   </div>
    <div class="row">
        <div class="my-3 col-3">
          <p for="exampleFormControlInput1" class="form-Label">Street Number</p>
          <input
            type="text"
            class="form-control"
            formControlName="streetNumber"
            id="siteName"
          />
        </div>
        <div class="my-3 col-3">
          <p for="exampleFormControlInput1" class="form-Label">Street Address</p>
          <input
            type="text"
            class="form-control"
            formControlName="streetAddress"
            id="siteName"
          />
        </div>
        <div class="my-3 col-2">
          <p for="exampleFormControlInput1" class="form-Label">Suburb</p>
          <input
            type="text"
            class="form-control"
            formControlName="suburb"
            id="siteName"
          />
        </div>
        <div class="my-3 col-4">
            <p for="exampleFormControlInput1" class="form-label">State</p>
          <select
          class="form-select form-control col"
          id="siteName"
          aria-label="Default select example"
          formControlName="state"

        >
          <option selected hidden>Select</option>
          <option value="NSW">NSW</option>
          <option value="ACT">ACT</option>
          <option value="QLD">QLD</option>
          <option value="NT">NT</option>
          <option value="SA">SA</option>
          <option value="NZ">NZ</option>
          <option value="TAS">TAS</option>
          <option value="VIC">VIC</option>
          <option value="WA">WA</option>
        </select>
     
        </div>
      </div>
    <div >
    <button class="btn btn-primary" (click)="onSubmit()">
      Submit
    </button>
    </div>
   </div>
    </section>
    