<!-- <div class="container px-4 py-4 bg-white">
  
  <form [formGroup]="JobTaskDetail" (ngSubmit)=" onFormSubmit()">
    <h2 class="text-center">Add Job Task Parameter </h2>
   <hr>
   <br>
    <ng-container formArrayName="arrObj">
        <ng-container
          *ngFor="let control of add().controls; let i = index"
          [formGroupName]="i"
        >
          <div>
            <div class="row">
             
              <div class=" col-8">
          
                <input
                  type="text"
                  formControlName="title"
               
                  class="form-control sign"
                  id="name"
                />
              </div>
              <div class="col-1 mt-2">
              <span class="material-icons" (click)="addAction()"
                >add_circle_outline
              </span>
            </div> 
               <div class="col-1 mt-2">
              <span class="material-icons" (click)="removeSafetyModule(i)">
                remove_circle_outline
              </span>
            </div> 
            </div>
          </div>
          <hr />
        </ng-container>
      </ng-container>
      <br>
      
      <div class="col-md-2"> 

         <button type="submit" class="btn btn-primary "> Submit</button>
      </div>
      </form>
    </div> 
<div class="text-center">
  <h1 class="card">Our Job Task List</h1>
</div>-->

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="btn btn-outline-primary float-right" [routerLink]="['/admin/siteInfo/addJobTask']">Add Job task</div>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h1 class="">Our Job Task List</h1>
            <table class="table table-hover text-wrap">
              <thead>
                <tr>
                  <th style="width: 5%">Index</th>
                  <th style="width: 25%">Job Task List </th>
                  <th style="width: 20%">High Risk Construction </th>
                  <th style="width: 20%">PPE</th>
                  <th style="width: 20%">Licence&Qualification</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of  jobTaskData.subComponents; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{ task.title }}</td>
                  <td>
                    <mat-form-field appearance="fill">
                      <!-- <mat-label>HighRiskConstruction</mat-label> -->
                      <mat-select [formControl]="toppings" multiple>
                        <mat-select-trigger>
                          {{toppings.value ? toppings.value[0] : ''}}
                          <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                          </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let topping of highRiskConstructionData.subComponents" [value]="topping.value">
                          {{topping.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="fill">
                      <!-- <mat-label>PPE selection</mat-label> -->
                      <mat-select [formControl]="PPE" multiple>
                        <mat-select-trigger>
                          {{PPE.value ? PPE.value[0] : ''}}
                          <span *ngIf="PPE.value?.length > 1" class="example-additional-selection">
                            (+{{PPE.value.length - 1}} {{PPE.value?.length === 2 ? 'other' : 'others'}})
                          </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let topping of PPESelectionData.subComponents" [value]="topping.value">{{topping.title}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="fill">
                      <!-- <mat-label>Licence and Qualifications
                      </mat-label> -->
                      <mat-select [formControl]="Licence" multiple>
                        <mat-select-trigger>
                          {{Licence.value ? Licence.value[0] : ''}}
                          <span *ngIf="Licence.value?.length > 1" class="example-additional-selection">
                            (+{{Licence.value.length - 1}} {{Licence.value?.length === 2 ? 'other' : 'others'}})
                          </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let topping of  licenseAndQualificationData.subComponents" [value]="topping.value">
                          {{topping.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>