<section class="container qukhead m-b-30 twoBlk">
  <div class="row">

    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 conthead">
      <div class="container form-container">
        <div mat-dialog-title class="dialog-title">
          <h1 style=" font-size: 32px;">
            View Contact Info
          </h1>
          <button type="button" class="close" style="font-size: 40px;" (click)="close()" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <hr />
        <form class="form-horizontal" action="" [formGroup]="contactUsForm">
          <div class="form-group">
            <label class="control-label col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" for="fname">Full Name</label>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <input type="text" class="form-control" formControlName="fullName" id="fullName" placeholder=""
                name="fullName" value="{{ Contact.fullName}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" for="phone">Phone
              Number</label>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="" name="phone"
                value="{{ Contact.phone}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" for="email">Email</label>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <input type="email" class="form-control" formControlName="email" id="email" placeholder="" name="email"
                value="{{ Contact.email}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" for="query">Query</label>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <textarea class="form-control" formControlName="query" id="query" value="{{ Contact.query}}"
                name="query"></textarea>
            </div>
          </div>
          <!-- <div class="form-group">
              <div
                class="text-center col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
              >
                <button type="submit" class="btn btn-default cntSubmit" *ngIf="this.data1.action === 'new'" (click)="onSubmit()">
                  Submit
                </button>
                <button type="submit" class="btn btn-default cntSubmit" *ngIf="this.data1.action === 'edit'"  (click)="editContactUs($event)">
                  
                </button>
              </div>
            </div> -->
        </form>
      </div>
    </div>
  </div>
</section>