
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;  
    font-size: 12px;
    line-height: 2rem;
    font-family:sans-serif;
}
section{padding-top: 8%;}
.header-scrolled{background-image: none;
  background-color: rgba(249 250 253 / 98%);
  transition: none 0s ease 0s;}
.header-scrolled a{padding-left: 6%;}
.topbar{background-image: none;
  background-color: #fff;
  transition: all 0.5s;}
.topheader{height: 100vh;
}
.topheader:after{content: '';
  position: absolute;
  width: 100%;
  height: 100%;
 background:linear-gradient(to right,#0616a2,80%,transparent);
 opacity: 4.9;
 clip-path: polygon( 0 0,100% 0, 100% 78%, 0 100% );}
.topheader {
  /* background-image: url("/assets/img/headbg.png"); */
  padding: 0px 0 0;
  clip-path: polygon( 0 0,100% 0, 100% 78%, 0 100%);
    background-image: url("/assets/img/workers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
    background-position: 50% 50%;
}
    .headbutton a{border: 2px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 30px;
    outline: none;
    color: #fff;
    text-decoration:none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;margin-left: 50px; margin-top: 20px;}
    .headbutton a:hover
 {
     
     text-decoration: none;
     box-shadow: 0  0 20px 0 rgb(255, 255, 255);
 }
      .headbutton1 {margin-top: 20px; margin-right: 11%;}
    .headbutton1 a{border: 1px solid rgb(46, 74, 233);
      border-radius: 100px;
      background-color: rgb(46, 74, 233);
      padding: 10px 34px;
      outline: none;
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4;
      text-decoration:none;
      text-transform: capitalize;
      text-align: left;}
      .headbutton1:hover{text-decoration: none;
        box-shadow: 0 0 20px 0 rgb(255 255 255);}
        .toptext{opacity: 1;
          z-index: 1;
      }
    .toptext h4{color: #ffff;
      text-transform: capitalize;
      font-size: 30px;padding-left: 50px;
      padding-top: 72px;}
      .toptext p{color: #fff;padding-left: 50px;padding-bottom:33px;}
    /* change the calc height to a percentage height to get alternate responsive behavior*/

/* .navbar::befor{
   content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0;
	left:0;
	z-index: -1;
	opacity: -4;
    background-image: linear-gradient(135deg, rgb(86, 72, 168), rgb(22, 15, 126));
} */
 /* .nav_style a
{
  padding-bottom: 27px;
    color: #000;
    font-size: 17px;
}
.nav_style a:hover, .nav_style .active > a, .nav_style li:hover > a 
{color: blue;} */
/*  Code By Webdevtrick ( https://webdevtrick.com )  */
@import url(https://fonts.googleapis.com/css?family=Lato);
ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}
ul li {
  padding: 6px 0;
}
ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  padding: 4px 0;
  transition: 0.5s;
}
ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #2435c9;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  color: #2435c9;
}
ul li a:hover {
  color: #95a5a6;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


 .navhead{margin-left: 50px;}
 .nav_style li
 {
    padding-right: 40px;
    padding-top: 30px;
 }
 /* .nav_style a:hover, .nav_style .active > a .nav_style li:hover > a {
  color: #47b2e4;
  width: 17%;
  border: 1px solid #e3eae3;
  position: relative;
  display: block;
  margin-bottom: 14px;
  left: calc(45% - 60px);} */

.logoimg img
{
    width: 58%;
    height: auto;

}
.para p{
    padding-top: 10px;
}
.frnimg{padding-top: 20%;}
.frnimg img{float: right; width: 28%;border: 2px solid rgb(250, 157, 204);
  border-radius: 11px;}
.onebr{border: 2px solid rgb(250, 157, 204);
  border-radius: 11px;padding: 10px; float: right;}
.click button{
        margin-top: 36px;
        margin-left: 37px;
        padding: 3px 10px 3px 10px;
    }
    .backimg{padding: 40px 0px;}
    .backimg img{float: right;
      width: 100%;
      padding: 0px 0px;
      margin-right: 80px;
      border: 2px solid rgb(250, 157, 204);
      border-radius: 11px;
    }
    .orsrv{margin-top: 72px;}
    .srvimg img{box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
      transform: translateY(-20px);}
      .img1 img{margin-top: 37px;margin-left: -21px;}
      .img2 img{float: right;margin-top: 24px;}
      .img3 img{margin-top: 40px;
        margin-left: 29px;
    }
    .img4 img{margin-top: 28px;
      margin-left: 54px;}
    /* back to top bottom */
    .back-to-top {
      position: fixed;
      display: none;
      right: 15px;
      bottom: 15px;
      z-index: 99999;
    }
    
    .back-to-top i {   
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background: #47b2e4;
      color: #fff;
      transition: all 0.4s;
    }
    
    .back-to-top i:hover {
      background: #209dd8;
      color: #fff;
    }
         /* end back to top -------------- */
         /* section */
         
          
          
          .section-title {
            text-align: center;
            padding-bottom: 30px;
          }
          
          .section-title h2 {
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 20px;
            padding-bottom: 20px;
            position: relative;
            color: #37517e;
          }
          
     
          
      
    /* brand css section sec------------------------------------- */
    .heading h5{padding-left: 43px;}

    .heading i{font-size: x-large;}

    .cliens {
        padding: 12px 0;
        text-align: center;
      }
      
      .cliens img {
        max-width: 60%;
        /* transition: all 0.4s ease-in-out; */
        display: inline-block;
        padding: 15px 0;
        /* filter: grayscale(100); */
      }
      
      .cliens img:hover {
        filter: none;
        transform: scale(1.6);
      }
      
      @media (max-width: 768px) {
        .cliens img {
          max-width: 40%;
        }
      }
      .navbar-toggler{position: fixed;
        top: 20px;
        right: 15px;
        z-index: 9998;
        border: 0;
        background-color:#c3bebe;
        font-size: 24px;
        transition: all 0.4s;
        outline: none !important;
        line-height: 1;
        cursor: pointer;
        text-align: right;}
      
      /* brand css end---------------------------- */
      /* <!-- Our online module----------------------------------------------- --> */
      

      /* <!-- Our online module---------------------------------------------- --> */
      /* quicks------------------------------------------------------- */
      
              .slick-next i{float: right;
                border: 2px solid;
                  color: rgb(212, 211, 207);
              border-radius: 50%;
              padding:3px;
              font-size: 20px;}
              .slick-next i:hover{color: blue;}
  
           .vertical{width: 18%;
            width: 17%;
            border: 1px solid #e3eae3;
            position: relative;
            display: block;
            margin-bottom: 14px;
            margin-top: 15px;
            left: calc(45% - 60px);
        }
          .qukhead h1{text-align: center;
            text-transform: capitalize;}
          .qukhead span{color:#C71437;font-size: 29px;}
          .qukhead p{text-align: center;}
          .hedunder{color: #000;}
            .slide img{border-radius: 5%;}
            .servimg img{width: 100%; border-radius: 20%;}
            .servtxt h4{color: #C71437;text-transform: uppercase;font-size: 15px;}
            .servtxt p{text-align: left; color: #000;}
            .servtp{padding-top: 5%;}
      /* quicks--------------------------------------------------- */
      /* ask qus----------------------------------------------------- */
      .askmain{background-image:url(/assets/img/askbg.png);
        background-size:cover;
        background-blend-mode: lighten;
      }
      .qurimg{margin-top: -28px;
        margin-bottom: -50px;}
      .qurimg img{width: 100%;}
      .qurhead{padding-top: 32px;}
      .qurhead {margin-top: 0px;}
      .qurhead h6{font-size: 26px;padding-top: 32px;}
      .qurhead h5{color: #C71437;font-size: 26px;}
      /* ask qus */
        /* always support----------------------------- */
       
      .head p{
        text-align: center;
        font-size: 20px;
        color: #000;
      }
      .head span{
        text-align: center;
        font-size: 20px;
        color:#C71437;
      }
      /* always support----------------------------- */
      
      /* testimonal */

      /* social section------------------------------------------ */
  
      /* social section--------------------------------------------- */
      /* always support---------------------------------- */
      .altext i{color: orange;
        font-size: 9px;}
        .hdtext {padding-top: 5%;}
      .altext span{color: #000;
        font-weight: 600;
        font-size: 16px;
        padding-left: 20px;}
        .alvr
        {
          width: 28%;
          border: 1px solid #e3eae3;
          position: relative;
           display: block;
         
        }
        .alimg img{width: 100%;}
       .fonttx{padding-top: 20px;}
      /* always support----------------------------------- */
      /* ----------------footer-------------------------------------------------------- */
      .footbg{background: linear-gradient(
        135deg, rgb(132, 30, 216) 30%, #C71437);padding-top: 30px;
        padding-bottom: 30px;}
        .footbtn{border: 1px solid rgb(212, 212, 214);
          border-radius: 100px;
          margin: 0 0px;
          padding: 6px 20px;
          outline: none;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.4;}
        .footend {background-color: #000; bottom: 10px;}
          .footend p {color: #fff;text-align: center;}
        .foottext p{color: #fff; font-size: 25px;line-height: 19px;}
        .subbtn {float: right;text-decoration: none;
          border: 1px solid #fff;
          color:#C71437;
          background-color: #fff;
          border-radius: 100px;
          margin: -6px -21px;
           padding: 4px 13px;
          outline: none;}
          .subbtn a{text-decoration: none;
          }
          .footbtn i{ font-size: 21px;}
          .footimg img{width: 90%;padding-top: 20%;}
          .txtfoot p{color:#c1bdbd; padding-top: 12%;}
          .txtfoot h6{font-weight: 700;}
          .btnqus{border-radius: 3px 0 0 3px;
            width: 79%;
            height: 5vh;
            margin: 0 0px;
            padding: 6px 20px;
            outline: none;
            font-size: 1rem;
            
            border: 0;
            line-height: 1.4;background-color:#f3efef;}
            .inrbtnqus{width: 21%;
              height: 5vh;
              background-color: #3d3ddc;
              color: #fff;
              border: 0;
              border-radius: 0 3px 3px 0;
          }
          .btnfoot{border-radius: 15px 0 0 15px;
            width: 76%;
            height: 5vh;
            margin: 0 0px;
            padding: 6px 20px;
            outline: none;
            font-size: 1rem;
            font-weight: 600;
            border: 1px solid #fff;
            color:#fff;
            line-height: 1.4;background-color:transparent;}
            .inrbtnfoot{width: 16%;
              height: 5vh;
              background-color: #3d3ddc;
              color: #fff;
              border: 0;
              border-radius: 0 15px 15px 0;
          }
          .btnfootr{border-radius: 5px 0 0 5px;
            width: 76%;
            height: 5vh;
            margin: 0 0px;
            padding: 6px 20px;
            outline: none;
            font-size: 1rem;
            font-weight: 600;
            border: 0;
            line-height: 1.4;background-color:#f3efef;}
            .inrbtn{width: 16%;
              height: 5vh;
              background-color: #3d3ddc;
              color: #fff;
              border: 0;
              border-radius: 0 5px 5px 0;
          }
            .txtfoot .btnfootr [type=email]{width: 70%;
              height: 10vh;
              background-color: #f3efef;
              border: 0;
              color: #000;
              border-radius: 0px 5px 5px 0px;}
            .textfoot form input [type=submit]{    float: right;
              border: 1px solid #fff;
              color: #fff;
              background-color: blue;
              margin: -7px -21px;
              padding: 6px 13px;
              outline: none;
              
              text-decoration: none;
          }
          .footline{width: 63%;
            border: 1px solid #c1bdbd;
            position: relative;
            display: block;
            margin-bottom: 32px;
            left: calc(30% - 60px);
            top: 15px;}
            .social .facebk {background-color: #3e6bdc;
              border-radius: 48%;
              color: #fff;
              padding: 4px;}
              .social .twtr{background-color: #5ed0ef;
                border-radius: 48%;
                color: #fff;
                padding: 4px;margin-left: 7px;}
              .social .youtb{background-color: red;
                border-radius: 48%;
                color: #fff;
                padding: 4px;margin-left: 4px;}
                .social {padding-left: 10px;}
                .footimg p{padding-left: 15px;}
          .copyright{color: #c1bdbd;text-align: center;}
          /* our patner-------------------------------------- */
          .imgtxt p{color: #000; font-size: 16px;
            padding-top: 20px;}
          /* Slider */
          
          .slick-slide {
              margin: 0px 20px;
          }
          
          .slick-slide img {
              width: 100%;
          }
          
          .slick-slider
          {
              position: relative;
              display: block;
              box-sizing: border-box;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
                      user-select: none;
              -webkit-touch-callout: none;
              -khtml-user-select: none;
              -ms-touch-action: pan-y;
                  touch-action: pan-y;
              -webkit-tap-highlight-color: transparent;
          }
          
          .slick-list
          {
              position: relative;
              display: block;
              overflow: hidden;
              margin: 0;
              padding: 0;
          }
          .slick-list:focus
          {
              outline: none;
          }
          .slick-list.dragging
          {
              cursor: pointer;
              cursor: hand;
          }
          
          .slick-slider .slick-track,
          .slick-slider .slick-list
          {
              -webkit-transform: translate3d(0, 0, 0);
                 -moz-transform: translate3d(0, 0, 0);
                  -ms-transform: translate3d(0, 0, 0);
                   -o-transform: translate3d(0, 0, 0);
                      transform: translate3d(0, 0, 0);
          }
          
          .slick-track
          {
              position: relative;
              top: 0;
              left: 0;
              display: block;
          }
          .slick-track:before,
          .slick-track:after
          {
              display: table;
              content: '';
          }
          .slick-track:after
          {
              clear: both;
          }
          .slick-loading .slick-track
          {
              visibility: hidden;
          }
          
          .slick-slide
          {
              display: none;
              float: left;
              height: 100%;
              min-height: 1px;
          }
          [dir='rtl'] .slick-slide
          {
              float: right;
          }
          .slick-slide img
          {
              display: block;
              opacity: 0.9;
          }
          .slick-slide.slick-loading img
          {
              display: none;
          }
          .slick-slide.dragging img
          {
              pointer-events: none;
          }
          .slick-initialized .slick-slide
          {
              display: block;
          }
          .slick-loading .slick-slide
          {
              visibility: hidden;
          }
          .slick-vertical .slick-slide
          {
              display: block;
              height: auto;
              border: 1px solid transparent;
          }
          .slick-arrow.slick-hidden {
              display: none;
          }
          /* our patner----------------------------------------- */
          /* gallery------------------------------------ */
          .gallerybg{background: #fff;
            border: medium none;
            border-radius: 3px;
            transition: 0.3s;
            box-shadow: 0 0 3px 0 rgb(0 0 0 / 2%);
            transform: translateY(-20px);}
            .gallerybg h1{
              padding-top: 40px;
              text-align: center;}
              .gallerybg span{color: #C71437;
                font-size: 30px;}
                
                .gallerybg h6{text-align: center;
                  font-size: 16px;}
                  .gallerybg img{width: 80%;
                    border-radius: 7px;}
          .tz-gallery {
            padding: 40px;
        }
        .titlebr p{padding-left: 66px;
        }
        
        .tz-gallery .lightbox img {
            margin-bottom: 30px;
            transition: 0.2s ease-in-out;
            box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        }
        
        
        .tz-gallery .lightbox img:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 15px rgba(0,0,0,0.3);
        }
        
        .tz-gallery img {
            border-radius: 4px;
        }
        
        .baguetteBox-button {
            background-color: transparent !important;
        }
        
        
        @media(max-width: 768px) {
            body {
                padding: 0;
            }
        
            .container.gallery-container {
                border-radius: 0;
            }
        }
            /* ---------------testimonal------------------------------------ */

    
    .card {
        box-shadow: 0px 4px 8px 0px #BDBDBD;
        width: 80%;
        height: 70vh;border-radius: 2px;
        background-color: #fff;
        border-radius: 10px;
    }
    
    .owl-carousel .owl-nav button.owl-next span,
    .owl-carousel .owl-nav button.owl-prev span{font-size: 30px;}
    
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        background: 0 0;
        color: #1E88E5 !important;
        border: none;
        
        font: inherit;
        font-size: 50px !important
    }
    .test{padding-left: 7%;}
    
    .owl-carousel .owl-nav button.owl-next:hover,
    .owl-carousel .owl-nav button.owl-prev:hover {
        color: #0D47A1 !important;
        background-color: transparent !important
    }
    
    .owl-dots {
        display: none
    }
    
    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }
    
    .item {
        display: none
    }
    
    .next {
        display: block !important;
        position: relative;
        transform: scale(0.8);
        transition-duration: 0.3s;
        opacity: 0.6
    }
    
    .prev {
        display: block !important;
        position: relative;
        transform: scale(0.8);
        transition-duration: 0.3s;
        opacity: 0.6
    }
    
    .item.show {
        display: block;
        transition-duration: 0.4s
    }
    
    @media screen and (max-width: 999px) {
    
        .next,
        .prev {
            transform: scale(1);
            opacity: 1
        }
    
        .item {
            display: block !important
        }
    }
    .wrote p{    padding: 1px 18px;
    text-align: justify;color: #cac6c6;
}
    
     .midway{background-color: #252caf;border-radius: 10px;height: 50vh;}
     .setimg {width: 50%;
      margin-left: 73px;
      margin-top: -90px;
      
      
  }
    .setimg img{width:"50%"; border: 3px solid #ffff;border-radius: 50%;}
  
  
  
  
  
  
  .green{
    background-color:#6fb936;
  }
          .thumb{
              margin-bottom: 7%;
          }
          
          .page-top{
              margin-top:85px;
          }
         .thumb h6{ color: #000; text-transform: capitalize; text-align: center;
          font-weight: 500;
          font-size: 20px;
            padding-top: 40px;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          object-fit:cover;
          
        }
        .btn{border: none; outline: none; background-color: #8880;padding: 10px 20px;
           color: #ddd; cursor: pointer;margin: 10px auto;}
           .btn:hover{
             background-color: #111;
           }
     
  img.zoom {
      width:90%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      
  }
  img.zoom h6:hover{margin-top: 30px;}
  
          
   
  .transition {
      -webkit-transform: scale(1.4); 
      -moz-transform: scale(1.4);
      -o-transform: scale(1.4);
      transform: scale(1.4);
    
  }
      
      .modal-header {
     
       border-bottom: none;
  }
      .modal-title {
          color:#000;
      }
      .modal-footer{
        display:none;  
      }
      .testvr{width: 20%;
        border: 1px solid #f7b327;
        position: relative;
        display: block;
        margin-bottom: 14px;
        left: calc(46% - 60px);
        bottom: 20px;}
        .headtes{font-size: 20px;
        text-transform: capitalize;}