<section class="container topbar">
  <div class="fixed-top header-scrolled">
    <nav class="navbar fixed-top header-scrolled navbar-expand-lg">
      <a class="navbar-brand" href="#" class="logo mr-auto logoimg"
        ><img src="assets/img/logo.png" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"
          ><i class="icofont-navigation-menu"></i
        ></span>
      </button>
      <div class="collapse navbar-collapse navhead" id="navbarNavDropdown">
        <ul class="navbar-nav nav_style">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="headbutton1">
        <a href="">login</a>
      </div>
    </nav>
  </div>
</section>

<section class="container-fluid d-flex topheader sliderHeader m-b-30">
  <div class="container toptext">
    <h4>lorem ipsum dolor sit amet,<br />consectetur</h4>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
      ratione<br />
      exercitationem, dignissimos a ut earum eveniet fugiat impedit vero
      eligendi doloribus <br />tenetur iusto dicta delectus eum, nemo vel sint
      totam!
    </p>
    <div class="headbutton">
      <a href="#">Read more</a>
    </div>
  </div>
</section>
<!-- ------------------------------ details-------------------------------------->
<section class="container qukhead m-b-30">
  <h1 class="sectionHeader">
    <span class="txt-blue-head m-r-10">Our</span>
    <span class="txt-theme-highlight">Application</span>
    <span class="txt-black">Service</span>
  </h1>
  <div class="vertical"></div>
  <p class="hedunder txt-main-sub f-16">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum laudantium
    repellat facere placeat eius optio doloremque consequatur<br />
    exercitationem velit nobis earum fugit, enim voluptatem fuga quis ducimus ex
    est minus?
  </p>
  <div class="clearfix"></div>
  <div class="row info-box-set m-b-30 m-t-30">
    <div class="col-lg-2 offset-1 servimg">
      <img src="assets/img/service.jpg" alt="Box-image" />
    </div>
    <div class="col-lg-9 servtxt">
      <h4 class="txt-theme-highlight">Smart healthy and sefety Software</h4>
      <p class="txt-block-para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
        deleniti consequuntur, numquam aliquid soluta voluptatibus non. Sequi
        dignissimos,veniam cupiditate commodi saepe voluptatibus eaque aliquid
        nobis est eum hic, dolorum earum ea vel culpa!Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Sequi dignissimos,veniam cupiditate
        commodi saepe voluptatibus eaque aliquid nobis est eum hic, dolorum
        earum ea vel culpa!
      </p>
    </div>
  </div>
  <div class="row servtp info-box-set m-b-30">
    <div class="col-lg-2 offset-1 servimg">
      <img src="assets/img/skills.png" alt="Box-image" />
    </div>
    <div class="col-lg-9 servtxt">
      <h4 class="txt-theme-highlight">get started</h4>
      <p class="txt-block-para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
        deleniti consequuntur, numquam aliquid soluta voluptatibus non. Sequi
        dignissimos,veniam cupiditate commodi saepe voluptatibus eaque aliquid
        nobis est eum hic, dolorum earum ea vel culpa!Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Sequi dignissimos,veniam cupiditate
        commodi saepe voluptatibus eaque aliquid nobis est eum hic, dolorum
        earum ea vel culpa!
      </p>
    </div>
  </div>
</section>
<!-- ------------------------------ details end------------------------------------ -->
<!-- -------------------------------------------- -->
<!-- Our online module----------------------------------------------- -->
<div class="clearfix"></div>
<section class="container qukhead m-b-30 m-t-30">
  <h1 class="sectionHeader">
    <span class="txt-blue-head">Our</span>
    <span class="txt-blue-head">online</span>
    <span class="txt-blue-head">safety</span>
    <span class="txt-theme-highlight">modules</span>
  </h1>
  <div class="vertical"></div>
  <p class="hedunder txt-main-sub f-16">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum laudantium
    repellat facere placeat eius optio doloremque consequatur<br />
    exercitationem velit nobis earum fugit, enim voluptatem fuga quis ducimus ex
    est minus?
  </p>
  <section class="customer-logos slider imgtxt">
    <!-- <div class="slide">
      <img src="assets/img/energy.jpg " width="50%" height="40%" />
      <p>Energy Managment</p>
    </div>
    <div class="slide">
      <img src="assets/img/employeemg.png" width="50%" height="40%" />
      <p>Employee Managment</p>
    </div>
    <div class="slide">
      <img src="assets/img/injurimg.png" width="50%" height="100%" />
      <p>Injuri Managment</p>
    </div>
    <div class="slide">
      <img src="assets/img/riske.jpg" width="50%" height="40%" />
      <p>Risk Managment</p>
    </div> -->

    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)"
    >
      <div ngxSlickItem *ngFor="let slide of images" class="slide">
        <img src="{{ slide.path }}" alt="" width="100%" />
        <p>{{ slide.title }}</p>
      </div>
    </ngx-slick-carousel>
  </section>
</section>
<!-- our patner-------------------------------------- -->
<!-- asking qus----------------------------------------------------- -->
<div class="clearfix"></div>
<section class="container qukhead m-b-30 twoBlk">
  <div class="row askmain">
    <div class="col-lg-6 offset-1 qurimg">
      <img src="assets/img/askqbg.png" alt="block-img" />
    </div>
    <div class="col-lg-6 qurhead">
      <h1 class="sectionHeader text-left">
        <span class="txt-blue-head">Have</span>
        <span class="txt-blue-head">question?</span>
      </h1>
      <h1 class="sectionHeader text-left">
        <span class="txt-theme-highlight">Ask</span>
        <span class="txt-theme-highlight">Our</span>
        <span class="txt-theme-highlight">Solution</span>
        <span class="txt-theme-highlight">Consultant</span>
      </h1>
      <div class="vertical"></div>
      <p class="hedunder txt-main-sub f-16 text-left">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
        laudantium repellat facere placeat eius optio doloremque consequatur<br />
        exercitationem velit nobis earum fugit, enim voluptatem fuga quis
        ducimus ex est minus?
      </p>
      <form action="" method="post btnqus">
        <input
          class="btnqus"
          type="email"
          name="email"
          placeholder="Enter your Mobile Number"
        />
        <input class="inrbtnqus" type="submit" value="Get Cell" />
      </form>
    </div>
  </div>
</section>

<!-- Asking qus------------------------------------------------- -->
<div class="clearfix"></div>
<section class="container qukhead gallerybg m-b-30 m-t-30">
  <h1 class="sectionHeader">
    <span class="txt-blue-head">Flexible</span>
    <span class="txt-blue-head">complience</span>
    <span class="txt-blue-head">software</span>
    <span class="txt-theme-highlight">for</span>
    <span class="txt-theme-highlight">every</span>
    <span class="txt-theme-highlight">industry</span>
  </h1>
  <div class="vertical"></div>
  <p class="hedunder txt-main-sub f-16">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum laudantium
    repellat facere placeat eius optio doloremque consequatur<br />
    exercitationem velit nobis earum fugit, enim voluptatem fuga quis ducimus ex
    est minus?
  </p>
  <h6 class="txt-small-header">Always on Support</h6>
  <div class="container page-top">
    <div class="row contan">
      <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a
          href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
          class="fancybox"
          rel="ligthbox"
        >
          <img
            src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
            class="zoom img-fluid"
            alt=""
          />
        </a>
        <h6>Forest Energy</h6>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a
          href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
          class="fancybox"
          rel="ligthbox"
        >
          <img
            src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
            class="zoom img-fluid"
            alt=""
          />
        </a>
        <h6>Energy safety</h6>
      </div>

      <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a
          href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          class="fancybox"
          rel="ligthbox"
        >
          <img
            src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="zoom img-fluid"
            alt=""
          />
        </a>
        <h6>Healty safety</h6>
      </div>

      <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a
          href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          class="fancybox"
          rel="ligthbox"
        >
          <img
            src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="zoom img-fluid"
            alt=""
          />
        </a>
        <h6>mini safety</h6>
      </div>

      <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a
          href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
          class="fancybox"
          rel="ligthbox"
        >
          <img
            src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
            class="zoom img-fluid"
            alt=""
          />
        </a>
        <h6>Ware House safety</h6>
      </div>

      <div class="col-lg-4 col-md-4 col-xs-6 thumb">
        <a
          href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
          class="fancybox"
          rel="ligthbox"
        >
          <img
            src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
            class="zoom img-fluid"
            alt=""
          />
        </a>
        <h6>Automative safety</h6>
      </div>
    </div>
  </div>
</section>

<!-- testimonal-------------------------------------- -->

<div class="clearfix"></div>
<section class="container qukhead testimonials m-b-30 m-t-30">
  <div class="px-3 px-sm-5 my-5 headtes text-center">
    <h1 class="mb-5 txt-small-header">Customer testimonials</h1>
    <div class="testvr"></div>
    <p class="hedunder txt-main-sub f-16">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
      laudantium repellat facere placeat eius optio doloremque consequatur
      exercitationem velit nobis earum fugit, enim voluptatem fuga quis ducimus
      ex est minus?
    </p>
    <div class="owl-carousel owl-theme test m-t-30">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig2"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div ngxSlickItem *ngFor="let slide of image2" class="slide">
          <div class="item first prev">
            <div class="card border-0 py-0">
              <div class="midway"></div>
              <div class="setimg">
                <img src="{{ slide.path }}" class="img-fluid profile-pic" />
              </div>
              <div class="wrote">
                <h6 class="mb-3 mt-5">{{ slide.name }}</h6>
                <p class="hedunder txt-main-sub f-16">
                  {{ slide.title }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>

      <!-- <div class="item first prev">
        <div class="card border-0 py-0">
          <div class="midway"></div>
          <div class="setimg">
            <img src="assets/img/client1.jpg" class="img-fluid profile-pic" />
          </div>
          <div class="wrote">
            <h6 class="mb-3 mt-5">Marielle Haag</h6>
            <p class="hedunder txt-main-sub f-16">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
              laudantium repellat facere placeat eius optio doloremque
              consequatur exercitationem velit nobis earum fugit, enim
              voluptatem fuga quis ducimus ex est minus?
            </p>
          </div>
        </div>
      </div>
      <div class="item show">
        <div class="card border-0 py-0">
          <div class="midway"></div>
          <div class="setimg">
            <img src="assets/img/client2.jpg" class="img-fluid profile-pic" />
          </div>
          <div class="wrote">
            <h6 class="mb-3 mt-5">Ximena Vegara</h6>
            <p class="hedunder txt-main-sub f-16">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
              laudantium repellat facere placeat eius optio doloremque
              consequatur exercitationem velit nobis earum fugit, enim
              voluptatem fuga quis ducimus ex est minus?
            </p>
          </div>
        </div>
      </div>
      <div class="item next">
        <div class="card border-0 py-0">
          <div class="midway"></div>
          <div class="setimg">
            <img src="assets/img/client3.jpg" class="img-fluid profile-pic" />
          </div>
          <div class="wrote">
            <h6 class="mb-3 mt-5">John Paul</h6>
            <p class="hedunder txt-main-sub f-16">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
              laudantium repellat facere placeat eius optio doloremque
              consequatur exercitationem velit nobis earum fugit, enim
              voluptatem fuga quis ducimus ex est minus?
            </p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- footer section-------------------------------------- -->
<div class="clearfix"></div>
<section class="container-fluid qukhead footbg m-b-30 m-t-30">
  <div class="row container">
    <div class="col-lg-6 foottext">
      <p>we help you</p>
      <p>Get Started</p>
    </div>
    <div class="col-lg-6">
      <form action="" method="post btnfootr">
        <input
          class="btnfoot"
          type="email"
          name="email"
          placeholder="Type your email"
        />
        <input class="inrbtnfoot" type="submit" value="Contact Us >" />
      </form>
    </div>
  </div>
</section>

<!-- footer section---------------------end -->
<div class="clearfix"></div>
<section class="container-fluid qukhead ourClient m-b-30 m-t-30">
  <div class="heading text-left row">
    <h1 class="mb-1 txt-small-header text-left">
      Our Happy client <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    </h1>
  </div>
  <div id="cliens" class="cliens section-bg">
    <div class="row" data-aos="zoom-in">
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/Microsoft.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/intuit.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/salesforce.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/veeam.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/clients/client-5.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/clients/client-6.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- last footer  ----------------------------->
<div class="clearfix"></div>
<section class="container-fluid qukhead footerContainer m-t-30 bg-light">
  <div class="row">
    <div class="col-lg-2 offset-1 footimg">
      <img src="assets/img/logo.png" />
      <p>Follow Us</p>
      <div class="social">
        <i class="fa fa-facebook facebk" aria-hidden="true"></i>
        <i class="fa fa-twitter twtr" aria-hidden="true"></i>
        <i class="fa fa-youtube-play youtb" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-lg-3 txtfoot">
      <p class="txt-blue-head text-left">
        On the Other hand. we denounce with righteous indigation and dislike
        men.
      </p>
      <h6 class="txt-blue-head text-left">Intrested To work with us</h6>
      <form action="" method="post btnfootr">
        <input
          class="btnfootr"
          type="email"
          name="email"
          placeholder="Enter your email address"
        /><input class="inrbtn" type="submit" value="send" />
      </form>
    </div>
    <div class="col-lg-2 footerLinks text-left">
      <h6>Company</h6>
      <p><a href="">About Us </a></p>
      <p><a href="">Portfolio</a></p>
      <p><a href="">Page</a></p>
      <p><a href="">FAQ</a></p>
      <p><a href="">Reviews</a></p>
    </div>
    <div class="col-lg-2 footerLinks text-left">
      <h6>Support</h6>
      <p><a href="">contact Us</a></p>
      <p><a href="">Privacy policy</a></p>
      <p><a href="">term of use</a></p>
      <p><a href="">buy & sell</a></p>
      <p><a href="">Reviews</a></p>
    </div>
    <div class="col-lg-2 footerLinks text-left">
      <h6>Contact</h6>
      <p>madani Ave. usa 1212</p>
      <p><a href="">+8802-555662000</a></p>
      <p>Email <a href="">www.lixu12@.com</a></p>
      <p><a href="">Buy and cell</a></p>
      <p><a href="">Reviews</a></p>
    </div>
  </div>
  <div class="footline"></div>
  <div class="copyright">
    © <span class="currentYear">2021</span>. All Rights Reserved.
  </div>
</section>
<!-- last footer------------------------------------------------- -->
<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
