<section  class="container topbar">
    <div class="  fixed-top  header-scrolled">
      <nav class="navbar  fixed-top  header-scrolled navbar-expand-lg ">
        <a class="navbar-brand" href="#" class="logo mr-auto logoimg"><img src="assets/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="icofont-navigation-menu"></i></span>
        </button>
        <div class="collapse navbar-collapse navhead" id="navbarNavDropdown">
          <ul class="navbar-nav nav_style">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="headbutton1">
          <a href="">login</a>
        </div>
      </nav>
    </div>
  </section>
  
  <section class="container-fluid d-flex topheader">
    <div class=" container toptext">
      <h4>lorem ipsum dolor sit amet,<br>consectetur</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ratione<br> exercitationem, dignissimos a ut earum eveniet fugiat impedit 
          vero eligendi doloribus <br>tenetur iusto dicta delectus eum, nemo vel sint totam!</p>
        <div class="headbutton">
          <a href="">Read more</a>
        </div>
    </div> 
  </section>
    <!-- ------------------------------ details-------------------------------------->
      <section class="container qukhead">
        <h1>Our <span>Application</span> Service</h1>
        <div class="vertical"></div>
        <p class="hedunder">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum laudantium repellat facere placeat eius
           optio doloremque consequatur<br> exercitationem velit nobis earum fugit, 
          enim voluptatem fuga quis ducimus ex est minus?</p>
        <div class="row">
          <div class="col-lg-2 offset-1 servimg">
            <img src="assets/img/service.jpg">
          </div>
          <div class="col-lg-9 servtxt">
            <h4>Smart healthy and sefety Software</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia deleniti consequuntur, numquam aliquid 
              soluta voluptatibus non.<br> Sequi dignissimos,veniam cupiditate commodi saepe voluptatibus eaque 
              aliquid nobis est eum hic, dolorum earum ea vel culpa!<br> Lorem ipsum dolor sit amet consectetur 
              adipisicing elit.Sequi dignissimos,veniam cupiditate commodi saepe voluptatibus eaque <br>
                aliquid nobis est eum hic, dolorum earum ea vel culpa!</p>
          </div>
        </div>
        <div class="row servtp">
          <div class="col-lg-2 offset-1 servimg">
            <img src="assets/img/headfront.jpg">
          </div>
          <div class="col-lg-9 servtxt">
            <h4>get started</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia deleniti consequuntur, numquam aliquid 
              soluta voluptatibus non.<br> Sequi dignissimos,veniam cupiditate commodi saepe voluptatibus eaque 
              aliquid nobis est eum hic, dolorum earum ea vel culpa!<br> Lorem ipsum dolor sit amet consectetur 
              adipisicing elit.Sequi dignissimos,veniam cupiditate commodi saepe voluptatibus eaque <br>
                aliquid nobis est eum hic, dolorum earum ea vel culpa!</p>
          </div>
        </div> 
      </section>
        <!-- ------------------------------ details end------------------------------------ -->
<!-- -------------------------------------------- -->  
    <!-- Our online module----------------------------------------------- -->
      <section class="container qukhead">
        <h1>our online safety <span>modules</span></h1>
        <div class="vertical">          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum laudantium repellat facere placeat eius
           optio doloremque consequatur<br> exercitationem velit nobis earum fugit, 
            enim voluptatem fuga quis ducimus ex est minus?</p>
           <!-- <section class="customer-logos slider imgtxt">
              <div class="slide">
                <img src="assets/img/energy.jpg " width="50%" height="40%">
              <p>Energy Managment</p></div>
              <div class="slide"><img src="assets/img/employeemg.png" width="50%" height="40%"><p>Employee Managment</p></div>
              <div class="slide"><img src="assets/img/injurimg.png" width="50%" height="100%">
                <p>Injuri Managment</p></div>
              <div class="slide"><img src="assets/img/riske.jpg" width="50%" height="40%">
                <p>Risk Managment</p></div>
              <div class="slide"><img src="assets/img/energy.jpg" width="50%" height="40%">
              <p>Energy Managment</p></div>
              <div class="slide"><img src="assets/img/injurimg.png" width="50%" height="40%">
                <p>Injuri Managment</p></div>
              <div class="slide"><img src="assets/img/riske.jpg" width="50%" height="40%">
                 <p>Risk Managment</p></div>
              <div class="slide"><img src="assets/img/employeemg.png" width="50%" height="40%">
              <p>Employee Managment</p></div>
              <div class="slide"><img src="assets/img/injurimg.png" width="50%" height="40%">
              <p>Injuri Managment</p></div>
           </section> -->
        
        <section>
          <carousel class="carousel1" >
            <div class="carousel-cell" *ngFor="let img of images">
              <div>
                  <img class="ico lazy" width="100%" height="50vh"
                       style=" width:20vw; height: 30vh;"
                       alt=""
                       title="Risk Management"
                       [src]="img.path"
                      >
                  <header style="text-align: center">{{img.title}}</header>
              </div>
            </div>
            
</carousel>
        </section>
      </section>
        <!-- our patner-------------------------------------- -->
        <!-- asking qus----------------------------------------------------- -->
        <section class="container-fluid ">
          <div class="row askmain">
            <div class="col-lg-6 offset-1 qurimg">
              <img src="assets/img/askqbg.png">
            </div>
            <div class="col-lg-4 qurhead">
              <h6>Have  question?</h6>
              <h5>Ask Our  Solution Consultant</h5>
              <div class="midline">
              </div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas eaque molestias aliquam explicabo 
                vel fuga earum voluptatem tempora. Reprehenderit sit doloremque dolor distinctio
                 asperiores cupiditate harum ullam exercitationem?</p>
                 <form action="" method="post btnqus">
                  <input class="btnqus" type="email" name="email" placeholder="Enter your Mobile Number"><input class ="inrbtnqus" type="submit" value="Get Cell">
                </form>
            </div>
          </div>
       </section>
      
        <!-- Asking qus------------------------------------------------- -->
    <section>
      <div class="container gallerybg">

        <h1>Flexible complience software <span>for  every industry</span></h1>
       <div class="vertical"></div>
        <p class="page-description text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum adipisci earum, illo autem possimus harum, vitae sit tempora voluptas nesciunt quas voluptatem eveniet <br>dignissimos qui odio ex iusto fuga vel labore aliquid dolorem! Molestiae?</p>
          <h6>Always on Support</h6>
          <div class="container page-top">

            <div class="row contan">
          
          
                <div class="col-lg-4 col-md-4 col-xs-6  thumb">
                    <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">  
                    </a>
                    <h6>Forest Energy</h6>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-6  thumb">
                    <a href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"  class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid"  alt="">
                    </a>
                    <h6>Energy safety</h6>
                </div>
                
                <div class="col-lg-4 col-md-4 col-xs-6  thumb">
                    <a href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                    </a>
                    <h6>Healty safety</h6>
                </div>
                
                <div class="col-lg-4 col-md-4 col-xs-6  thumb">
                    <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                    </a>
                    <h6>mini safety</h6>
                </div>
                
                 <div class="col-lg-4 col-md-4 col-xs-6  thumb">
                    <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                    </a>
                    <h6>Ware House safety</h6>
                </div>
                
                 <div class="col-lg-4 col-md-4 col-xs-6  thumb">
                    <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                    </a>
                    <h6>Automative safety
                    </h6>
                </div>
                
                
                
               
               
           </div>
            
          
          
          
          </div>
      </div>
    </section>

    <!-- testimonal-------------------------------------- -->
    
    <section class="container">
      <div class=" px-3 px-sm-5 my-5 headtes text-center">
        <h1 class="mb-5">Customer testimonials</h1>
        <div class="testvr"></div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed odit laudantium excepturi assumenda eius dolorum <br>totam dignissimos vitae, voluptatibus
           recusandae maiores labore,</p>
        <div class="owl-carousel owl-theme test">
            <div class="item first prev">
                <div class="card border-0 py-0 ">
                  <div class="midway"></div>
                    <div class="setimg">
                       <img src="assets/img/client1.jpg" class="img-fluid profile-pic"> 
                    </div>
                    <div class="wrote">
                      <h6 class="mb-3 mt-5">Marielle Haag</h6>
                      <p class="content mb-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptatibus quas praesentium inventore eaque dignissimos esse quae do
                         unde repudiandae quos veritatis, officiis temporibus corrupti quam officia in facilis omnis eum quaerat! Nemo, at.</p>
                    </div>
                </div>
            </div>
            <div class="item show">
                <div class="card border-0 py-0">
                  <div class="midway"></div>
                    <div class="setimg"> 
                      <img src="assets/img/client2.jpg" class="img-fluid profile-pic"> 
                    </div>
                    <div class="wrote">
                      <h6 class="mb-3 mt-5">Ximena Vegara</h6>
                      <p class="content mb-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit repellendus, aliquam ex enim ipsum saepe harum accusamus ab vero 
                        tempore? Illum quasi totam nemo maxime quo numquam, laudantium aspernatur esse, maiores expedita explicabo minima.</p>
                    </div>
                </div>
            </div>
            <div class="item next">
                <div class="card border-0 py-0">
                  <div class="midway"></div>
                    <div class="setimg"> <img src="assets/img/client3.jpg" class="img-fluid profile-pic"> </div>
                    <div class="wrote">
                      <h6 class="mb-3 mt-5">John Paul</h6>
                      <p class="content mb-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel dignissimos consequuntur eum molestiae, sunt labore! Esse excepturi
                         et ipsam beatae, provident velit earum? Expedita obcaecati sit nisi sapiente deserunt ut tenetur voluptatem sunt.</p>
                    </div>
                </div>
            </div>
            <div class="item last">
                <div class="card border-0 py-0">
                  <div class="midway"></div>
                    <div class="setimg"> <img src="assets/img/client4.jpg" class="img-fluid profile-pic"> </div>
                    <div class="wrote">
                      <h6 class="mb-3 mt-5">William Doe</h6>
                      <p class="content mb-3 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor quas repellat doloremque cum consequatur numquam temporibus odio! Pariatur iusto molestiae 
                        deleniti a labore repellat veritatis dolorum illum aliquid eum. Distinctio quisquam voluptas accusantium cum?</p>
                    </div>                   
                </div>
            </div>
        </div>
      </div>
    </section>

      <!-- footer section-------------------------------------- -->
  <section class=" container-fluid footbg">
    <footer>
     <div class="row">
        <div class="col-lg-4 offset-2 foottext">
            <p>we help you</p>
            <p>Get Started</p>
        </div>
        <div class="col-lg-4 ">
          <form action="" method="post btnfootr">
          <input class="btnfoot" type="email" name="email"placeholder="Enter your email address"><input class ="inrbtnfoot" type="submit" value="Contact Us">
          </form>
        </div>
        </div>
    </footer>
  </section>
  
  <!-- footer section---------------------end -->
  <section class="container-fluid">
    <div class="heading">
      <h5 class="">
        Our Happy client<i class="icofont-long-arrow-right"></i>
      </h5>
    </div>
    <div id="cliens" class="cliens section-bg">
        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/Microsoft.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/intuit.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/salesforce.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/veeam.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>
    </div>
  </section>
  <!-- last footer  ----------------------------->
  <section class="container-fluid bg-light">
    <div class="row">
      <div class="col-lg-2 offset-1 footimg">
        <img src="assets/img/logo.png">
        <p>Follow Us</p>
        <div class="social"><i class="icofont-facebook facebk"></i><i class="icofont-twitter twtr"></i>
          <i class="icofont-youtube-play youtb"></i></div>
      </div>
      <div class="col-lg-3 txtfoot">
        <p>On the Other hand. we denounce with righteous indigation and dislike men.</p>
        <h6>Intrested  To work with us</h6>
        <form action="" method="post btnfootr">
          <input class="btnfootr" type="email" name="email" placeholder="Enter your email address"><input class ="inrbtn" type="submit" value="send">
        </form>
      </div>
      <div class="col-lg-2">
        <h6>Company</h6>
        <p>About Us </p>
        <p>Portfolio</p>
        <p>Page</p>
        <p>FAQ</p>
        <p>Reviews</p>
      </div>
      <div class="col-lg-2">
        <h6>Support</h6>
        <p>contact Us </p>
        <p>Privacy policy</p>
        <p>tram or use</p>
        <p>buy & sell</p>
        <p>Reviews</p>
      </div>
      <div class="col-lg-2">
        <h6>Contact</h6>
        <p>madani Ave. usa 1212 </p>
        <p>+8802-555662000</p>
        <p>Email www.lixu12@.com</p>
        <p>Buy and cell</p>
        <p>Reviews</p>
      </div>
    </div>
    <div class="footline"></div>
      <div class="copyright">
        © Copyright <strong><span>2021</span></strong>. All Rights Reserved
      </div>
  </section>
  <!-- last footer------------------------------------------------- -->
  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

