<div class="ml-2">
  <h2>Job Task :&nbsp;{{ jobTask?.title }}</h2>
</div>
<mat-horizontal-stepper [formGroup]="JobTaskDetail">
  <!-- <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>  -->

  <mat-step>
    <ng-template matStepLabel>HighRisk Construction</ng-template>
    <h3 class="text-center">HighRisk Construction</h3>
    <div class="row">
        <div class="col-1 my-auto"> 
            <!-- <button class="btn" matStepperPrevious><i class="fas fa-arrow-left"></i></button> -->
        </div>
        <div class="col-10">
            <mat-form-field class="container" appearance="fill">
                <mat-label class="text-center">HighRiskConstruction</mat-label>
                <mat-select formControlName="highRiskConstr" multiple>
                  <mat-select-trigger>
                    <span
                      *ngIf="!JobTaskDetail.get('highRiskConstr').value?.length"
                      class="example-additional-selection"
                    >
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('highRiskConstr').value?.length == 1"
                      class="example-additional-selection"
                    >
                      One Item selected
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('highRiskConstr').value?.length > 1"
                      class="example-additional-selection"
                    >
                      More than one selected
                    </span>
                  </mat-select-trigger>
                  <mat-option
                    *ngFor="let parameter of highRiskConstructionData"
                    [value]="parameter._id"
                  >
                    {{ parameter.title }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-1 my-auto">
            <button class="btn" matStepperNext><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
 

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>PPE</ng-template>
    <h3 class="text-center">PPE</h3>
    <div class="row">
      <div class="col-1 my-auto"><button class="btn" matStepperPrevious><i class="fas fa-arrow-left"></i></button></div>
      <div class="col-10">
        <mat-form-field class="container" appearance="fill">
          <mat-label>PPE selection</mat-label>
          <mat-select formControlName="PPE" multiple>
            <mat-select-trigger>
              <span
                *ngIf="!JobTaskDetail.get('PPE').value?.length"
                class="example-additional-selection"
              >
              </span>
              <span
                *ngIf="JobTaskDetail.get('PPE').value?.length == 1"
                class="example-additional-selection"
              >
                One Item selected
              </span>
              <span
                *ngIf="JobTaskDetail.get('PPE').value?.length > 1"
                class="example-additional-selection"
              >
                More than one selected
              </span>
            </mat-select-trigger>
            <mat-option
              *ngFor="let parameter of PPESelectionData"
              [value]="parameter._id"
              >{{ parameter.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-1 my-auto"><button class="btn" matStepperNext><i class="fas fa-arrow-right"></i></button></div>
    </div>
   
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Licence Category</ng-template>
    <h3 class="text-center">Licence Category</h3>
    <div class="row">
        <div class="col-1 my-auto"> 
            <button class="btn" matStepperPrevious><i class="fas fa-arrow-left"></i></button>
        </div>
        <div class="col-10">
            <mat-form-field class="container" appearance="fill">
                <mat-label>Licence Category</mat-label>
                
                <mat-select formControlName="LicenceCat" multiple>
                  <mat-select-trigger>
                    <span
                      *ngIf="!JobTaskDetail.get('LicenceCat').value?.length"
                      class="example-additional-selection"
                    >
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('LicenceCat').value?.length == 1"
                      class="example-additional-selection"
                    >
                      One Item selected
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('LicenceCat').value?.length > 1"
                      class="example-additional-selection"
                    >
                      More than one selected
                    </span>
                  </mat-select-trigger>
                  <mat-option
                    *ngFor="let parameter of licenceCatAll"
                    [value]="parameter._id"
                    >{{ parameter.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-1 my-auto">
            <button class="btn" matStepperNext><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
   
  
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Identify Hazards</ng-template>
    <h3 class="text-center">Identify Hazards</h3>
    <div class="row">
        <div class="col-1 my-auto"> 
            <button class="btn" matStepperPrevious><i class="fas fa-arrow-left"></i></button>
        </div>
        <div class="col-10">
            <mat-form-field class="container" appearance="fill">
                <mat-label>Identify Hazards</mat-label>
                <mat-select formControlName="identifyHazrds" multiple>
                  <mat-select-trigger>
                    <span
                      *ngIf="!JobTaskDetail.get('identifyHazrds').value?.length"
                      class="example-additional-selection"
                    >
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('identifyHazrds').value?.length == 1"
                      class="example-additional-selection"
                    >
                      One Item selected
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('identifyHazrds').value?.length > 1"
                      class="example-additional-selection"
                    >
                      More than one selected
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let parameter of allHazards" [value]="parameter._id"
                    >{{ parameter.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-1 my-auto">
            <button class="btn" matStepperNext><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
  

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Risk Level</ng-template>
    <h3 class="text-center">Risk Level</h3>
    <div class="row">
        <div class="col-1 my-auto"> 
            <button class="btn" matStepperPrevious><i class="fas fa-arrow-left"></i></button>
        </div>
        <div class="col-10">
            <mat-form-field class="container" appearance="fill">
                <mat-label>Risk Level</mat-label>
                <mat-select formControlName="riskLevel" multiple>
                  <mat-select-trigger>
                    <span
                      *ngIf="!JobTaskDetail.get('riskLevel').value?.length"
                      class="example-additional-selection"
                    >
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('riskLevel').value?.length == 1"
                      class="example-additional-selection"
                    >
                      One Item selected
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('riskLevel').value?.length > 1"
                      class="example-additional-selection"
                    >
                      More than one selected
                    </span>
                  </mat-select-trigger>
                  <mat-option
                    *ngFor="let parameter of riskLevelData"
                    [value]="parameter._id"
                    >{{ parameter.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-1 my-auto">
            <button class="btn" matStepperNext><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
  
 
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Control Action Required</ng-template>
    <h3 class="text-center">Control Action Required</h3>
    <div class="row">
        <div class="col-1 my-auto"> 
            <button class="btn" matStepperPrevious><i class="fas fa-arrow-left"></i></button>
        </div>
        <div class="col-10">
            <mat-form-field class="container" appearance="fill">
                <mat-label>Control Action Required</mat-label>
                <mat-select formControlName="contrActReq" multiple>
                  <mat-select-trigger>
                    <span
                      *ngIf="!JobTaskDetail.get('contrActReq').value?.length"
                      class="example-additional-selection"
                    >
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('contrActReq').value?.length == 1"
                      class="example-additional-selection"
                    >
                      One Item selected
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('contrActReq').value?.length > 1"
                      class="example-additional-selection"
                    >
                      More than one selected
                    </span>
                  </mat-select-trigger>
                  <mat-option
                    *ngFor="let parameter of allContrlActReq"
                    [value]="parameter._id"
                    >{{ parameter.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-1 my-auto">
            <button class="btn" matStepperNext><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
   

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Residule Risk Level</ng-template>
    <h3 class="text-center">Residule Risk Level</h3>
    <div class="row">
        <div class="col-1 my-auto"> 
            <button class="btn" matStepperPrevious><i class="fas fa-arrow-left"></i></button>
        </div>
        <div class="col-10">
            <mat-form-field class="container" appearance="fill">
                <mat-label>Residule Risk Level</mat-label>
                <mat-select formControlName="residualRiskL" multiple>
                  <mat-select-trigger>
                    <span
                      *ngIf="!JobTaskDetail.get('residualRiskL').value?.length"
                      class="example-additional-selection"
                    >
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('residualRiskL').value?.length == 1"
                      class="example-additional-selection"
                    >
                      One Item selected
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('residualRiskL').value?.length > 1"
                      class="example-additional-selection"
                    >
                      More than one selected
                    </span>
                  </mat-select-trigger>
                  <mat-option
                    *ngFor="let parameter of resiRiskLevelData"
                    [value]="parameter._id"
                    >{{ parameter.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-1 my-auto">
            <button class="btn" matStepperNext><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
 

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Chemical related Task</ng-template>
    <h3 class="text-center">Chemical related Task</h3>
    <div class="row">
        <div class="col-1 my-auto"> 
            <button class="btn" matStepperPrevious><i class="fas fa-arrow-left"></i></button>
        </div>
        <div class="col-10 text-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">No</label>
              </div>
        </div>
        <div class="col-1 my-auto">
            <button class="btn" matStepperNext><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
 

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Person Responsible</ng-template>
    <h3 class="text-center">Person Responsibl</h3>
    <div class="row">
        <div class="col-1 my-auto"> 
            <button class="btn" matStepperPrevious><i class="fas fa-arrow-left"></i></button>
        </div>
        <div class="col-10">
            <mat-form-field class="container" appearance="fill">
                <mat-label class="text-center">Person Responsible</mat-label>
                <mat-select formControlName="personResp" multiple>
                  <mat-select-trigger>
                    <span
                      *ngIf="!JobTaskDetail.get('personResp').value?.length"
                      class="example-additional-selection"
                    >
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('personResp').value?.length == 1"
                      class="example-additional-selection"
                    >
                      One Item selected
                    </span>
                    <span
                      *ngIf="JobTaskDetail.get('personResp').value?.length > 1"
                      class="example-additional-selection"
                    >
                      More than one selected
                    </span>
                  </mat-select-trigger>
                  <mat-option
                    *ngFor="let parameter of staff"
                    [value]="parameter._id"
                    >{{ parameter.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-1 my-auto">
            <button class="btn" matStepperNext><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
   
    <div class="text-center">
      <button mat-button matStepperPrevious>Back</button>
    </div>
    <div class="text-center">
      <button *ngIf="!jobTask?.set" class="btn btn-primary">Set</button>
      <button *ngIf="jobTask?.set" class="btn btn-primary">Update</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
