<div class="btn btn-outline-primary" [routerLink]="['/admin/forms']"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
<div class="col ml-2 pt-3">
    <h1> Accident Report List</h1>
    </div>
    <div class=" ">
      <table mat-table [dataSource]="tempArray" matSort>
    
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element;let i=index">{{element.index+1}}</td>
        </ng-container>
    
        <!-- Name Column -->
       
    <!-- Name Column -->
    <ng-container matColumnDef="projectName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
      <td mat-cell *matCellDef="let element">{{element.projectName}}</td>
    </ng-container>
    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef> Customer Name</th>
      <td mat-cell *matCellDef="let element">{{element.customerName}}</td>
    </ng-container>
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element"> {{element.customerEmail}} </td>
    </ng-container>
    <ng-container matColumnDef="Site">
        <th mat-header-cell *matHeaderCellDef>Site Name</th>
        <td mat-cell *matCellDef="let element"> {{element.siteName}} </td>
      </ng-container>
     <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" > 
        <!-- <i class="fa fa-eye "aria-hidden="true" title="view"></i> -->
        <!-- <button [routerLink]="element.link" mat-icon-button aria-label="Example icon button with a delete icon">
          <mat-icon>visibility</mat-icon>
        </button>
        <a (click)="goTo(element.title)">
          <span style="cursor: pointer !important;">
              <mat-icon >launch</mat-icon>
          </span>
      </a> -->
      <div style="display: flex; justify-content: space-around;">
        <span class="material-icons" matTooltip="Edit" (click)="edit(element._id)" >
            edit
        </span>
        <span class="material-icons" matTooltip="Delete" (click)="delete(element._id)"  >
            delete
        </span>
        </div>
      </td>
    </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[20]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    