<div class="btn btn-outline-primary" [routerLink]="['/admin/siteInfo/chemical']">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </div>

    <div class="container px-4 py-4 bg-white" >
        <form  [formGroup]="addChemicalForm" (ngSubmit)="onFormSubmit()">
      <h2  class="text-center"> Chemical Info</h2>
      <br />
      <hr />
      <ng-container formArrayName="arrObj">
        <ng-container
          *ngFor="let control of add().controls; let i = index"
          [formGroupName]="i"
        >
          <div class="row justify-content-center">
            <div class="mr-1 mt-2">
              <span 
                >{{i+1}}.
              </span>
            </div>
            <div class="col-8">
              <textarea
                type="text"
                formControlName="title"
                class="form-control sign"
                id="title"
              ></textarea>
            </div>
            <div class="col-1 mt-2">
              <span class="material-icons" (click)="addChemical()"
                >add_circle_outline
              </span>
            </div>
            <div class="col-1 mt-2">
              <span class="material-icons" (click)="removeChemical(i)">
                remove_circle_outline
              </span>
            </div>
          </div>
  
          <hr />
        </ng-container>
      </ng-container>
      <br />
          <div  class="col-md-2">
            <button class="btn btn-primary"[disabled]="addChemicalForm.get('arrObj').invalid" >
              Add
            </button>
          </div>
        
        </form>
        </div>