<div class="container px-4 py-4 bg-white">
	<form>
		<h2 class="text-center">Acknowledgement</h2>
		<br />
		<hr />
		<div class="col">
			<!-- <textarea autosize [rows]="numberOfLineBreaks" type="text" formControlName="instruction"
                class="form-control sign" id="name"></textarea> -->
			<ckeditor
				*ngIf="acknowledgment$|async as value"
				class="toolbarborder"
				style="width: 100%"
				[editor]="Editor"
				[disabled]="true"
				data="{{value.termsAndCond}}"
			>
			</ckeditor>
		</div>
		<br />

		<div class="col-md-2">
			<button
				type="submit"
				class="btn btn-primary"
				(click)="onFormSubmit()"
			>
				I Acknowledge
			</button>
		</div>
	</form>
</div>
