<div class="col ml-2 pt-2">
  <h2> Portal List</h2>
</div>
<div class="col ml-2 mb-2">

  <button class="btn btn-outline-primary mt-1 mr-2 float-right" (click)="edit('')">
    <i class="fas fa-plus mr-2"></i>Add Portal
  </button>
</div>
<div class=" ">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element">{{element.index}}</td>
    </ng-container>

    <!-- Name Column -->

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Portal </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <!-- <i class="fas fa-pencil-alt mr-2 " aria-hidden="true" title="Edit"(click)="edit(element)"></i> <i class="fas fa-trash ml-2  " aria-hidden="true" title="Delete" (click)="delete(element)"></i>   -->
        <button mat-icon-button (click)="edit(element)" class="mr-2"
          aria-label="Example icon button with a delete icon">
          <mat-icon matTooltip="Edit Portal">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(element)" aria-label="Example icon button with a delete icon">
          <mat-icon matTooltip="Delete Portal">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="delete">
  <th mat-header-cell *matHeaderCellDef> Delete </th>
  <td mat-cell *matCellDef="let element"(click)="delete(element)"> <i class="fas fa-trash "></i> 
  </td>
</ng-container> -->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Data Not Found </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>