<form [formGroup]="editTitle">
    <h2>Edit RiskLevel</h2>
    <mat-form-field appearance="legacy" class="example-full-width" style="width: 498px;">
        <!-- <mat-label>Edit PPE</mat-label> -->
        <input matInput formControlName="title">
    </mat-form-field>
    <br>

    <div class="row">
        <div class="col-sm-2 offset-8 ">
            <button mat-raised-button (click)="closeDialog()">Close</button>
        </div>
        <div class="col-sm-2  ">
            <button mat-raised-button [disabled]="!editTitle.valid" (click)="onFormSubmit()">Update</button>
        </div>
    </div>
</form>