<!-- <section class="content" [formGroup]="JobTaskDetail">
    <div class="container-fluid">
      <div class="text-center">
        <h1 > Job Task List</h1>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body p-0 overflow-auto">
              <table class="table table-hover text-wrap">
                <thead>
                  <tr>
                    <th style="width: 1%">Index</th>
                    <th style="width: 20%">Job Task List </th>
                    <th style="width: 15%">High Risk Construction </th>
                    <th style="width: 15%">PPE</th>
                    <th style="width: 15%">Licence Category</th>
                    <th style="width: 15%">Identify Hazards</th>
                    <th style="width: 15%">Risk</th>
                    <th style="width: 15%">Control Action Required</th>
                    <th style="width: 15%">Residule Risk</th>
                    <th style="width: 15%">Action</th>
  
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let task of  jobTaskData; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{ task.title }}</td>
                    <ng-container formArrayName="highRiskConstr">
                      <td [formGroupName]="i">
                        <mat-form-field appearance="fill">
                          <mat-label>HighRiskConstruction</mat-label>
                          <mat-select formControlName="highRiskArr" multiple >
                            <mat-select-trigger>
                              <span *ngIf="!highRiskFA().controls[i].get('highRiskArr').value?.length" class="example-additional-selection">
                              </span>
                              <span *ngIf="highRiskFA().controls[i].get('highRiskArr').value?.length == 1" class="example-additional-selection">
                                One Item selected
                              </span>
                              <span *ngIf="highRiskFA().controls[i].get('highRiskArr').value?.length > 1" class="example-additional-selection">
                                More than one selected
                              </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let parameter of highRiskConstructionData" [value]="parameter._id">
                              {{parameter.title}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </ng-container >                
                    <ng-container formArrayName="PPE">
                      <td [formGroupName]="i">
                        <mat-form-field appearance="fill">
                          <mat-label>PPE selection</mat-label>
                          <mat-select formControlName="ppeArr" multiple >
                            <mat-select-trigger>
                              <span *ngIf="!PPE_FA().controls[i].get('ppeArr').value?.length " class="example-additional-selection">
                               
                              </span>
                              <span *ngIf="PPE_FA().controls[i].get('ppeArr').value?.length == 1" class="example-additional-selection">
                               One Item selected
                              </span>
                              <span *ngIf="PPE_FA().controls[i].get('ppeArr').value?.length > 1" class="example-additional-selection">
                                More than one selected
                              </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let parameter of PPESelectionData" [value]="parameter._id">{{parameter.title}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </ng-container>
                    <ng-container formArrayName="LicenceCat">
                      <td [formGroupName]="i">
                        <mat-form-field appearance="fill">
                          <mat-label>Licence Categories</mat-label>
                          <mat-select formControlName="licenceArr" multiple >
                            <mat-select-trigger>
                              <span *ngIf="!licenceCatFA().controls[i].get('licenceArr').value?.length" class="example-additional-selection">
                              </span>
                              <span *ngIf="licenceCatFA().controls[i].get('licenceArr').value?.length == 1" class="example-additional-selection">
                                One Item selected
                              </span>
                              <span *ngIf="licenceCatFA().controls[i].get('licenceArr').value?.length > 1" class="example-additional-selection">
                                More than one selected
                              </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let parameter of licenceCatAll" [value]="parameter._id">{{parameter.title}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </ng-container>
                    <ng-container formArrayName="identifyHazrds">
                      <td [formGroupName]="i">
                        <mat-form-field appearance="fill">
                          <mat-label>Identify Hazards</mat-label>
                          <mat-select formControlName="hazardsArr" multiple >
                            <mat-select-trigger>
                              <span *ngIf="!identifyHazrdsFA().controls[i].get('hazardsArr').value?.length" class="example-additional-selection">
                              </span>
                              <span *ngIf="identifyHazrdsFA().controls[i].get('hazardsArr').value?.length == 1" class="example-additional-selection">
                                One Item selected
                              </span>
                              <span *ngIf="identifyHazrdsFA().controls[i].get('hazardsArr').value?.length > 1" class="example-additional-selection">
                                More than one selected
                              </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let parameter of allHazards" ngValue="parameter">{{parameter.title}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </ng-container>
                  <ng-container formArrayName="riskLevel">
                    <td [formGroupName]="i">
                      <mat-form-field appearance="fill">
                      <mat-label>Risk</mat-label>
                      <mat-select formControlName="riskLevel" >
                        <mat-option value="L1">L1</mat-option>
                        <mat-option value="L2">L2</mat-option>
                        <mat-option value="L3">L3</mat-option>
                        <mat-option value="L4">L4</mat-option>
                        <mat-option value="L5">L5</mat-option>                        
                      </mat-select>
                    </mat-form-field>
                    </td>
                  </ng-container>
                   
                    <ng-container formArrayName="contrActReq">
                      <td [formGroupName]="i">
                        <mat-form-field appearance="fill">
                          <mat-label>Control Actions Required</mat-label>
                          <mat-select formControlName="contrActReqArr" multiple >
                            <mat-select-trigger>
                              <span *ngIf="!contrActReqFA().controls[i].get('contrActReqArr').value?.length" class="example-additional-selection">
                              </span>
                              <span *ngIf="contrActReqFA().controls[i].get('contrActReqArr').value?.length == 1" class="example-additional-selection">
                                One Item selected
                              </span>
                              <span *ngIf="contrActReqFA().controls[i].get('contrActReqArr').value?.length > 1" class="example-additional-selection">
                                More than one selected
                              </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let parameter of allContrlActReq" [value]="parameter">{{parameter.title}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </ng-container>

                    <ng-container formArrayName="residualRisk">
                      <td [formGroupName]="i">
                        <mat-form-field appearance="fill">
                        <mat-label>Residule Risk</mat-label>
                        <mat-select formControlName="resiRiskLevel" >
                          <mat-option value="L1">L1</mat-option>
                          <mat-option value="L2">L2</mat-option>
                          <mat-option value="L3">L3</mat-option>
                          <mat-option value="L4">L4</mat-option>
                          <mat-option value="L5">L5</mat-option>                        
                        </mat-select>
                      </mat-form-field>
                      </td>
                    </ng-container>
                 
                 
                 <td *ngIf="!task.set"><button class="btn btn-primary" (click)="setRelation(task.title,task._id,i)">Set</button></td>
                    <td *ngIf="task.set"><button class="btn btn-primary" (click)="setRelation(task.title,task._id,i)">Update</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->