<section class="content">
    <div class="container-fluid">
      <div class="text-center">
        <h1 > Job Task List</h1>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body p-0">
              <table class="table table-hover text-wrap">
                <thead>
                  <tr>
                    <th style="width: 5%">Index</th>
                    <th style="width: 25%">Job Task List </th>
                    <th style="width: 20%">High Risk Construction </th>
                    <th style="width: 20%">PPE</th>
                    <th style="width: 20%">Category</th>
                    <th style="width: 20%">Licence&Qualification</th>
                    <th style="width: 20%">Code Of Practice</th>
  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of  jobTaskData.subComponents; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{ task.title }}</td>
                    <td>
                      <mat-form-field appearance="fill">
                        <!-- <mat-label>HighRiskConstruction</mat-label> -->
                        <mat-select [formControl]="highRiskConstr" multiple>
                          <mat-select-trigger>
                            {{highRiskConstr.value ? highRiskConstr.value[0] : ''}}
                            <span *ngIf="highRiskConstr.value?.length > 1" class="example-additional-selection">
                              (+{{highRiskConstr.value.length - 1}} {{highRiskConstr.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>
                          <mat-option *ngFor="let parameter of highRiskConstructionData.subComponents" [value]="parameter.value">
                            {{parameter.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill">
                        <!-- <mat-label>PPE selection</mat-label> -->
                        <mat-select [formControl]="PPE" multiple>
                          <mat-select-trigger>
                            {{PPE.value ? PPE.value[0] : ''}}
                            <span *ngIf="PPE.value?.length > 1" class="example-additional-selection">
                              (+{{PPE.value.length - 1}} {{PPE.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>
                          <mat-option *ngFor="let parameter of PPESelectionData.subComponents" [value]="parameter.value">{{parameter.title}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill">
                        <!-- <mat-label>Licence and Qualifications
                        </mat-label> -->
                        <mat-select [formControl]="Licence" multiple>
                          <mat-select-trigger>
                            {{Licence.value ? Licence.value[0] : ''}}
                            <span *ngIf="Licence.value?.length > 1" class="example-additional-selection">
                              (+{{Licence.value.length - 1}} {{Licence.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>
                          <mat-option *ngFor="let parameter of  licenseAndQualificationData.subComponents" [value]="parameter.value">
                            {{parameter.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill">
                        <!-- <mat-label>Licence and Qualifications
                        </mat-label> -->
                        <mat-select [formControl]="Licence" multiple>
                          <mat-select-trigger>
                            {{Licence.value ? Licence.value[0] : ''}}
                            <span *ngIf="Licence.value?.length > 1" class="example-additional-selection">
                              (+{{Licence.value.length - 1}} {{Licence.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>
                          <mat-option *ngFor="let parameter of  licenseAndQualificationData.subComponents" [value]="parameter.value">
                            {{parameter.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill">
                        <!-- <mat-label>Licence and Qualifications
                        </mat-label> -->
                        <mat-select [formControl]="codeOfPract" multiple>
                          <mat-select-trigger>
                            {{codeOfPract.value ? codeOfPract.value[0] : ''}}
                            <span *ngIf="codeOfPract.value?.length > 1" class="example-additional-selection">
                              (+{{codeOfPract.value.length - 1}} {{codeOfPract.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>
                          <mat-option *ngFor="let parameter of  licenseAndQualificationData.subComponents" [value]="parameter.value">
                            {{parameter.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>