<aside #mainSidebar class="main-sidebar sidebar-light-primary elevation-2">
	<!-- Brand Logo -->
	<a [routerLink]="['/dashBoard']" class="brand-link">
		<!-- <img [src]="logoUrl" alt="AdminLTE Logo" class="brand-image" style="opacity: 1" /> -->
		<svg-icon
			alt="AdminLTE Logo"
			applyClass="true"
			class="brand-image"
			[style]="{'width':'auto','height.px':30 ,'opacity': 1}"
			[name]="logoUrl"
		></svg-icon>
		<span class="brand-text font-weight-light">Admin WHS</span>
	</a>
	>
	<!-- Sidebar -->
	<div class="sidebar m-t-20 m-b-20 mb-5">
		<!-- Sidebar user (optional) -->

		<!-- Sidebar Menu -->
		<nav class="mt-2 mb-5">
			<ul
				class="nav nav-pills nav-sidebar flex-column nav-child-indent adminDashboardNav"
				data-widget="treeview"
				role="menu"
				data-accordion="false"
			>
				<ng-container *ngFor="let item of navItems;let i = index">
					<li
						*ngIf="item.hasAccess"
						class="nav-item"
						[ngClass]="{ 'menu-open': item.menuOpen }"
					>
						<a
							*ngIf="item.route"
							class="nav-link"
							(click)="menuOpen(item)"
							[routerLink]="[item.route]"
						>
							<svg-icon
								[svgStyle]="{ 'width.px':24,'height.px':24 }"
								[name]="'dash'"
							></svg-icon>
							<p>{{item.displayedName}}</p>
						</a>
						<a
							*ngIf="!item.route"
							class="nav-link"
							(click)="menuOpen(item)"
						>
							<svg-icon
								[svgStyle]="{ 'width.px':24,'height.px':24 }"
								[name]="item.icon"
							></svg-icon>
							<p>{{item.displayedName}}</p>
							<i class="right fas fa-angle-left"></i>
						</a>
						<ul *ngIf="item.childItem" class="nav nav-treeview">
							<ng-container
								*ngFor="let childNav0 of item.childItem"
							>
								<li
									*ngIf="!childNav0.childItem && childNav0.hasAccess"
									class="nav-item"
								>
									<a
										routerLinkActive="active myColor"
										[routerLink]="[childNav0.route]"
										class="nav-link"
									>
										<svg-icon
											[svgStyle]="{ 'width.px':24,'height.px':24 }"
											[name]="childNav0.icon"
										></svg-icon>
										<p>{{childNav0.displayedName}}</p>
									</a>
								</li>
								<li
									*ngIf="childNav0.childItem && childNav0.hasAccess"
									class="nav-item"
									[ngClass]="{ 'menu-open': childNav0.menuOpen }"
								>
									<a
										*ngIf="!childNav0.childItem"
										(click)="menuOpen(childNav0)"
										routerLinkActive="active myColor"
										[routerLink]="[childNav0.route]"
										class="nav-link"
									>
										<svg-icon
											[svgStyle]="{ 'width.px':24,'height.px':24 }"
											[name]="childNav0.icon"
										></svg-icon>
										<p>{{childNav0.displayedName}}</p>
									</a>
									<a
										*ngIf="childNav0.childItem"
										(click)="menuOpen(childNav0)"
										routerLinkActive="active myColor"
										class="nav-link"
									>
										<svg-icon
											[svgStyle]="{ 'width.px':24,'height.px':24 }"
											[name]="childNav0.icon"
										></svg-icon>
										<p>{{childNav0.displayedName}}</p>
										<i class="right fas fa-angle-left"></i>
									</a>
									<ul
										*ngIf="childNav0.childItem"
										class="nav nav-treeview"
									>
										<ng-container
											*ngFor="let childNav1 of childNav0.childItem"
										>
											<li
												*ngIf="childNav1.hasAccess"
												class="nav-item"
												[class.menu-open]="true"
											>
												<a
													routerLinkActive="active myColor"
													[routerLink]="[childNav1.route]"
													class="nav-link"
												>
													<svg-icon
														[svgStyle]="{ 'width.px':24,'height.px':24 }"
														[name]="childNav1.icon"
													></svg-icon>
													<p>
														{{childNav1.displayedName}}
													</p>
												</a>
											</li>
											<!-- <li *ngIf="childNav1.hasAccess" class="nav-item  ml-3" >
                                   <a routerLinkActive="active myColor" [routerLink]="[childNav1.route]" class="nav-link">
                                     <svg-icon [svgStyle]="{ 'width.px':24,'height.px':24 }" [name]="childNav1.icon"></svg-icon>
                                     <p>{{childNav1.displayedName}}</p>
                                   </a>
                                 </li> -->
										</ng-container>
									</ul>
								</li>
							</ng-container>
						</ul>
					</li>
				</ng-container>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
