.viewBtn i {
    color: #007bff;
    font-size: 21px !important;
}
table {
    width: 100%;
  }
  // .select{
  //     width:100%!important;
  // }
  .pt-3 {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    word-break: break-word;
    font-family: Inter, sans-serif;
  }