<div class="col ml-2 pt-3">
<h1> Forms List</h1>
</div>
<div class=" ">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element">{{element.index}}</td>
    </ng-container>

    <!-- Name Column -->
   
<!-- Name Column -->
<ng-container matColumnDef="formName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Form Name </th>
  <td mat-cell *matCellDef="let element"> <span class="flex-start">{{element.title}}</span> </td>
</ng-container>
<ng-container matColumnDef="formFrequency">
  <th mat-header-cell *matHeaderCellDef> Form Frequency </th>
  <td mat-cell *matCellDef="let element">   <select
    class="form-select form-control "
    aria-label="Default select example"
  >
    <option value="daily">Daily</option>
    <option value="weekly">Weekly</option>
    <option value="weekly">Monthly</option>
    <option value="quaterly">Quaterly</option>
    <option value="halfYearly">Half yearly</option>
    <option value="yearly">Yearly</option>
    <option value="onceOff">Once Off</option>
  </select></td>
</ng-container>
<ng-container matColumnDef="Disable/Enable">
  <th mat-header-cell *matHeaderCellDef> Disable/Enable </th>
  <td mat-cell *matCellDef="let element">   <mat-slide-toggle color="primary" checked></mat-slide-toggle> </td>
</ng-container>

 <ng-container matColumnDef="edit">
  <th mat-header-cell *matHeaderCellDef> Action </th>
  <td mat-cell *matCellDef="let element" > 
    <!-- <i class="fa fa-eye "aria-hidden="true" title="view"></i> -->
    <!-- <a [routerLink]="element.link" mat-icon-button aria-label="Example icon button with a delete icon">
      <mat-icon>visibility</mat-icon>
    </a>
    <a (click)="goTo(element.title)">
      <span style="cursor: pointer !important;">
          <mat-icon >launch</mat-icon>
      </span>
  </a> -->
  <div style="display: flex; justify-content: space-evenly;">
    <span class="material-icons"  matTooltip="Fill The Form" [routerLink]="element.link" style="font-size: 26px ;cursor: pointer !important;" *ngIf="url[0].path=='fillConfigForm'">
     <svg-icon name="Fill_form"></svg-icon>
    </span>
    <!-- <button  matTooltip="Fill The Form" mat-icon-button aria-label="Example icon button with a delete icon" [routerLink]="element.link">
       
   </button> -->
    <span class="material-icons mt-2"  matTooltip="Saved Form List" (click)="goTo(element.title)"  style="cursor: pointer !important;" *ngIf="url[0].path=='fillConfigForm'">
      launch
    </span>
    </div>
  </td>
</ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
