<!-- new DashBoard  -->
<div *ngIf="isUser$|async as value">
	<h1>User Home Page</h1>
</div>
<div
	class="container"
	*accessControl="{formName:'DashBoard',accessType:'View'}"
>
	<h1 class="text-center">WHS performance Indicators</h1>
	<div class="row">
		<div class="col-md-4">
			<table class="table table-bordered shadowBxSet">
				<thead>
					<tr>
						<th>Month</th>
						<th>Year</th>
						<th>Site</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>January</td>
						<td>2021</td>
						<td>All Sites</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-8" *ngIf="formsCount$| async as formObj">
			<div class="row">
				<div class="col-md-12">
					<div class="flex-container">
						<div class="small-box bg-warning">
							<div class="inner">
								<b
									>{{formObj.nearMissCount||'No Data
									Found'}}</b
								>
								<h5>Near Miss</h5>
							</div>
							<div class="icon">
								<i class="fas fa-car-crash"></i>
							</div>
						</div>

						<div class="small-box bg-teal">
							<div class="inner">
								<b
									>{{formObj.firstAidCount||'No Data
									Found'}}</b
								>
								<h5>First Aid Treatments</h5>
							</div>
							<div class="icon">
								<i class="fas fa-briefcase-medical"></i>
							</div>
						</div>

						<div
							class="small-box"
							style="background-color: #7fffd4"
						>
							<div class="inner">
								<b
									>{{formObj.medicalTreatmentCount||'No Data
									Found'}}</b
								>
								<h5>Medical Treatments</h5>
							</div>
							<div class="icon">
								<i class="far fa-hospital"></i>
							</div>
						</div>

						<div
							class="small-box"
							style="background-color: #e2f516"
						>
							<div class="inner">
								<b
									>{{formObj.lostTimeInjuryCount||'No Data
									Found'}}</b
								>
								<h5>Lost Time Injury</h5>
							</div>
							<div class="icon">
								<i class="fas fa-user-injured"></i>
							</div>
						</div>

						<div class="small-box bg-orange">
							<div class="inner">
								<b
									>{{formObj.deathDataCount||'No Data
									Found'}}</b
								>
								<h5>Death</h5>
							</div>
							<div class="icon">
								<i class="fas fa-procedures"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="flex-container">
						<div
							class="small-box"
							style="background-color: #659ec7; color: #fff"
						>
							<div class="inner">
								<b
									>{{formObj.riskAssessmentResult||'No Data
									Found'}}</b
								>
								<h5>Risk Assessments</h5>
							</div>
							<div class="icon">
								<i class="fas fa-ambulance"></i>
							</div>
						</div>
						<div class="small-box bg-warning">
							<div class="inner">
								<b
									>{{formObj.riskAssessmentResult||'No Data
									Found'}}</b
								>
								<h5>SWMS</h5>
							</div>
							<div class="icon">
								<i class="ion ion-stats-bars"></i>
							</div>
						</div>
						<div class="small-box bg-danger">
							<div class="inner">
								<b
									>{{formObj.toolBoxResult||'No Data
									Found'}}</b
								>
								<h5>Tool Box Talks</h5>
							</div>
							<div class="icon">
								<i class="fas fa-toolbox"></i>
							</div>
						</div>
						<div class="small-box bg-cyan">
							<div class="inner">
								<b
									>{{formObj.siteInspectionResult||'No Data
									Found'}}</b
								>
								<h5>Incident Reports</h5>
							</div>
							<div class="icon">
								<i class="fas fa-clipboard-list"></i>
							</div>
						</div>
						<div
							class="small-box"
							style="background-color: #737ca1; color: #fff"
						>
							<div class="inner">
								<b>{{formObj.hazardResult||'No Data Found'}}</b>
								<h5>Hazard Reports</h5>
							</div>
							<div class="icon">
								<i class="fas fa-notes-medical"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 p-2">
			<table class="table table-bordered table-sm tab shadowBxSet">
				<thead>
					<tr>
						<th colspan="4" class="text-center">
							Corrective Actions
						</th>
					</tr>
					<tr>
						<th>Item</th>
						<th>Action</th>
						<th>Person Responsible</th>
						<th>Due Date</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let a of corrAct">
						<td>{{a.Item}}</td>
						<td>{{a.Action}}</td>
						<td>{{a.personResposibility}}</td>
						<td>{{a.date}}</td>
					</tr>
				</tbody>
			</table>
			<!-- pie Chart -->
			<div class="shadowBxSet">
				<canvas
					baseChart
					[datasets]="barChartData1"
					[labels]="barChartLabels1"
					[options]="barChartOptions1"
					[plugins]="barChartPlugins1"
					[legend]="barChartLegend1"
					[chartType]="barChartType1"
					[colors]="barChartColor1"
				>
				</canvas>
			</div>
		</div>
		<div class="col-md-3 p-2">
			<table class="table table-bordered tab shadowBxSet">
				<thead>
					<tr>
						<th colspan="4" class="text-center">
							Expiry Reminders
						</th>
					</tr>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Expiry Date</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let b of expRem">
						<td><b>{{b.name}}</b></td>
						<td>{{b.type}}</td>
						<td>{{b.expdate}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-3 p-2">
			<table class="table table-bordered tab shadowBxSet">
				<thead>
					<tr>
						<th colspan="2">WHS Audit and Forms Completed</th>
					</tr>
					<tr>
						<th>Audit</th>
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let c of auditAndForm">
						<td>{{c.audit}}</td>
						<td>{{c.quantity}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
