agm-map {
    // width:  500px;
    height: 300px;
  }



  // new DashBoard
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    
  }
  
  .flex-container > div {
    width: 135px;
    margin: 5px;
    // text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .small-box .icon>i.fa, .small-box .icon>i.fab, .small-box .icon>i.fad, .small-box .icon>i.fal, .small-box .icon>i.far, .small-box .icon>i.fas {
    font-size: 58px !important;
  } 
  .container{
    background-color: #F8F8FF;
    // border: 1px solid black;
    padding-top: 10px;
  }
  // .tab{
  //     // background-color: white;
  // }
  