<div *ngIf="false" class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard v1</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section *ngIf="false" class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>150</h3>

            <p>New Orders</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <p>Bounce Rate</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>44</h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>65</h3>

            <p>Unique Visitors</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- Main row -->
</section>
<!-- /.content -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="row">
          <div
            class="container"
            style="display: block; height: 200px; width: 400px"
          >
            <canvas
              baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [colors]="doughnutChartColor"
              [options]="chartOptions"
            >
            </canvas>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3">
            <div style="display: block; height: 100px; width: 200px">
              <p class="text-center m-0">Low</p>
              <canvas
                baseChart
                [data]="doughnutChartData1"
                [labels]="doughnutChartLabels1"
                [chartType]="doughnutChartType"
                [colors]="doughnutChartColor"
              >
              </canvas>
            </div>
          </div>
          <div class="col-3">
            <div style="display: block; height: 100px; width: 200px">
              <p class="text-center m-0">Medium</p>
              <canvas
                baseChart
                [data]="doughnutChartData2"
                [labels]="doughnutChartLabels1"
                [chartType]="doughnutChartType"
                [colors]="doughnutChartColor"
              >
              </canvas>
            </div>
          </div>
          <div class="col-3">
            <div style="display: block; height: 100px; width: 200px">
              <p class="text-center m-0">High</p>

              <canvas
                baseChart
                [data]="doughnutChartData3"
                [labels]="doughnutChartLabels1"
                [chartType]="doughnutChartType"
                [colors]="doughnutChartColor"
              >
              </canvas>
            </div>
          </div>
          <div class="col-3">
            <div style="display: block; height: 100px; width: 200px">
              <p class="text-center m-0">Critical</p>

              <canvas
                baseChart
                [data]="doughnutChartData4"
                [labels]="doughnutChartLabels1"
                [chartType]="doughnutChartType"
                [colors]="doughnutChartColor"
              >
              </canvas>
            </div>
          </div>
        </div>
        <div class="mt-4" style="margin-top: 20px">
          <div style="display: block">
            <canvas
              baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [colors]="barChartColor"
            >
            </canvas>
          </div>
        </div>
      </div>
      <!-- horizontal bar chart and map -->
      <div class="col-5">
        <!-- chart -->
        <div class="row">
          <div class="col-md-12">
            <div style="display: block">
              <canvas
                baseChart
                [datasets]="barChartDataH"
                [labels]="barChartLabelsH"
                [options]="barChartOptions"
                [legend]="barChartLegendH"
                [chartType]="barChartTypeH"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
                [colors]="horiztChartColor"
              ></canvas>
            </div>
          </div>
        </div>
        <!-- map -->
        <div class="row" style="margin-top: 120px; margin-left: 20px">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker
              *ngFor="let m of markers; let i = index"
              [latitude]="m.lat"
              [longitude]="m.lng"
            >
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</section>
