:host {
	min-width: 100vw;
	min-height: 100vh;
}

.content-wrapper {
	min-height: calc(100vh - 114px);
	height: 100%;
	padding: 1rem;
}

::ng-deep .cdk-overlay-container {
	z-index: 9999 !important;
}

app-main.hidden {
	display: none;
}

.hide {
	display: none;
}
