<form [formGroup]="editTitle" >
    <mat-form-field appearance="legacy"
    class="example-full-width" style="width: 498px;">
    <mat-label *ngIf="!dataRec">Add Licence Category</mat-label>
    <mat-label *ngIf="dataRec">Edit Licence Category</mat-label>
    <input matInput  formControlName="title" style="text-transform: capitalize !important;">
    </mat-form-field>
    <div class="row">
        <div class="col-sm-2 offset-8 ">
            <button mat-raised-button (click)="closeDialog()">Close</button>
        </div>
        <div class="col-sm-2  ">
            <button mat-raised-button *ngIf="dataRec" [disabled]="!editTitle.valid"(click)="onFormSubmit()">Update</button>
            <button mat-raised-button  *ngIf="!dataRec"  [disabled]="!editTitle.valid"(click)="addForm()">Add</button>
        </div>
    </div>
</form>   

