<section class="content">
    <div class="container px-4 py-4 bg-white">
        <h2>Add Customer</h2>
      
        <div class="row">
          <div class="my-3 col">
            <p for="exampleFormControlInput1" class="form-Label">Customer Name</p>
            <input
              type="text"
              class="form-control"
              id="siteName"
            />
          </div>
          <div class="my-3 col">
            <p for="exampleFormControlInput1" class="form-Label">Customer Contact</p>
            <input
              type="text"
              class="form-control"
              id="siteName"
            />
          </div>
        </div>
        <div class="row">
          <div class="my-3 col">
            <p for="exampleFormControlInput1" class="form-Label">Customer Contact Phone</p>
            <input
              type="text"
              class="form-control"
              id="siteName"
            />
          </div>
          <div class="my-3 col">
            <p for="exampleFormControlInput1" class="form-Label">Customer Email</p>
            <input
              type="text"
              class="form-control"
              id="siteName"
            />
          </div>
        </div> 
      
      <div class="btn btn-primary">
      Submit
      </div>
        <!-- <div class="row">
          <div class="my-3 col">
            <p for="exampleFormControlInput1" class="form-Label">
              Customer Contact Phone
            </p>
            <input
              type="text"
              class="form-control"
              formControlName="CustomerContactPhone"
              id="siteName"
            />
          </div>
          <div class="my-3 col">
            <p for="exampleFormControlInput1" class="form-Label">Project Manager</p>
            <input
              type="text"
              class="form-control"
              formControlName="projectManager"
              id="siteName"
            />
          </div>
        </div> -->
      </div>
    </section>
      