
<div class=" col ml-2 pt-2">
  <h2> Our Team List </h2>
  </div>
  <div class=" ">
    <table mat-table [dataSource]="dataSource">
  
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Images </th>
    <td mat-cell *matCellDef="let element">  <img
      src="{{ element.fileUrl }}"
      height="80px" width="80px" 
    /> </td>
  </ng-container>
  <ng-container matColumnDef="heading">
    <th mat-header-cell *matHeaderCellDef>Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>
  <ng-container matColumnDef="subTitle">
    <th mat-header-cell *matHeaderCellDef>Subtitle </th>
    <td mat-cell *matCellDef="let element"> {{element.subTitle}} </td>
  </ng-container>
  <!-- <ng-container matColumnDef="desc">
    <th mat-header-cell *matHeaderCellDef>Description </th>
    <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Main Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container> -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action </th>
    <td mat-cell *matCellDef="let element" (click)="editForm(element._id, false)"><i class="fas fa-pencil-alt mr-4"></i> </td>
  </ng-container>
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
 </div>
 <div class="row">
  <div class="col ml-2 mb-2">
    <button (click)="addForm('')" class="btn btn-outline-primary mt-1 mr-2 float-right">
      <i class="fas fa-plus mr-2"></i>Add Team 
    </button>
  </div>
</div>
<div class=" ">
  <table mat-table [dataSource]="dataSources">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.index}} </td>
    </ng-container>
<ng-container matColumnDef="images">
  <th mat-header-cell *matHeaderCellDef> Images </th>
  <td mat-cell *matCellDef="let element"> <img src="{{element.imageUrl}} " height="80px" width="80px" /> </td>
</ng-container>
<ng-container matColumnDef="title">
  <th mat-header-cell *matHeaderCellDef> Name </th>
  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
</ng-container>

<ng-container matColumnDef="action">
  <th mat-header-cell *matHeaderCellDef>Action </th>
  <td mat-cell *matCellDef="let element let i=index"><i class="fas fa-pencil-alt mr-2 " (click)="editForm(element._id, true,i)"></i><i class="fas fa-trash ml-2 mr-2"  (click)="delete(element)" title="delete"></i> </td>
</ng-container>
   <tr mat-header-row *matHeaderRowDef="displayedColumnss"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnss;"></tr>
  </table>
</div>

<!-- 
<section class="content">
  <div class="container-fluid">
    <div class="col pt-2">
      <h2 >Our Team List</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table table-hover text-wrap">
              <thead>
                <tr>
       
                  <th style="width: 30% text-center">Image</th>
                  <th style="width: 40% text-center">Title</th>
                  <th style="width: 40% text-center">Subtitle</th>
                  <th style="width: 40% text-center">Description</th>
                 
                  <th style="width: 10%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img
                      src="{{ teamData.fileUrl }}"
                      height="80px"
                      width="80px"
                    />
                  </td>

                  <td>{{ teamData.title }}</td>
                 
                  <td>{{ teamData.subTitle }}</td>
                  <td>{{ teamData.desc }}</td>
                  
                  <td>
                    <button
                    class="btn editBtn "
                      (click)="editForm(teamData._id, false)"
                    >
                      <i class="fas fa-pencil-alt " title="edit"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="row">
  <div class="col ml-2 mb-2">
    <button
      (click)="addForm('')"
      class="btn btn-outline-primary mt-1 mr-2 float-right"
    >
      <i class="fas fa-plus mr-2"></i>Add Team
    </button>
  </div>
</div>


  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <table class="table table-hover text-wrap">
              <thead>
                <tr>
                  <th style="width:10%">Index</th>
                  <th style="width: 40%">Photos</th>
                  <th style="width: 40%">Name</th>
                  <th style="width: 30%">Action</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of teamData.team; let i = index">
                  <td>{{i+1}}</td>
                  <td>
                    <img
                      src="{{ data.imageUrl }}"
                      height="80px"
                      width="80px"
                    />
                  </td>
                  <td>
                    {{ data.title }}
                  </td>
                  <td>
                    <button
                      (click)="editForm(data._id, true, i)"
                      class="btn editBtn mr-2"
                    >
                      <i class="fas fa-pencil-alt mr-2"></i>
                    </button>
                    <span
                   
                    (click)="deleteopen(deletemodal, data._id)"
                  >
                    <i class="fas fa-trash " aria-hidden="true"></i>
                </span>
                  </td>
                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #deletemodal let-modal>
  <div class="modal-header titel">
    <h2 class="modal-title titel" id="modal-basic-title">Are you sure?</h2>
  </div>
  <div class="modal-body deletebody">
    <p></p>
    <p>Do you want to delete this Client</p>
  </div>
  <div class="modal-footer footer">
    <button
      type="button"
      class="btn mr-3"
      style="background-color: #eeeeee"
      (click)="modal.dismiss('Save click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger ml-3"
      aria-label="Close"
      (click)="modal.close('Cross click')"
    >
      Delete
    </button>
  </div>
</ng-template> -->
