<section [formGroup]="editCustomerForm">
	<div>
		<div mat-dialog-title class="dialog-title">
			<h2>Update Customer</h2>
			<button
				type="button"
				class="close"
				style="font-size: 30px"
				(click)="close()"
				aria-label="Close"
			>
				<span aria-hidden="true">×</span>
			</button>
		</div>
		<div class="row">
			<div class="my-3 col">
				<p for="exampleFormControlInput1" class="form-Label">
					Customer Name
				</p>
				<input
					type="text"
					class="form-control"
					id="customerName"
					formControlName="customerName"
				/>
			</div>
			<div class="my-3 col">
				<p for="exampleFormControlInput1" class="form-Label">
					Customer Contact
				</p>
				<input
					type="text"
					class="form-control"
					id="customerContact"
					formControlName="customerContact"
				/>
			</div>
		</div>
		<div class="row">
			<div class="my-3 col">
				<p for="exampleFormControlInput1" class="form-Label">
					Street Address
				</p>
				<textarea
					type="text"
					class="form-control"
					id="streetAddress"
					formControlName="streetAddress"
				></textarea>
			</div>
			<div class="my-3 col">
				<p for="exampleFormControlInput1" class="form-Label">Suburb</p>
				<textarea
					autosize
					type="text"
					class="form-control"
					formControlName="suburb"
					id="siteName"
				></textarea>

				<!-- <p for="exampleFormControlInput1" class="form-Label">PostCode</p>
        <input type="text" class="form-control" id="postCode" formControlName="postCode" /> -->
			</div>
			<div class="my-3 col">
				<p for="exampleFormControlInput1" class="form-Label">State</p>
				<select
					class="form-select form-control"
					aria-label="Default select example"
					formControlName="stateId"
				>
					<option value="" selected hidden>Select State</option>
					<option
						*ngFor="let state of StatesData"
						[value]="state._id"
					>
						{{state.title}}
					</option>
				</select>
				<!-- <input
              type="text"
              class="form-control"
              id="customerState"
              formControlName="customerState"
            /> -->
			</div>
			<div class="my-3 col">
				<p for="exampleFormControlInput1" class="form-Label">
					Postal Code
				</p>
				<input
					numbersOnly
					type="text"
					class="form-control"
					id="postCode"
					formControlName="postCode"
				/>
			</div>
		</div>
		<div class="row">
			<div class="my-3 col">
				<p for="exampleFormControlInput1" class="form-Label">
					Australian Business Name (ABN)
				</p>
				<input
					type="text"
					class="form-control"
					id="ABN"
					formControlName="ABN"
				/>
			</div>
		</div>
		<ng-container formArrayName="contacts">
			<ng-container
				*ngFor="let control of customerArr().controls; let i = index"
				[formGroupName]="i"
			>
				<div>
					<h1>Contact {{i+1}}</h1>
					<div class="row">
						<div class="my-3 col-4">
							<p
								for="exampleFormControlInput1"
								class="form-Label"
							>
								Position
							</p>
							<input
								type="text"
								formControlName="position"
								class="form-control"
								id="position"
							/>
						</div>
						<div class="my-3 col-4">
							<p
								for="exampleFormControlInput1"
								class="form-Label"
							>
								Email
							</p>
							<input
								type="text"
								formControlName="email"
								class="form-control"
								id="email"
							/>
						</div>
						<div class="my-3 col-4">
							<p
								for="exampleFormControlInput1"
								class="form-Label"
							>
								Phone Number
							</p>
							<input
								type="text"
								formControlName="phone"
								class="form-control"
								id="phone"
							/>
						</div>

						<div>
							<span (click)="addCustomerDetails('','','')">
							</span>
						</div>
						<div>
							<span (click)="removeCustomerDetails(i)"> </span>
						</div>
					</div>
				</div>
				<hr />
			</ng-container>
		</ng-container>
		<!-- <div class="row">
          <div class="my-3 col">
            <p for="exampleFormControlInput1" class="form-Label">Customer Name</p>
            <input
              type="text"
              class="form-control"
              id="customerName"
              formControlName="customerName"
            />
          </div>
          <div class="my-3 col">
            <p for="exampleFormControlInput1" class="form-Label">Customer Contact</p>
            <input
              type="text"
              class="form-control"
              id="customerContact"
              formControlName="customerContact"
            />
          </div>
        </div>
        <div class="row">
          <div class="my-3 col">
            <p for="exampleFormControlInput1" class="form-Label">Customer Contact Phone</p>
            <input
              type="text"
              class="form-control"
              id="customerContactPhone"
              formControlName="customerContactPhone"
            />
          </div>
          <div class="my-3 col">
            <p for="exampleFormControlInput1" class="form-Label">Customer Email</p>
            <input
              type="text"
              class="form-control"
              id="customerEmail"
              formControlName="customerEmail"
            />
          </div>
        </div>  -->

		<div>
			<button class="btn btn-primary" (click)="onSubmit()">Update</button>
		</div>
	</div>
</section>
