<div class="container bg-white" [formGroup]="plantDetails">
  <div formArrayName="plantArr">
    <div *ngFor="let row of addEquip().controls; let filed2 = index">
      <div [formGroupName]="filed2">
        <div class="row">
          
    
          <div class="mb-3 mt-3 col-3">
            <label for="exampleFormControlInput1" class="form-label">Plant Type </label>
            <input type="text" formControlName="plantType" class="form-control" />
          </div>
          <div class="mb-3 mt-3 col-3">
            <label for="exampleFormControlInput1" class="form-label">Model Number</label>
            <input type="text" formControlName="modelNumber" class="form-control" />

          </div>
          
         
          <div class="mb-3 mt-3 col-2">
            <label for="exampleFormControlInput1" class="form-label">Serial Number</label>
            <input type="text" formControlName="serialNumber" class="form-control" />

          </div>
          
          <div class="mb-3 mt-3 col-2">
            <label for="exampleFormControlInput1" class="form-label">Service/Replacement Date</label>
            <input type="date" formControlName="serviceRenewDate" class="form-control" />

          </div>
          
          <div class="col-1 mt-4">
            <div class="my-4">
              <span class="material-icons" (click)="addEquipFiled2()">add_circle_outline
              </span>
            </div>

          </div>
          <div class="col-1 mt-4">
            <div class="my-4">
              <span class="material-icons" (click)="removeEquipFiled1(filed2)">
                remove_circle_outline
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="row">
        <div class="mb-3 mt-3 col-12">
          <label>Signature</label>
          <div class="sign">
            <signature-pad #signature2 [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
              (onEndEvent)="drawComplete2()"></signature-pad>
          </div>
        </div>
        <button class="btn btn-outline-primary btn_1" (click)="clear2()">
          Clear
        </button>
        <button type="submit"  class="btn btn-outline-primary btn_1" *ngIf="!dataPlant" [disabled]="!plantDetails.valid" >
          Submit
        </button>
        <button type="submit" class="btn btn-outline-primary btn_1" *ngIf="dataPlant" [disabled]="!plantDetails.valid" >
          Update
        </button>
      </div>
</div>

  