<div
	class="btn btn-outline-primary"
	*ngIf="!isHistory"
	[routerLink]="['/admin/registration/employeeRegistration']"
>
	<i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>
<div
	class="btn btn-outline-primary"
	*ngIf="isHistory"
	[routerLink]="['/admin/registration/plantRegistrationTable/'+empId]"
>
	<i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>
<div class="container bg-white">
	<mat-tab-group [selectedIndex]="selectValue">
		<ng-container [formGroup]="ppeDetails">
			<mat-tab
				label="PPE Register"
				[disabled]="(!ppeDataHistory) &&  isHistory"
				(click)="PPERegisteshow()"
			>
				<div formArrayName="PPEArr">
					<div
						*ngFor="let row of addPPE().controls; let filed1 = index"
					>
						<div [formGroupName]="filed1">
							<div class="row">
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>PPE Supplied</label
									>
									<input
										type="text"
										formControlName="PPESupplied"
										class="form-control disableDiv"
										id="siteName"
									/>
								</div>
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Brand or Type</label
									>
									<input
										type="text"
										formControlName="BrandOrType"
										class="form-control disableDiv"
									/>
								</div>
								<div class="mb-3 mt-3 col-2">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Issue Date</label
									>
									<input
										type="date"
										formControlName="IssueDate"
										class="form-control disableDiv"
									/>
								</div>
								<div class="mb-3 mt-3 col-2">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Replacement Date
									</label>
									<input
										type="date"
										formControlName="ReplacementDate"
										class="form-control disableDiv"
									/>
								</div>
								<div class="mb-3 mt-3 col-2" *ngIf="!isHistory">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										*ngIf="filed1===0"
										>Select PPE to Return </label
									><br />
									<input
										type="checkbox"
										formControlName="ppeCheck"
										value=""
										class="form-check-input mt-2"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="mb-3 mt-3 col-5">
						<label for="exampleFormControlInput1" class="form-label"
							>Manager Name</label
						>
						<input
							type="text"
							formControlName="managerName"
							[class.disableDiv]="isHistory"
							[matAutocomplete]="employee2"
							class="form-control"
						/>
						<mat-autocomplete
							#employee2="matAutocomplete"
							[displayWith]="displayFn"
						>
							<mat-option
								*ngFor="let option of filteredOptions1 | async ; let i = index "
								[value]="option"
							>
								{{option.fullName}}
							</mat-option>
						</mat-autocomplete>
					</div>
					<div class="mb-3 mt-3 col-5">
						<label
							for="exampleFormControlInput1"
							class="form-label"
						>
							Date</label
						>
						<input
							type="date"
							[class.disableDiv]="isHistory"
							formControlName="date"
							class="form-control"
						/>
					</div>
					<div class="mb-3 mt-3 col-12">
						<label>Signature</label>
						<div class="sign" [class.disableDiv]="isHistory">
							<signature-pad
								#signature1
								[options]="signaturePadOptions"
								(onBeginEvent)="drawStart()"
								(onEndEvent)="drawComplete()"
							></signature-pad>
						</div>
					</div>
					<button
						*ngIf="!isHistory"
						class="btn btn-outline-primary btn_1"
						(click)="clear()"
					>
						Clear
					</button>
					<button
						type="submit"
						*ngIf="!isHistory"
						(click)="peeSubmit()"
						class="btn btn-outline-primary btn_1"
						[disabled]="!ppeDetails.valid"
					>
						Submit
					</button>
				</div>
			</mat-tab>
		</ng-container>
		<ng-container [formGroup]="plantDetails">
			<mat-tab
				label="Plant/Equipment Register"
				[disabled]="(!plantDataHistory) &&  isHistory"
				(click)="addPlantshow()"
			>
				<div formArrayName="plantArr">
					<div
						*ngFor="let row of addEquip().controls; let filed2 = index"
					>
						<div [formGroupName]="filed2">
							<div class="row">
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Plant Type
									</label>
									<input
										type="text"
										formControlName="plantType"
										class="form-control disableDiv"
									/>
								</div>
								<div class="mb-3 mt-3 col-3">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Model Number</label
									>
									<input
										type="text"
										formControlName="modelNumber"
										class="form-control disableDiv"
									/>
								</div>

								<div class="mb-3 mt-3 col-2">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Serial Number</label
									>
									<input
										type="text"
										formControlName="serialNumber"
										class="form-control disableDiv"
									/>
								</div>

								<div class="mb-3 mt-3 col-2">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Service/Replacement Date</label
									>
									<input
										type="date"
										formControlName="serviceRenewDate"
										class="form-control disableDiv"
									/>
								</div>
								<div class="mb-3 mt-3 col-2" *ngIf="!isHistory">
									<label
										for="exampleFormControlInput1"
										class="form-label"
										>Select Plant to Return </label
									><br />
									<input
										type="checkbox"
										formControlName="plantCheck"
										value=""
										class="form-check-input mt-2"
									/>
								</div>
								<!-- <div class="col-1 mt-4">
              <div class="my-4">
                <span class="material-icons" (click)="addEquipFiled2()">add_circle_outline
                </span>
              </div>
  
            </div>
            <div class="col-1 mt-4">
              <div class="my-4">
                <span class="material-icons" (click)="removeEquipFiled1(filed2)">
                  remove_circle_outline
                </span>
              </div>
  
            </div> -->
							</div>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="mb-3 mt-3 col-5">
						<label for="exampleFormControlInput1" class="form-label"
							>Manager Name</label
						>
						<input
							type="text"
							formControlName="plantManagerName"
							[class.disableDiv]="isHistory"
							[matAutocomplete]="employee1"
							class="form-control"
						/>
						<mat-autocomplete
							#employee1="matAutocomplete"
							[displayWith]="displayFn"
						>
							<mat-option
								*ngFor="let option of filteredOptions2 | async ; let i = index "
								[value]="option"
							>
								{{option.fullName}}
							</mat-option>
						</mat-autocomplete>
					</div>
					<div class="mb-3 mt-3 col-5">
						<label
							for="exampleFormControlInput1"
							class="form-label"
						>
							Date</label
						>
						<input
							type="date"
							[class.disableDiv]="isHistory"
							formControlName="plantDate"
							class="form-control"
						/>
					</div>
					<div class="mb-3 mt-3 col-12">
						<label>Signature</label>
						<div class="sign" [class.disableDiv]="isHistory">
							<signature-pad
								#signature2
								[options]="signaturePadOptions"
								(onBeginEvent)="drawStart()"
								(onEndEvent)="drawComplete2()"
							></signature-pad>
						</div>
					</div>
					<button
						class="btn btn-outline-primary btn_1"
						*ngIf="!isHistory"
						(click)="clear2()"
					>
						Clear
					</button>
					<button
						type="submit"
						(click)="plantSubmit()"
						*ngIf="!isHistory"
						class="btn btn-outline-primary btn_1"
						[disabled]="!plantDetails.valid"
					>
						Submit
					</button>
				</div>
			</mat-tab>
		</ng-container>
	</mat-tab-group>
</div>
