/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap';

@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr';
@media print {
  body * {
    visibility: hidden;
  }
#section-to-print, #section-to-print * {
  visibility: visible !important;
}
#section-to-print {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
}
}
.flex-start {
  display: flex;
  justify-content: start;
  padding-left: 37%;
}
.mat-cell {
    text-align: center!important;
}

.mat-header-row > .mat-header-cell {
  text-align: center!important;
}

::-webkit-scrollbar {    
 width: 0;
 background: transparent;
}


section.content {
  background: #ffffff;
  padding: 15px 2%;
  box-shadow: rgb(17 17 26 / 5%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 0px 8px;
  height: 100vh;
}
section.content h1 {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  color: #343a40 !important;
}
.btnSet {
  text-align: center;
  padding: 0;
  color: #5d5d5d !important;
}
.editBtn i {
  color: #316123;
}
.viewBtn i {
  color: #007bff;
}
.deleteBtn i {
  color: #f00;
}
.paginationSet .pagination {
  justify-content: flex-end;
}
.card-footer {
  background: transparent;
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
  padding-bottom: 0;
}
.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
}
select.w-set {
  width: 70%;
  margin: 0 auto;
}

.main-sidebar {
  height: 100vh;
  overflow: unset !important;
  position: fixed;
}

.shadowBxSet {
  box-shadow: rgb(17 17 26 / 5%) 0px 1px 0px, rgb(17 17 26 / 10%) 0px 0px 8px;
  margin: 15px 2px;
  padding: 15px;
  border-radius: 10px;
  background: #ffffff;
}
ul.setCanvasList {
  padding: 0;

  li {
    list-style: none;
    display: inline-block;
    width: 25%;
  }
}

button:focus {
  outline: none !important;
}
.disableDiv{
  pointer-events:none;
  opacity: 0.5;
}