<div
	*ngIf="!isSetup"
	class="btn btn-outline-primary"
	[routerLink]="['/admin/registration/subcontract']"
>
	<i class="fa fa-arrow-left" aria-hidden="true"></i>
</div>

<div class="container bg-white" [formGroup]="subcontractDetails">
	<h1 class="text-center mt-3 pt-3">
		<p class="title">Subcontractor Information</p>
	</h1>
	<mat-tab-group>
		<mat-tab label="Profile" (click)="profileshow()">
			<div class="row">
				<div class="mb-3 mt-3 col-3">
					<label for="exampleFormControlInput1" class="form-label"
						>Company Name
					</label>
					<input
						type="text"
						formControlName="companyName"
						class="form-control"
						[class.is-invalid]="(f.companyName.touched || submitted) && f.companyName.errors"
					/>
					<div
						class="text-danger"
						*ngIf="f.companyName.touched &&f.companyName.errors"
					>
						<div *ngIf="f.companyName.errors.required">
							Company Name is required
						</div>
					</div>
				</div>
				<div class="mb-3 mt-3 col-3">
					<label for="exampleFormControlInput1" class="form-label"
						>Phone</label
					>
					<input
						type="text"
						formControlName="phone"
						class="form-control"
						[class.is-invalid]="(f.phone.touched || submitted) && f.phone.errors"
					/>
					<div
						class="text-danger"
						*ngIf="f.phone.touched &&f.phone.errors"
					>
						<div *ngIf="f.phone.errors.required">
							Phone is required
						</div>
						<div *ngIf="f.phone.errors.wrongNumber">
							Enter Valid Phone Number
						</div>
					</div>
				</div>

				<div class="mb-3 mt-3 col-3">
					<label for="exampleFormControlInput1" class="form-label"
						>Fax
					</label>
					<input
						type="text"
						formControlName="fax"
						class="form-control"
						[class.is-invalid]="(f.fax.touched || submitted) && f.fax.errors"
					/>
					<div
						class="text-danger"
						*ngIf="f.fax.touched && f.fax.errors"
					>
						<div *ngIf="f.fax.errors.required">Fax is required</div>
						<div *ngIf="f.fax.errors.wrongNumber">
							Enter Valid Fax Number
						</div>
					</div>
				</div>

				<div class="mb-3 mt-3 col-3">
					<label for="exampleFormControlInput1" class="form-label"
						>Email</label
					>
					<input
						type="text"
						formControlName="email"
						class="form-control"
						[class.is-invalid]="(f.email.touched || submitted) && f.email.errors"
					/>
					<div
						class="text-danger"
						*ngIf="f.email.touched && f.email.errors"
					>
						<div *ngIf="f.email.errors.required">
							Email is required
						</div>
						<div *ngIf="f.email.errors.email">
							Enter A Valid Email
						</div>
					</div>
				</div>
				<div class="mb-3 mt-3 col-3">
					<label for="exampleFormControlInput1" class="form-label"
						>Street Address
					</label>
					<textarea
						type="text"
						formControlName="streetAddress"
						class="form-control"
						[class.is-invalid]="(f.streetAddress.touched || submitted) && f.streetAddress.errors"
					>
					</textarea>
					<div
						class="text-danger"
						*ngIf="f.streetAddress.touched && f.streetAddress.errors"
					>
						<div *ngIf="f.streetAddress.errors.required">
							Stree tAddress is required
						</div>
					</div>
				</div>
				<div class="mb-3 mt-3 col-3">
					<label for="exampleFormControlInput1" class="form-label"
						>Suburb</label
					>
					<textarea
						type="text"
						formControlName="suburb"
						class="form-control"
						[class.is-invalid]="(f.suburb.touched || submitted) && f.suburb.errors"
					></textarea>
					<div
						class="text-danger"
						*ngIf="f.suburb.touched && f.suburb.errors"
					>
						<div *ngIf="f.suburb.errors.required">
							Suburb is required
						</div>
					</div>
				</div>
				<div class="mb-3 mt-3 col-3">
					<label for="exampleFormControlInput1" class="form-label"
						>State</label
					>
					<select
						class="form-select form-control col"
						aria-label="Default select example"
						formControlName="state"
						[class.is-invalid]="(f.state.touched || submitted) && f.state.errors"
					>
						<option selected hidden>Select</option>
						<option
							[value]="state._id"
							*ngFor="let state of StatesData"
						>
							{{state.title}}
						</option>
					</select>
					<div
						class="text-danger"
						*ngIf="f.state.touched && f.state.errors"
					>
						<div *ngIf="f.state.errors.required">
							State is required
						</div>
					</div>
				</div>

				<div class="mb-3 mt-3 col-3">
					<label for="exampleFormControlInput1" class="form-label"
						>Post Code</label
					>
					<input
						type="text"
						formControlName="postCode"
						class="form-control"
						numbersOnly
						[class.is-invalid]="(f.postCode.touched || submitted) && f.postCode.errors"
					/>
					<div
						class="text-danger"
						*ngIf="f.postCode.touched && f.postCode.errors"
					>
						<div *ngIf="f.postCode.errors.required">
							PostCode is required
						</div>
					</div>
				</div>
				<div class="mb-3 mt-3 col-3">
					<label for="exampleFormControlInput1" class="form-label"
						>ABN</label
					>
					<input
						type="text"
						formControlName="ABN"
						class="form-control"
						[class.is-invalid]="(f.ABN.touched || submitted) && f.ABN.errors"
					/>
					<div
						class="text-danger"
						*ngIf="f.ABN.touched && f.ABN.errors"
					>
						<div *ngIf="f.ABN.errors.required">ABN is required</div>
					</div>
				</div>
				<div class="mb-3 mt-3 col-3">
					<label for="exampleFormControlInput1" class="form-label"
						>Licence Number
					</label>
					<input
						type="text"
						formControlName="licenceNumber"
						class="form-control"
						[class.is-invalid]="(f.licenceNumber.touched || submitted) && f.licenceNumber.errors"
					/>
					<div
						class="text-danger"
						*ngIf="f.licenceNumber.touched && f.licenceNumber.errors"
					>
						<div *ngIf="f.licenceNumber.errors.required">
							Licence Number is required
						</div>
					</div>
				</div>
				<div class="mb-3 mt-3 col-3">
					<label for="exampleFormControlInput1" class="form-label"
						>Website
					</label>
					<input
						type="text"
						formControlName="website"
						class="form-control"
						[class.is-invalid]="(f.website.touched || submitted) && f.website.errors"
					/>
					<div
						class="text-danger"
						*ngIf="f.website.touched && f.website.errors"
					>
						<div *ngIf="f.website.errors.required">
							Website is required
						</div>
					</div>
				</div>
			</div>
			<button
				type="submit"
				class="btn btn-outline-primary btn_1"
				*ngIf="!dataEmp"
				[disabled]="!subcontractDetails.valid"
				(click)="onFormSubmit()"
			>
				Submit
			</button>
			<button
				type="submit"
				class="btn btn-outline-primary btn_1"
				*ngIf="dataEmp"
				[disabled]="!subcontractDetails.valid"
				(click)="onFormUpdate($event)"
			>
				Update
			</button>
		</mat-tab>
		<mat-tab label="Licence And Qualifications" (click)="LicenceInfoshow()">
			<div formArrayName="licenceAndQualifications">
				<div
					*ngFor="let row of addLicence().controls; let filed = index"
				>
					<div [formGroupName]="filed">
						<div class="row">
							<div class="mb-3 mt-3 col-3">
								<label
									for="exampleFormControlInput1"
									class="form-label"
									>Licence Name</label
								>
								<input
									type="text"
									formControlName="LicenceName"
									[matAutocomplete]="employee1"
									class="form-control"
									id="siteName"
								/>
								<mat-autocomplete
									#employee1="matAutocomplete"
									[displayWith]="displayFn"
								>
									<mat-option
										*ngFor="let option of licenceValueChanges[filed] | async ; let i = index "
										[value]="option"
									>
										{{option.title}}
									</mat-option>
								</mat-autocomplete>
							</div>
							<div class="mb-3 mt-3 col-3">
								<label
									for="exampleFormControlInput1"
									class="form-label"
									>Licence Number</label
								>
								<input
									type="text"
									formControlName="LicenceNumber"
									class="form-control"
								/>
							</div>
							<div class="mb-3 mt-3 col-3">
								<label
									for="exampleFormControlInput1"
									class="form-label"
									>Training Organisation</label
								>
								<input
									type="text"
									formControlName="TrainingQrginisation"
									class="form-control"
								/>
							</div>
							<div class="mb-3 mt-3 col-3">
								<label
									for="exampleFormControlInput1"
									class="form-label"
									>Expiry Date
								</label>
								<input
									type="date"
									formControlName="ExpiryDate"
									class="form-control"
								/>
							</div>
						</div>

						<div class="row">
							<div class="col-10">
								<div class="my-3">
									<label for="formFile1" class="form-label"
										>Upload Licence</label
									>
									<input
										class="form-control"
										type="file"
										(change)="browser($event,filed)"
									/>
								</div>
							</div>

							<div class="col-1 mt-4">
								<div class="my-4">
									<span
										class="material-icons"
										(click)="addFiled()"
										>add_circle_outline
									</span>
								</div>
							</div>
							<div class="col-1 mt-4">
								<div class="my-4">
									<span
										class="material-icons"
										(click)="removeFiled(filed)"
									>
										remove_circle_outline
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button
				type="submit"
				class="btn btn-outline-primary btn_1"
				*ngIf="!dataEmp"
				[disabled]="!subcontractDetails.valid"
				(click)="onFormSubmit()"
			>
				Submit
			</button>
			<button
				type="submit"
				class="btn btn-outline-primary btn_1"
				*ngIf="dataEmp"
				[disabled]="!subcontractDetails.valid"
				(click)="onFormUpdate($event)"
			>
				Update
			</button>
		</mat-tab>
	</mat-tab-group>
</div>
