<div class="col ml-2 pt-3">
	<h1>All Saved Forms Table</h1>
</div>
<div class="row" [formGroup]="searchControl">
	<div class="col-3">
		<mat-form-field>
			<input
				matInput
				#input
				placeholder="Search"
				[type]="(f.searchSelect.value === selectArr[2].value || f.searchSelect.value === selectArr[3].value) ? 'date':'text'"
				formControlName="searchInput"
				(keyup)="applyFilter($event)"
			/>
		</mat-form-field>
	</div>
	<div class="col-3">
		<mat-form-field>
			<mat-select formControlName="searchSelect">
				<mat-option>Clear</mat-option>
				<mat-option *ngFor="let item of selectArr" [value]="item.value"
					>{{item.title}}</mat-option
				>
			</mat-select>
			<mat-error *ngIf="f.searchSelect.hasError('required')"
				>You must make a selection</mat-error
			>
		</mat-form-field>
	</div>
	<div class="col-3">
		<button mat-raised-button (click)="search()">Search</button>
	</div>
	<div class="col-3">
		<button mat-raised-button (click)="reset()">Reset Filter</button>
	</div>
</div>
<div class=" ">
	<table mat-table [dataSource]="tempArray" matSort>
		<!-- Position Column -->
		<ng-container matColumnDef="formName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Form Id</th>
			<td mat-cell *matCellDef="let element;let i=index">
				{{element.formName}}
			</td>
		</ng-container>

		<!-- Name Column -->

		<!-- Name Column -->
		<ng-container matColumnDef="Name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Form Name</th>
			<td mat-cell *matCellDef="let element">Form Name</td>
		</ng-container>
		<ng-container matColumnDef="formType">
			<th mat-header-cell *matHeaderCellDef>Form Type</th>
			<td mat-cell *matCellDef="let element">{{element.fileType}}</td>
		</ng-container>
		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				Created Date
			</th>
			<td mat-cell *matCellDef="let element">
				{{element.createdAt|date:'mediumDate'}}
			</td>
		</ng-container>
		<ng-container matColumnDef="updatedAt">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				Updated Date
			</th>
			<td mat-cell *matCellDef="let element">
				{{element.updatedAt|date:'mediumDate'}}
			</td>
		</ng-container>
		<ng-container matColumnDef="Action">
			<th mat-header-cell *matHeaderCellDef>Action</th>
			<td mat-cell *matCellDef="let element">
				<div style="display: flex; justify-content: space-around">
					<span
						class="material-icons"
						matTooltip="Edit"
						(click)="edit(element._id,element.fileType)"
					>
						edit
					</span>
					<span
						class="material-icons"
						matTooltip="print"
						(click)="printPage(element,element.fileType)"
					>
						print
					</span>
				</div>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">Data Not Found</td>
		</tr>
	</table>
	<mat-paginator
		[pageSizeOptions]="[5,10,20,30]"
		[length]="totalCount"
		showFirstLastButtons
		aria-label="Select page of periodic elements"
		(page)="paginator($event)"
	>
	</mat-paginator>
</div>
