.container {
    background-color: white;
  }
  
  label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
  }
  label {
    margin-bottom: 4%;
    margin-top: 2%;
  }
  
  label {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    word-break: break-word;
    font-family: Inter, sans-serif;
    table {
      width: 100%;
    }
    .table td,
    .table th {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
      text-align: center;
    }
  
    .modal-header.titel {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 1rem;
      border-bottom: 1px solid #e9ecef;
      border-top-left-radius: calc(0.3rem - 1px);
      border-top-right-radius: calc(0.3rem - 1px);
    }
  
    .modal-body.deletebody {
      text-align: center;
      font-size: 16px;
    }
    .modal-footer.footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 0.75rem;
      border-top: 1px solid #e9ecef;
      border-bottom-right-radius: calc(0.3rem - 1px);
      border-bottom-left-radius: calc(0.3rem - 1px);
    }
  
    ::ng-deep.modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 50%);
      outline: 0;
    }
  
    .inputalign {
      margin-left: 4%;
      max-width: 430px;
    }
    .modalheader {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
  
  ::ng-deep .mat-checkbox .mat-checkbox-inner-container {
    width: 30px;
    height: 30px;
  }
  .form-check-input:hover {
    border-color: rgba(46, 105, 255, 0.5);
    box-shadow: 0 0 0 2px rgb(46 105 255 / 25%);
  }
  .form-check-input {
    width: 25px;
    height: 25px;
  }
  
  input[type='file'] {
    height: 10%;
    padding: 0%;
  }
  .pt-3 {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    word-break: break-word;
    font-family: Inter, sans-serif;
  }
  
  .h5 {
    font-weight: 400;
    font-size: 20px;
  }
  
  body {
    background-color: #eee;
  }
  input[type='checkbox'] {
    border: 5px solid rgb(0, 217, 255);
    box-shadow: 10px solid rgb(0, 217, 255);
    position: relative;
    border-radius: 2px;
    height: 15px;
    width: 15px;
    // margin-top: 1px;
  }
  
  // input[type="checkbox"]:checked+span::after
  // {
  //     box-shadow:10px solid rgb(0, 217, 255);
  //     border:5px solid rgb(0, 217, 255);
  //     position:relative;
  //     border-radius: 3px;
  //     height:20px;
  //     width:20px;
  
  // }
  
  input[type='checkbox']:hover {
    border: 1px solid;
    border-color: #2e69ff40;
    box-shadow: 0 0 0 3px rgb(46, 105, 255, 0.25);
    height: 15px;
    width: 15px;
    //  margin-top: 1px;
  }
  
  input[type='checkbox']:focus {
    border: 1px solid;
    border-color: #2e69ff40;
    box-shadow: 0 0 0 3px rgb(46, 105, 255, 0.25);
    height: 15px;
    width: 15px;
  }
  .box {
    padding: 1px 9px;
    box-shadow: 10px solid rgb(0, 183, 255);
  }
  input:focus {
    // border:  2px solid dodgerblue;
    box-shadow: 3px solid dodgerblue;
  }
  
  textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
  }
  
  .sign {
    padding: 10px;
    border: 1px solid rgba(46, 105, 255, 0.5);
    width: 500px;
    border-radius: 5px;
  }
  .sign:hover {
    border: 1px solid;
    border-color: #2e69ff40;
    box-shadow: 0 0 0 3px rgb(46, 105, 255, 0.25);
  }
  
  .form-control:hover {
    border-color: rgba(46, 105, 255, 0.5);
    box-shadow: 0 0 0 2px rgb(46 105 255 / 25%);
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .form-dropdown {
    padding: 0 1.875em 0 0.625em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='240' height='240'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z'/%3E%3C/svg%3E");
    background-position: right 10px bottom 50%;
    background-size: 0.925em;
  
    background-repeat: no-repeat;
  }
  
  .title {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
    font-family: Inter, sans-serif;
  }
  .form-Label {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    word-break: break-word;
    font-family: Inter, sans-serif;
    width: 100%;
    margin-left: 2px;
    margin-bottom: 14px;
  }
  
  .imageStud {
    height: 200px;
    width: 250px;
    border: 2px solid #2e69ff;
    border-radius: 10px;
  }
  .outline:hover {
    border: 1px solid;
    border-color: #2e69ff00;
    box-shadow: 0 0 0 3px rgba(46, 105, 255, 0);
  }
  .bt-style {
    border-radius: 20px;
  }
  